Repository luanti-org/luanti, pull requests merged in 2018-05, with the labels that each got.

#7297 Fix builtin inventory list crash when size = 0
  src/remoteplayer.cpp
  src/script/cpp_api/s_item.cpp
  src/server.cpp
Labels: >= Two approvals, @ Server / Client / Env., Bugfix

#7299 Mgv7: Code cleanup
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_v7.h
Labels: @ Mapgen, Maintenance, Trivial

#7307 Fix luajit include not being found
  cmake/Modules/FindLuaJIT.cmake
Labels: @ Build, Bugfix, Trivial

#7313 Fix crash guiConfirmRegistration quit menu
  src/gui/guiConfirmRegistration.cpp
Labels: Bugfix, Trivial

#7319 Camera: Improve subpixel movement
  src/game.cpp
Labels: @ Client / Audiovisuals, One approval

#7332 Make sure color returns to normal after a damage flash
  src/content_cao.cpp
  src/content_cao.h
Labels: @ Client / Audiovisuals, Bugfix, One approval, Trivial

#7329 Vertical biome blend: Tune PRNG seed for finer detail
  src/mapgen/mg_biome.cpp
Labels: @ Mapgen, Maintenance, One approval

#7337 Don't show Android edit dialog when tapping read-only field
  src/gui/guiFormSpecMenu.cpp
Labels: >= Two approvals, Android

#7338 Say position of locale dir more clearly in docs
  doc/lua_api.txt
Labels: @ Documentation, Maintenance, Trivial

#7342 Pointed_thing_to_face_pos: Fix crash when inside a node
  builtin/common/misc_helpers.lua
Labels: @ Builtin, Bugfix

#7253 Add updating to online content repository
  builtin/mainmenu/dlg_contentstore.lua
  builtin/mainmenu/pkgmgr.lua
  src/content/content.cpp
  src/content/content.h
  src/content/mods.cpp
  src/content/mods.h
  src/content/packages.cpp
  src/content/packages.h
  src/content/subgames.cpp
  src/content/subgames.h
  src/script/lua_api/l_mainmenu.cpp
Labels: @ Mainmenu, Feature, One approval

#7350 Player marker on both minimaps
  src/minimap.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Feature

#7305 Small usage changes for air and ignore items
  builtin/game/chatcommands.lua
  builtin/game/register.lua
Labels: >= Two approvals, @ Server / Client / Env., Bugfix

#7326 Fix missing ignore textures
  builtin/game/register.lua
  src/nodedef.cpp
  src/script/lua_api/l_item.cpp
Labels: >= Two approvals, Bugfix

#7359 Dungeons: Fix duplication of y limit parameters
  src/mapgen/dungeongen.cpp
  src/mapgen/dungeongen.h
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen_v6.cpp
Labels: @ Mapgen, Maintenance, Trivial

#7365 Schematic decorations: Fix placement bug when centred and rotated
  src/mapgen/mg_decoration.cpp
Labels: @ Mapgen, @ Script API, Bugfix, Trivial

#7371 Vein ore: Fix bug caused by changing perlinmap Y size
  src/mapgen/mg_ore.cpp
  src/mapgen/mg_ore.h
Labels: >= Two approvals, @ Mapgen, Bugfix

#7376 Print error when HOME is not set
  src/porting.cpp
Labels: @ Startup / Config / Util, Bugfix, One approval, Trivial

#7388 Mgv7: Avoid rivergen removing mod-placed nodes when overgenerating
  src/mapgen/mapgen_v7.cpp
Labels: @ Mapgen, Bugfix, Trivial

#7380 Fix isNan on setYaw Lua call
  doc/client_lua_api.txt
  doc/lua_api.txt
  src/script/lua_api/l_base.cpp
  src/script/lua_api/l_base.h
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_util.cpp
  src/script/lua_api/l_util.h
Labels: @ Client Script API, @ Script API, Bugfix, One approval
