Repository luanti-org/luanti, pull requests merged in 2019-06, with the labels that each got.

#8473 Dungeons: Settable density noise, move number calculation to mapgens
  builtin/settingtypes.txt
  src/mapgen/dungeongen.cpp
  src/mapgen/dungeongen.h
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
  src/mapgen/mapgen_carpathian.cpp
  src/mapgen/mapgen_carpathian.h
  src/mapgen/mapgen_flat.cpp
  src/mapgen/mapgen_flat.h
  src/mapgen/mapgen_fractal.cpp
  src/mapgen/mapgen_fractal.h
  src/mapgen/mapgen_v5.cpp
  src/mapgen/mapgen_v5.h
  src/mapgen/mapgen_v6.cpp
  src/mapgen/mapgen_v6.h
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_v7.h
  src/mapgen/mapgen_valleys.cpp
  src/mapgen/mapgen_valleys.h
Labels: @ Mapgen, Feature, Maintenance, One approval

#8573 HTTP API: Allow binary downloads and headers
  builtin/game/features.lua
  doc/lua_api.txt
  src/script/common/c_converter.cpp
  src/script/common/c_converter.h
  src/script/common/helper.cpp
  src/script/lua_api/l_http.cpp
Labels: @ Script API, Bugfix, One approval

#8572 Remove modstore leftovers. Fix core.show_path_select_dialog documentation
  builtin/mainmenu/tab_content.lua
  doc/menu_lua_api.txt
Labels: Maintenance, Trivial

#8350 Damage: Play no damage sound when immortal
  src/content_sao.cpp
  src/content_sao.h
  src/network/serverpackethandler.cpp
  src/server.cpp
Labels: @ Server / Client / Env., Bugfix

#8535 Save forceloaded blocks file periodically
  builtin/game/forceloading.lua
Labels: >= Two approvals, @ Server / Client / Env., Feature

#8317 Add compatibility to vcpkg buildsystem
  README.md
  cmake/Modules/FindCURL.cmake
  cmake/Modules/FindIrrlicht.cmake
  cmake/Modules/FindLuaJIT.cmake
  src/CMakeLists.txt
  src/serialization.cpp
Labels: >= Two approvals, @ Build, @ Documentation, Testing needed

#7688 Add disable_jump to liquids and ladders
  src/client/localplayer.cpp
  src/client/localplayer.h
  src/collision.cpp
  src/collision.h
Labels: @ Client / Controls / Input, @ Script API, Feature, One approval

#8348 Formspecs: Close on metadata removal
  src/client/game.cpp
  src/client/gameui.cpp
  src/client/gameui.h
  src/gui/guiFormSpecMenu.h
Labels: @ Client / Audiovisuals, Formspec, One approval

#8590 Settings: Disallow space characters entirely
  src/settings.cpp
Labels: @ Script API, Bugfix, High priority, One approval

#8550 Use CDB author and name in installed package's config
  builtin/mainmenu/dlg_contentstore.lua
Labels: >= Two approvals, @ Content/PkgMgr, Bugfix

#8505 Android: Use system provided path for default TMPFolder setting
  src/defaultsettings.cpp
Labels: >= Two approvals, @ Startup / Config / Util, Android, Bugfix

#7977 Mapgen Carpathian: Add optional rivers
  builtin/settingtypes.txt
  src/mapgen/mapgen_carpathian.cpp
  src/mapgen/mapgen_carpathian.h
Labels: @ Mapgen, Feature, Maintenance, One approval

#8606 Update copyright notice to 2019
  README.md
Labels: @ Documentation, One approval, Trivial

#8600 Add support for 9-sliced backgrounds
  doc/lua_api.txt
  src/client/guiscalingfilter.cpp
  src/client/guiscalingfilter.h
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: >= Two approvals, @ Client / Audiovisuals, Feature request, Formspec

#8618 Increase upper limit of display_gamma
  builtin/settingtypes.txt
  src/light.cpp
Labels: @ Client / Audiovisuals, Maintenance, One approval, Trivial

#8524 Add compatible, consistent coordinate system to FormSpecs.
  doc/lua_api.txt
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: >= Two approvals, @ Client / Audiovisuals, Feature, Formspec

#7851 Optimize and unify mesh processing
  src/client/mesh.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Maintenance, Performance

#8594 Dungeongen: Remove hardcoded dungeon nodes
  doc/lua_api.txt
  src/mapgen/dungeongen.h
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
Labels: @ Documentation, @ Mapgen, Maintenance, One approval
