Repository luanti-org/luanti, pull requests merged in 2019-11, with the labels that each got.

#9081 Add debug.txt.1 to .gitignore
  .gitignore
Labels: Trivial

#9088 Improve documentation around banning
  builtin/game/chat.lua
  doc/lua_api.txt
Labels: @ Documentation, @ Script API, One approval

#8740 Make formspec elements real elements for draw order and clipping
  build/android/jni/Android.mk
  doc/lua_api.txt
  src/client/guiscalingfilter.cpp
  src/client/guiscalingfilter.h
  src/gui/CMakeLists.txt
  src/gui/guiBackgroundImage.cpp
  src/gui/guiBackgroundImage.h
  src/gui/guiBox.cpp
  src/gui/guiBox.h
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiItemImage.cpp
  src/gui/guiItemImage.h
  src/network/networkprotocol.h
Labels: >= Two approvals, Feature, Formspec

#8928 Randomwalk caves: Add parameters for number and proportion flooded. Allow small randomwalk caves
  builtin/settingtypes.txt
  src/mapgen/cavegen.cpp
  src/mapgen/cavegen.h
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
  src/mapgen/mapgen_carpathian.cpp
  src/mapgen/mapgen_carpathian.h
  src/mapgen/mapgen_flat.cpp
  src/mapgen/mapgen_flat.h
  src/mapgen/mapgen_fractal.cpp
  src/mapgen/mapgen_fractal.h
  src/mapgen/mapgen_v5.cpp
  src/mapgen/mapgen_v5.h
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_v7.h
  src/mapgen/mapgen_valleys.cpp
  src/mapgen/mapgen_valleys.h
Labels: @ Mapgen, Feature, One approval

#7926 Make core.get_favorites("local") ignore duplicates
  src/serverlist.cpp
Labels: @ Mainmenu, Bugfix, One approval

#9093 Tunnels: Completely disable generation when 'cave width' >= 10
  builtin/settingtypes.txt
  src/mapgen/mapgen.cpp
Labels: @ Mapgen, Feature, Trivial

#9095 Silence invalid Clang Format report
  util/travis/clang-format-whitelist.txt
Labels: @ Build, Maintenance, Trivial

#9094 Randomwalk caves: Extend beyond mapchunk vertically also
  src/mapgen/cavegen.cpp
Labels: @ Mapgen, Feature, Trivial

#9100 Call on_secondary_use when object is right-clicked
  doc/lua_api.txt
  src/network/serverpackethandler.cpp
  src/script/cpp_api/s_item.cpp
  src/script/cpp_api/s_item.h
Labels: @ Script API, Bugfix, One approval

#9115 Optimize semaphore wait with zero timeout on POSIX
  src/threading/semaphore.cpp
Labels: Maintenance, One approval, Trivial

#9120 Fix find_path for newer jsoncpp installations
  cmake/Modules/FindJson.cmake
Labels: Bugfix, Maintenance, Trivial

#9105 Randomwalk cave liquids: Remove deprecated 'lava depth' parameter
  builtin/settingtypes.txt
  src/mapgen/cavegen.cpp
  src/mapgen/cavegen.h
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
  src/mapgen/mapgen_carpathian.cpp
  src/mapgen/mapgen_carpathian.h
  src/mapgen/mapgen_flat.cpp
  src/mapgen/mapgen_flat.h
  src/mapgen/mapgen_fractal.cpp
  src/mapgen/mapgen_fractal.h
  src/mapgen/mapgen_v5.cpp
  src/mapgen/mapgen_v5.h
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_v7.h
  src/mapgen/mapgen_valleys.cpp
  src/mapgen/mapgen_valleys.h
Labels: @ Mapgen, Maintenance, Trivial

#9114 Rework packet receiving in ServerThread
  src/network/connection.cpp
  src/network/connection.h
  src/network/networkpacket.cpp
  src/network/networkpacket.h
  src/server.cpp
Labels: @ Server / Client / Env., Bugfix, One approval

#9134 Move duplicated mapgen parameters to class MapgenBasic
  src/mapgen/mapgen.h
  src/mapgen/mapgen_carpathian.h
  src/mapgen/mapgen_flat.h
  src/mapgen/mapgen_fractal.h
  src/mapgen/mapgen_v5.h
  src/mapgen/mapgen_v7.h
  src/mapgen/mapgen_valleys.h
Labels: @ Mapgen, Maintenance, One approval, Trivial

#9121 Formspec: Fix priorities for version < 3
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: Bugfix, Formspec, One approval

#9135 Improve client-side packet receiving
  src/client/client.cpp
  src/client/client.h
Labels: @ Client / Audiovisuals, @ Network, Maintenance, One approval

#9133 Use a safer implementation of gsub in core.chat_format_message
  builtin/game/chat.lua
Labels: >= Two approvals, Bugfix
