Repository luanti-org/luanti, pull requests merged in 2020-06, with the labels that each got.

#9896 Potential fix for GUI scaling filter clipping animated images and 9slice backgrounds
  src/client/imagefilters.cpp
Labels: >= Two approvals, Bugfix, Formspec

#9975 ContentCAO: Update light of all attached entities
  src/client/clientenvironment.cpp
  src/client/clientobject.h
  src/client/content_cao.cpp
  src/client/content_cao.h
Labels: @ Client / Audiovisuals, Bugfix, One approval

#9954 Lua API: Log incorrect parameter types as error
  src/script/common/c_converter.cpp
Labels: Maintenance, One approval

#9968 Move shared parameters sending to UnitSAO
  src/client/content_cao.cpp
  src/server/luaentity_sao.cpp
  src/server/player_sao.cpp
  src/server/serveractiveobject.cpp
  src/server/unit_sao.cpp
  src/server/unit_sao.h
Labels: Code quality, Maintenance, One approval

#9944 Add buttons to ContentDB in game bar and configure world
  builtin/mainmenu/dlg_config_world.lua
  builtin/mainmenu/dlg_contentstore.lua
  builtin/mainmenu/tab_local.lua
  textures/base/pack/plus.png
Labels: @ Content/PkgMgr, @ Mainmenu, Feature, One approval

#9900 Show Toast in UI thread and fix unpacking on Android 10
  build/android/app/src/main/java/net/minetest/minetest/CopyZipTask.java
  build/android/app/src/main/java/net/minetest/minetest/MainActivity.java
  build/android/app/src/main/java/net/minetest/minetest/UnzipService.java
Labels: >= Two approvals, Android, Bugfix

#9994 [Trivial] TestBan: Cleanup properly after completing test
  src/unittest/test_ban.cpp
Labels: @ Unit Test, One approval, Trivial

#9721 Attempt to fix HUD scaling
  src/client/hud.cpp
  src/client/hud.h
Labels: >= Two approvals, @ Client / Audiovisuals, Android, Bugfix

#9998 Add HTTP API to main menu
  builtin/fstk/dialog.lua
  builtin/fstk/ui.lua
  builtin/init.lua
  builtin/mainmenu/dlg_contentstore.lua
  doc/fst_api.txt
  doc/menu_lua_api.txt
  src/script/lua_api/l_http.cpp
  src/script/lua_api/l_http.h
  src/script/scripting_mainmenu.cpp
Labels: @ Content/PkgMgr, @ Mainmenu, Feature, One approval

#9906 Restore visual_scale support for nodeboxes (and allfaces)
  doc/lua_api.txt
  src/client/content_mapblock.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Feature

#10000 Recalc mesh normals for CAOs
  src/client/content_cao.cpp
  src/client/mesh.cpp
  src/client/mesh.h
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix

#10002 Fix Lua panic when error() message is not a string
  src/script/cpp_api/s_base.cpp
Labels: Bugfix, Trivial

#10012 devtest: Improve tool and formspec usability
  games/devtest/mods/basetools/init.lua
  games/devtest/mods/testentities/visuals.lua
  games/devtest/mods/testtools/init.lua
Labels: Bugfix, One approval, Trivial

#10008 Fix player-to-object attachment teleport bug
  src/client/content_cao.cpp
Labels: >= Two approvals, @ Server / Client / Env., Bugfix

#8785 LuaItemStack: Add __tostring metamethod
  builtin/common/misc_helpers.lua
  src/inventory.cpp
  src/inventory.h
  src/script/lua_api/l_item.cpp
  src/script/lua_api/l_item.h
Labels: >= Two approvals, @ Script API, Feature

#9572 Some vector functions useful for working with rotations
  builtin/common/tests/vector_spec.lua
  builtin/common/vector.lua
  doc/lua_api.txt
Labels: >= Two approvals, @ Builtin, @ Script API, Feature

#9969 Fix broken coloring of wielditems
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  src/client/wieldmesh.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix

#10021 content_cao: Do not expire visuals for texture updates
  src/client/content_cao.cpp
Labels: @ Client / Audiovisuals, Bugfix, One approval

#10006 Use multiple light positions for CAO lighting
  src/client/clientobject.h
  src/client/content_cao.cpp
  src/client/content_cao.h
Labels: @ Client / Audiovisuals, Bugfix, One approval

#9982 Add LevelDB player database.
  doc/minetest.6
  src/database/database-leveldb.cpp
  src/database/database-leveldb.h
  src/serverenvironment.cpp
Labels: >= Two approvals, @ Server / Client / Env., Feature

#9961 Server pushing media at runtime
  doc/lua_api.txt
  src/client/client.cpp
  src/client/client.h
  src/client/clientmedia.cpp
  src/client/clientmedia.h
  src/client/filecache.cpp
  src/client/filecache.h
  src/filesys.cpp
  src/network/clientopcodes.cpp
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/network/serveropcodes.cpp
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
  src/server.cpp
  src/server.h
Labels: @ Client / Audiovisuals, @ Script API, Feature, One approval

#9903 Properly implement exposing the zoom key
  doc/lua_api.txt
  src/client/game.cpp
  src/network/serverpackethandler.cpp
  src/script/lua_api/l_object.cpp
Labels: >= Two approvals, @ Script API, Feature

#10033 Make shading of CAOs optional
  client/shaders/object_shader/opengl_vertex.glsl
  doc/lua_api.txt
  games/devtest/mods/testentities/visuals.lua
  src/client/content_cao.cpp
  src/client/mesh.cpp
  src/client/shader.cpp
  src/client/tile.h
  src/object_properties.cpp
  src/object_properties.h
  src/script/common/c_content.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix

#10055 content_cao: Fix behavior of legacy "textures" field for wielditems
  src/client/content_cao.cpp
Labels: Bugfix, Trivial

#10052 Android: fix TMPFolder path
  src/defaultsettings.cpp
Labels: >= Two approvals, Android, Bugfix

#9943 Add warning when disabling secure.enable_security
  src/script/scripting_server.cpp
Labels: @ Script API, @ Startup / Config / Util, Maintenance, One approval

#10073 Android: Fix asset upgrade by renaming license file
  build/android/app/build.gradle
Labels: @ Build, @ Startup / Config / Util, Android, Bugfix, Trivial

#10086 Fix HTTP API not being available in async mainmenu
  src/script/lua_api/l_http.cpp
  src/script/lua_api/l_http.h
  src/script/scripting_mainmenu.cpp
Labels: @ Mainmenu, Bugfix, Trivial

#10089 Disable pgsql in VS 2019 workflow
  .github/workflows/build.yml
Labels: Bugfix, Trivial

#10092 Document deprecation of *_hovered and *_pressed styles
  doc/lua_api.txt
Labels: @ Documentation, Formspec, One approval, Trivial

#10080 Android: fix maxAspectRatio (should be float)
  build/android/app/src/main/AndroidManifest.xml
Labels: @ Client / Audiovisuals, Android, Bugfix, One approval, Trivial

#10094 Fix wrong use of guiScalingImageButton in formspecs buttons
  src/gui/guiButton.cpp
  src/gui/guiButtonImage.cpp
Labels: Bugfix, Formspec, One approval

#10015 Fix bone-attached entities
  src/client/content_cao.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix
