Repository luanti-org/luanti, pull requests merged in 2020-09, with the labels that each got.

#9349 [2] Code cleanup in serverpackethandler
  src/network/serverpackethandler.cpp
Labels: >= Two approvals, @ Server / Client / Env., Code quality

#10329 Mark multiply and divide with two vectors as deprecated (Schur product and quotient)
  doc/lua_api.txt
Labels: >= Two approvals, @ Builtin, @ Script API

#10185 Change default ambient occlusion gamma to 1.8
  src/defaultsettings.cpp
Labels: >= Two approvals, @ Client / Audiovisuals

#10276 Add 'ores' global mapgen flag
  builtin/settingtypes.txt
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
  src/mapgen/mapgen_carpathian.cpp
  src/mapgen/mapgen_flat.cpp
  src/mapgen/mapgen_fractal.cpp
  src/mapgen/mapgen_v5.cpp
  src/mapgen/mapgen_v6.cpp
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_valleys.cpp
Labels: @ Mapgen, Feature, One approval

#10225 Scale inventory image for scaled allfaces nodes
  games/devtest/mods/testnodes/drawtypes.lua
  src/client/wieldmesh.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix

#10312 Devtest: Extend item tooltips and other help
  games/devtest/README.md
  games/devtest/mods/basenodes/init.lua
  games/devtest/mods/basetools/init.lua
  games/devtest/mods/bucket/init.lua
  games/devtest/mods/chest/init.lua
  games/devtest/mods/chest_of_everything/init.lua
  games/devtest/mods/experimental/items.lua
  games/devtest/mods/soundstuff/init.lua
  games/devtest/mods/testentities/armor.lua
  games/devtest/mods/testnodes/light.lua
  games/devtest/mods/testpathfinder/init.lua
  games/devtest/mods/testtools/init.lua
Labels: >= Two approvals, @ Documentation, Devtest game

#10359 Prevent interacting with items out of the hotbar.
  src/network/serverpackethandler.cpp
Labels: >= Two approvals, Bugfix

#10353 Inventory: Protect Craft and Drop actions
  src/network/serverpackethandler.cpp
Labels: @ Network, Bugfix

#10376 Darwin platform build fix proposal.
  src/client/camera.cpp
  src/client/clientenvironment.cpp
  src/client/event_manager.h
  src/client/localplayer.cpp
  src/client/shader.cpp
  src/client/sound_openal.cpp
  src/mtevent.h
Labels: Bugfix, Mac OS, One approval

#10378 NetBSD enable cpu affinity.
  src/threading/thread.cpp
Labels: @ Build, One approval, Trivial

#10317 Remove Thread::kill() and related unittest
  src/threading/thread.cpp
  src/threading/thread.h
  src/unittest/test_threading.cpp
Labels: >= Two approvals, Bugfix

#10313 Remove "generate normal maps" feature
  builtin/mainmenu/tab_settings.lua
  builtin/settingtypes.txt
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  minetest.conf.example
  src/client/shader.cpp
  src/defaultsettings.cpp
  src/settings_translation_file.cpp
Labels: >= Two approvals, Shaders

#10129 lua_api.txt: author, release and title fields when downloading from ContentDB
  doc/lua_api.txt
Labels: >= Two approvals, @ Documentation

#10075 Clean up server-side translations, remove global variable
  src/client/client.cpp
  src/filesys.cpp
  src/filesys.h
  src/script/lua_api/l_env.cpp
  src/server.cpp
  src/server.h
  src/serverlist.cpp
  src/translation.cpp
  src/translation.h
Labels: @ Server / Client / Env., @ Translation, Code quality, Maintenance, One approval

#10413 Record player existence in dymmy database.
  src/database/database-dummy.cpp
  src/database/database-dummy.h
Labels: Bugfix, One approval

#10399 Fix chat/infotext overlap if many chat lines
  src/client/gameui.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix

#10103 Ability to remove minetest.after once set
  builtin/common/after.lua
  doc/lua_api.txt
Labels: >= Two approvals, @ Script API, Feature

#10419 Replace MyEventReceiver KeyList with std::unordered_set
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/client/keycode.h
Labels: >= Two approvals, @ Client / Controls / Input, Maintenance

#10417 Fix connection bug of hardware-colored framed glass
  src/client/content_mapblock.cpp
Labels: @ Client / Audiovisuals, Bugfix, Trivial

#10427 use decrement(value) method to decrease average lag metric
  src/server.cpp
Labels: Bugfix, One approval, Trivial

#10433 Remove null bytes from TOCLIENT_BLOCKDATA
  src/server.cpp
Labels: Bugfix, Trivial

#10414 enable luajit on the docker image
  Dockerfile
Labels: >= Two approvals, @ Build

#10177 Log server announce on updates and deletes too
  src/serverlist.cpp
Labels: One approval

#10340 Patch fast/teleport vulnerability when attached to an entity
  src/server/player_sao.cpp
Labels: >= Two approvals, @ Server / Client / Env., Bugfix, High priority

#10034 Android: replace InputDialogActivity on simple dialog window
  build/android/app/src/main/AndroidManifest.xml
  build/android/app/src/main/java/net/minetest/minetest/CustomEditText.java
  build/android/app/src/main/java/net/minetest/minetest/GameActivity.java
  build/android/app/src/main/java/net/minetest/minetest/InputDialogActivity.java
  build/android/app/src/main/res/values/styles.xml
Labels: Android, Maintenance, One approval

#10441 Update wording of game descriptions in installer
  CMakeLists.txt
Labels: >= Two approvals, Maintenance

#10407 Improve MSVC cmake and update vcpkg instruction
  README.md
  src/CMakeLists.txt
Labels: >= Two approvals, @ Build, Windows

#10366 Improve layout of main menu local tab
  builtin/mainmenu/tab_local.lua
Labels: @ Mainmenu, Maintenance, One approval
