Repository luanti-org/luanti, pull requests merged in 2020-07, with the labels that each got.

#10133 Fix undeclared global in devtest
  games/devtest/mods/experimental/commands.lua
Labels: Bugfix, Trivial

#10143 FormSpec: Don't stop style parsing on unknown property
  src/gui/guiFormSpecMenu.cpp
Labels: Bugfix, Formspec, One approval, Trivial

#10025 Apply camera smoothing to 'not touching_ground' stepheight
  src/client/camera.cpp
Labels: @ Client / Audiovisuals, Blocker, Bugfix, One approval

#10145 Fix player controls only being applied for the first move
  src/client/client.cpp
  src/client/clientenvironment.cpp
Labels: @ Client / Controls / Input, Blocker, Bugfix, One approval

#9496 Make dropdowns optionally return event based on index, not value
  doc/lua_api.txt
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/network/networkprotocol.h
Labels: >= Two approvals, Formspec

#10090 Remove std::shared_ptr use in TileLayer
  src/client/tile.h
  src/nodedef.cpp
  src/nodedef.h
Labels: One approval, Performance

#10054 Bump animation frame count from u8 to u16
  src/client/tile.h
Labels: Bugfix, One approval

#9353 Allow FormSpec elements to be focused with `set_focus`
  doc/lua_api.txt
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: >= Two approvals, Feature, Formspec

#9405 Add reconnect button on error: Too many players
  src/network/clientpackethandler.cpp
Labels: >= Two approvals, Feature, Trivial

#9763 Add FormSpec font styling options
  doc/lua_api.txt
  src/client/fontengine.cpp
  src/client/fontengine.h
  src/gui/StyleSpec.h
  src/gui/guiButton.cpp
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: >= Two approvals, Feature, Formspec

#10160 Cleanup ClientLauncher
  src/client/clientlauncher.cpp
  src/client/clientlauncher.h
  src/client/game.cpp
  src/client/game.h
  src/client/inputhandler.h
  src/gameparams.h
  src/main.cpp
Labels: Code quality, One approval

#9888 Implement grouped mode for find_nodes_in_area
  doc/client_lua_api.txt
  doc/lua_api.txt
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_env.h
Labels: @ Script API, Feature, One approval

#10128 Formspecs: volume and key settings windows can now be closed by doubleclicking/tapping
  src/gui/guiConfirmRegistration.cpp
  src/gui/guiEngine.h
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiKeyChangeMenu.cpp
  src/gui/guiMainMenu.h
  src/gui/guiPasswordChange.cpp
  src/gui/guiVolumeChange.cpp
  src/gui/modalMenu.cpp
  src/gui/modalMenu.h
Labels: >= Two approvals, Bugfix, Formspec

#10183 Revert "Auto delete MetaData when = 0"
  src/script/lua_api/l_metadata.cpp
Labels: @ Script API, Bugfix, One approval

#10182 Android: fix ConfirmRegistration and PasswordChange input and scale size
  src/gui/guiConfirmRegistration.cpp
  src/gui/guiPasswordChange.cpp
Labels: @ Client / Audiovisuals, Android, High priority, One approval

#10215 Replace std::list<session_t> in networking code
  src/network/connection.cpp
  src/network/connection.h
  src/network/connectionthreads.cpp
Labels: Code quality, One approval, Performance

#9299 Improve default inventory+wield images of node drawtypes
  doc/texture_packs.txt
  src/client/content_mapblock.cpp
  src/client/content_mapblock.h
  src/client/wieldmesh.cpp
  src/nodedef.h
  textures/base/pack/no_texture_airlike.png
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix, Feature

#9486 Play place_failed sound if node is occupied or attaching node fails
  doc/lua_api.txt
  src/client/game.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix, Sounds

#9432 Sanitize world names when creating them, and store the original name elsewhere
  src/content/subgames.cpp
  src/content/subgames.h
  src/script/lua_api/l_mainmenu.cpp
  src/server.cpp
  src/util/string.cpp
  src/util/string.h
Labels: >= Two approvals, Bugfix

#9909 Add PUT and DELETE request + add specific method value
  doc/lua_api.txt
  src/client/clientmedia.cpp
  src/httpfetch.cpp
  src/httpfetch.h
  src/network/networkprotocol.h
  src/script/lua_api/l_http.cpp
  src/script/lua_api/l_http.h
  src/serverlist.cpp
Labels: @ Script API, Feature, One approval

#9828 Revert "Replace non-ASCII characters in gameui debug display code"
  src/client/gameui.cpp
Labels: One approval

#10229 Allow starting local server using --go again
  src/client/clientlauncher.cpp
Labels: Bugfix, Trivial

#10020 content_cao: Support texture animation for upright_sprite
  doc/lua_api.txt
  games/devtest/mods/testentities/visuals.lua
  src/client/content_cao.cpp
  src/client/mesh.cpp
  src/client/mesh.h
Labels: @ Client / Audiovisuals, Feature, One approval
