Repository luanti-org/luanti, pull requests merged in 2020-11, with the labels that each got.

#10589 Block attempts to connect to the client.
  src/network/connection.cpp
  src/network/connection.h
  src/network/connectionthreads.cpp
Labels: >= Two approvals, Bugfix

#10597 Increase defaults for viewing_range, active_object_range and related settings
  builtin/settingtypes.txt
  src/defaultsettings.cpp
Labels: One approval

#10564 Fix ObjectRef crashes due to lua_isnil()
  src/script/common/helper.cpp
  src/script/common/helper.h
  src/script/lua_api/l_object.cpp
Labels: >= Two approvals, Bugfix, Maintenance

#10534 Revert "Fix short 180 degree rotation when using set_bone_position"
  src/client/content_cao.cpp
Labels: >= Two approvals, Blocker, Bugfix

#10320 Add model[] formspec element
  doc/lua_api.txt
  games/devtest/mods/testformspec/LICENSE.txt
  games/devtest/mods/testformspec/formspec.lua
  games/devtest/mods/testformspec/models/testformspec_character.b3d
  games/devtest/mods/testformspec/models/testformspec_chest.obj
  games/devtest/mods/testformspec/textures/default_chest_front.png
  games/devtest/mods/testformspec/textures/default_chest_inside.png
  games/devtest/mods/testformspec/textures/default_chest_side.png
  games/devtest/mods/testformspec/textures/default_chest_top.png
  games/devtest/mods/testformspec/textures/testformspec_character.png
  src/gui/CMakeLists.txt
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiScene.cpp
  src/gui/guiScene.h
  util/ci/clang-format-whitelist.txt
Labels: @ Script API, Feature, Formspec, One approval

#10608 Revert #10495 and simplify.
  src/clientiface.cpp
Labels: Performance

#10547 Fix object interaction distance not being checked
  doc/lua_api.txt
  src/network/serverpackethandler.cpp
Labels: @ Server / Client / Env., Bugfix, High priority, One approval

#10611 Joystick: Fix dig and place buttons
  src/client/game.cpp
  src/client/joystick_controller.cpp
  src/client/keys.h
Labels: >= Two approvals, @ Client / Controls / Input, Bugfix

#10585 ObjectRef: Re-add legacy code for set_physics_override
  src/script/lua_api/l_object.cpp
Labels: @ Script API, Bugfix, One approval

#10559 Do not set a default for description in itemdef table
  builtin/game/register.lua
  doc/lua_api.txt
Labels: >= Two approvals, Bugfix

#10616 Increase default emerge queue limits and limit enqueue requests for active blocks.
  builtin/settingtypes.txt
  src/defaultsettings.cpp
  src/emerge.cpp
Labels: One approval, Performance

#10478 PlayerSAO: Run on_player_hpchange raw change values
  src/server/player_sao.cpp
Labels: @ Script API, Bugfix, One approval

#10622 Revert "Replace MyEventReceiver KeyList with std::unordered_set"
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/client/keycode.h
Labels: >= Two approvals, Bugfix

#10586 Fix warnings about an unused variables and implicit conversion.
  src/gui/guiScrollBar.cpp
  src/gui/guiScrollBar.h
  src/mapgen/mg_ore.cpp
Labels: Maintenance, Trivial

#10612 Fix falling image of torchlike if paramtype2="none"
  builtin/game/falling.lua
  games/devtest/mods/testnodes/drawtypes.lua
Labels: >= Two approvals, @ Builtin, Bugfix

#10561 Auto build client appimage
  .gitlab-ci.yml
  AppImageBuilder.yml
Labels: >= Two approvals, @ Build, Feature, Linux

#10627 Increase limit for simultaneous blocks sent per client and the meshgen cache.
  builtin/settingtypes.txt
  src/defaultsettings.cpp
Labels: One approval, Performance

#10639 Move Mapgen V7 river generation into the main generation loop
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_v7.h
Labels: @ Mapgen, Bugfix, One approval

#10659 Fix Visual Studio build in Actions
  .github/workflows/build.yml
Labels: @ Build, Trivial

#10667 Fix camera panning glitches (partially revert #10489)
  src/client/clientmap.cpp
Labels: @ Client / Audiovisuals, Bugfix, One approval

#10670 Avoid marking map blocks dirty upon deserialization.
  src/mapblock.cpp
Labels: Bugfix, One approval

#10637 Avoid generating the same chunk more than once with multiple emerge threads
  src/emerge.h
  src/map.cpp
  src/map.h
  src/mapgen/mapgen_carpathian.cpp
  src/mapgen/mapgen_flat.cpp
  src/mapgen/mapgen_fractal.cpp
  src/mapgen/mapgen_singlenode.cpp
  src/mapgen/mapgen_v5.cpp
  src/mapgen/mapgen_v6.cpp
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_valleys.cpp
Labels: @ Mapgen, Bugfix, One approval, Performance
