Repository luanti-org/luanti, pull requests merged in 2020-10, with the labels that each got.

#9440 Chatcommand: Show help message if func returns false without message
  builtin/game/chat.lua
  doc/lua_api.txt
Labels: >= Two approvals, @ Builtin, Feature

#8837 Reduce the FPS when the window is unfocused
  builtin/settingtypes.txt
  src/client/game.cpp
  src/defaultsettings.cpp
  src/gui/guiEngine.cpp
  src/gui/guiEngine.h
Labels: >= Two approvals, @ Client / Audiovisuals, Feature, Performance

#9058 Fix scroll bar overlapping text (again)
  src/gui/guiEditBoxWithScrollbar.cpp
  src/gui/intlGUIEditBox.cpp
Labels: >= Two approvals, Bugfix, Formspec

#7862 Lua API: Add register_on_chatcommand to SSM and CSM
  builtin/client/chatcommands.lua
  builtin/client/register.lua
  builtin/game/chat.lua
  builtin/game/register.lua
  clientmods/preview/init.lua
  doc/client_lua_api.txt
  doc/lua_api.txt
  games/devtest/mods/experimental/commands.lua
Labels: >= Two approvals, @ Client Script API, @ Script API, Feature

#9792 Add note to docs on how to override privileges
  doc/lua_api.txt
Labels: >= Two approvals, @ Documentation

#9453 Document builtin entities
  doc/builtin_entities.txt
Labels: >= Two approvals, @ Documentation

#10173 Deprecate get_player_velocity and add_player_velocity
  builtin/game/features.lua
  doc/lua_api.txt
  src/script/lua_api/l_base.cpp
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
Labels: @ Script API, Maintenance, One approval

#10405 Fix short 180 degree rotation when using set_bone_position
  src/client/content_cao.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix

#10360 Fix/Add First Person Attachments
  doc/lua_api.txt
  src/activeobject.h
  src/client/content_cao.cpp
  src/client/content_cao.h
  src/client/game.cpp
  src/clientiface.cpp
  src/script/lua_api/l_camera.cpp
  src/script/lua_api/l_object.cpp
  src/server/luaentity_sao.cpp
  src/server/player_sao.cpp
  src/server/unit_sao.cpp
  src/server/unit_sao.h
Labels: >= Two approvals, @ Client / Audiovisuals, @ Script API, Feature, Testing needed

#10463 Remove unused functions reported by cppcheck
  src/chat.cpp
  src/chat.h
  src/client/client.cpp
  src/client/client.h
  src/client/clientenvironment.cpp
  src/client/clientmap.cpp
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
  src/content/CMakeLists.txt
  src/content/packages.cpp
  src/content/packages.h
  src/gui/guiChatConsole.cpp
  src/gui/guiChatConsole.h
  src/log.cpp
  src/log.h
  src/map.cpp
  src/map.h
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
  src/mapgen/mapgen_v6.cpp
  src/mapgen/mapgen_v6.h
  src/mapgen/treegen.cpp
  src/mapgen/treegen.h
  src/network/networkpacket.cpp
  src/network/networkpacket.h
  src/script/common/c_converter.cpp
  src/script/common/c_converter.h
  src/script/lua_api/l_mainmenu.cpp
  src/unittest/test_map_settings_manager.cpp
Labels: Maintenance, One approval

#10460 Prevent games from setting secure settings
  src/content/subgames.cpp
  src/content/subgames.h
  src/settings.cpp
  src/settings.h
Labels: @ Startup / Config / Util, Bugfix, One approval

#10279 Improve the `fsaa` setting description
  builtin/settingtypes.txt
Labels: >= Two approvals, @ Documentation

#10453 -Wclass-memaccess only called when GCC > 7
  src/client/mapblock_mesh.cpp
Labels: Maintenance, One approval, Trivial

#10112 lua_api.txt: Mention texture modifier colorspace
  doc/lua_api.txt
Labels: @ Documentation, One approval

#10473 Fix box[]es not being clipped
  src/gui/guiBox.cpp
Labels: Bugfix, Formspec, Trivial

#8980 Add a short_description to be used by mods
  builtin/game/register.lua
  doc/lua_api.txt
  games/devtest/mods/unittests/init.lua
  games/devtest/mods/unittests/itemdescription.lua
  src/inventory.cpp
  src/inventory.h
  src/itemdef.cpp
  src/itemdef.h
  src/script/common/c_content.cpp
  src/script/lua_api/l_item.cpp
  src/script/lua_api/l_item.h
Labels: >= Two approvals, @ Script API, Feature, Supported by core dev

#9242 Add bumpmapping and parallax occlusion testing nodes to the devtest game
  games/devtest/mods/testnodes/mod.conf
  games/devtest/mods/testnodes/textures.lua
  games/devtest/mods/testnodes/textures/testnodes_height_pyramid.png
  games/devtest/mods/testnodes/textures/testnodes_height_pyramid_normal.png
  games/devtest/mods/testnodes/textures/testnodes_parallax_extruded.png
  games/devtest/mods/testnodes/textures/testnodes_parallax_extruded_normal.png
Labels: >= Two approvals, Devtest game, Feature

#10476 Add missing type check to InvRef:set_lists()
  src/script/lua_api/l_inventory.cpp
Labels: Bugfix, Trivial

#10247 Give unnamed world names incremental numbers. Format 'world<number>'
  builtin/mainmenu/dlg_create_world.lua
Labels: @ Builtin, @ Mainmenu, One approval

#10464 Pass ContentFeatures as reference to read_content_features
  src/script/common/c_content.cpp
  src/script/common/c_content.h
  src/script/lua_api/l_item.cpp
Labels: Code quality, One approval, Trivial

#10489 Avoid drawing invisible blocks on the client.
  src/client/clientmap.cpp
Labels: @ Client rendering engine, Bugfix, One approval, Performance

#10480 Add ObjectRef:get_children()
  doc/lua_api.txt
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
Labels: >= Two approvals, @ Script API, Feature

#10483 Fix float argument check in minetest.set_timeofday()
  src/script/lua_api/l_env.cpp
Labels: >= Two approvals, @ Script API, Bugfix, Trivial

#10468 Document how to work with ClangFormat
  .github/CONTRIBUTING.md
Labels: @ Documentation, One approval

#10484 Devtest hand: Update capabilities, add creative mode capabilities
  games/devtest/mods/basetools/init.lua
Labels: Devtest game, Feature, Maintenance, One approval

#10495 Rely on max_simultaneous_block_sends_per_client to limit blocks sent to the client.
  src/clientiface.cpp
  src/clientiface.h
Labels: @ Network, @ Server / Client / Env., One approval, Performance

#10487 Remove all bump mapping and parallax occlusion related code.
  builtin/mainmenu/tab_settings.lua
  builtin/settingtypes.txt
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  doc/lua_api.txt
  src/client/game.cpp
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
  src/client/mesh_generator_thread.cpp
  src/client/mesh_generator_thread.h
  src/client/shader.cpp
  src/client/wieldmesh.cpp
  src/defaultsettings.cpp
  src/nodedef.cpp
  src/nodedef.h
Labels: Maintenance, One approval, Shaders

#10501 Periodically release all mesh HW buffers to avoid an Irrlicht bottleneck
  src/client/game.cpp
Labels: @ Client / Audiovisuals, @ Client rendering engine, Bugfix, Performance

#10520 Contributing doc: Minor improvements and a clarification
  .github/CONTRIBUTING.md
Labels: @ Documentation, Trivial

#10521 Minor clientmap improvements.
  src/client/clientmap.cpp
  src/mapsector.h
Labels: @ Client rendering engine, One approval, Performance

#10443 Decouple entity minimap markers from nametags
  doc/lua_api.txt
  src/client/camera.h
  src/client/client.cpp
  src/client/content_cao.cpp
  src/client/content_cao.h
  src/client/minimap.cpp
  src/client/minimap.h
  src/object_properties.cpp
  src/object_properties.h
  src/script/common/c_content.cpp
  src/server/player_sao.cpp
Labels: @ Client / Audiovisuals, @ Script API, Feature, One approval

#10485 Implement unloading of static_save=false objects according to existing docs
  src/server/luaentity_sao.h
  src/server/player_sao.h
  src/server/serveractiveobject.h
  src/serverenvironment.cpp
Labels: @ Server / Client / Env., Bugfix, One approval

#10493 Devtest: Automatically enable zoom capability
  games/devtest/README.md
  games/devtest/mods/util_commands/init.lua
Labels: Devtest game, Feature, Trivial

#10477 Update jsoncpp to 1.9.4
  lib/jsoncpp/json/UPDATING
  lib/jsoncpp/json/json-forwards.h
  lib/jsoncpp/json/json.h
  lib/jsoncpp/jsoncpp.cpp
Labels: >= Two approvals, Maintenance

#9478 Fix Media... 0% on loading screen
  src/client/game.cpp
Labels: @ Client / Audiovisuals, One approval, Trivial

#10494 Add documentation to builtin core.run_callbacks
  builtin/client/register.lua
Labels: >= Two approvals, @ Documentation

#10512 Clean up l_object.cpp
  doc/lua_api.txt
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
Labels: >= Two approvals, Code quality, Maintenance

#10506 Shaders for Android (GLES 2)
  build/android/app/build.gradle
  builtin/mainmenu/tab_settings.lua
  builtin/settingtypes.txt
  client/shaders/3d_interlaced_merge/opengl_fragment.glsl
  client/shaders/3d_interlaced_merge/opengl_vertex.glsl
  client/shaders/default_shader/opengl_fragment.glsl
  client/shaders/default_shader/opengl_vertex.glsl
  client/shaders/minimap_shader/opengl_fragment.glsl
  client/shaders/minimap_shader/opengl_vertex.glsl
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  client/shaders/selection_shader/opengl_fragment.glsl
  client/shaders/selection_shader/opengl_vertex.glsl
  games/devtest/mods/basenodes/init.lua
  src/client/shader.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Android, Feature, Shaders

#10553 Fix CSMs on arm64
  src/script/cpp_api/s_security.cpp
Labels: >= Two approvals, Android, Bugfix

#10537 Avoid resetting the unsent distance unnecessarily on the server.
  src/clientiface.cpp
  src/clientiface.h
Labels: @ Server / Client / Env., Bugfix, One approval, Performance, Testing needed

#10573 Show RTT in ms with 2 digits of precision
  src/client/gameui.cpp
Labels: >= Two approvals, Feature, Trivial

#10563 Player physics: Ensure larger dtime simulation steps
  src/client/clientenvironment.cpp
Labels: >= Two approvals, Bugfix

#10174 Fix segfault in deprecation logging due to tail call, log by default
  builtin/settingtypes.txt
  src/defaultsettings.cpp
  src/script/common/c_internal.cpp
  src/script/common/c_internal.h
  src/script/lua_api/l_base.cpp
  src/script/lua_api/l_base.h
  src/script/lua_api/l_internal.h
  src/script/lua_api/l_noise.cpp
  src/script/lua_api/l_object.cpp
Labels: >= Two approvals, @ Script API, @ Startup / Config / Util, Bugfix
