Repository luanti-org/luanti, pull requests merged in 2020-01, with the labels that each got.

#9238 Remove Mapgen V7 floatlands in preparation for new implementation
  builtin/settingtypes.txt
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_v7.h
Labels: @ Mapgen

#9237 Tweak default textures
  doc/texture_packs.txt
  textures/base/pack/bubble.png
  textures/base/pack/heart.png
Labels: One approval, Textures, Trivial

#9248 Add table.key_value_swap
  builtin/common/misc_helpers.lua
  doc/lua_api.txt
Labels: @ Builtin, @ Script API, Feature, One approval

#9266 Formspec: Fix clicking on tooltip-obstructed elements
  src/gui/guiFormSpecMenu.cpp
Labels: Bugfix, Formspec, One approval

#9265 Improve Lua API documentation on sounds
  doc/lua_api.txt
  doc/menu_lua_api.txt
Labels: >= Two approvals, @ Documentation, Maintenance

#9297 Add missing entity documentation
  doc/lua_api.txt
Labels: >= Two approvals, @ Documentation

#8665 Formspec: change the appearance of the cursor on fields and co.
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: @ Client / Audiovisuals, Feature, Formspec, One approval, Testing needed

#9235 Map download: Escape ':' to '_'
  src/client/client.cpp
Labels: Bugfix, One approval, Windows

#9117 Android: fix cyrillic characters, update iconv lib
  build/android/Makefile
  build/android/patches/libiconv_android.patch
  build/android/patches/libiconv_stdio.patch
  src/util/string.cpp
Labels: >= Two approvals, Action / change needed, Android, Bugfix, Maintenance

#9307 Increase star count to 1000 and decrease radius slightly.
  src/client/sky.cpp
  src/client/sky.h
Labels: >= Two approvals, @ Client / Audiovisuals, Trivial

#9262 Make clipping of formspec elements more consistent
  doc/lua_api.txt
  src/gui/guiFormSpecMenu.cpp
  src/network/networkprotocol.h
Labels: >= Two approvals, Feature, Formspec

#9184 Add Lua builtin unit tests
  .luacheckrc
  .travis.yml
  builtin/common/misc_helpers.lua
  builtin/common/serialize.lua
  builtin/common/tests/misc_helpers_spec.lua
  builtin/common/tests/serialize_spec.lua
  builtin/common/tests/vector_spec.lua
Labels: @ Builtin, Code quality, Feature, Maintenance, One approval

#9228 lua_api.txt: Improve privs_to_string and string_to_privs documentation
  doc/lua_api.txt
Labels: @ Documentation, Maintenance, One approval, Trivial

#9303 Make image of resized `torchlike` attach to side
  doc/lua_api.txt
  src/client/content_mapblock.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix

#9332 Formspec: Don't start a button click when the pointer isn't on top
  src/gui/guiButton.cpp
Labels: >= Two approvals, Bugfix, Formspec

#9320 Remove unused weight property from objects
  doc/lua_api.txt
  src/content_sao.cpp
  src/object_properties.cpp
  src/object_properties.h
  src/script/common/c_content.cpp
Labels: >= Two approvals, Maintenance

#9229 remove zh_* from GETTEXT_BLACKLISTED_LOCALES
  src/CMakeLists.txt
Labels: @ Translation, Bugfix, One approval

#9187 StaticText/EnrichedString: Styling support
  games/minimal/mods/test/formspec.lua
  src/client/gameui.cpp
  src/gui/guiButton.cpp
  src/gui/guiFormSpecMenu.cpp
  src/irrlicht_changes/static_text.cpp
  src/irrlicht_changes/static_text.h
  src/unittest/test_utilities.cpp
  src/util/enriched_string.cpp
  src/util/enriched_string.h
Labels: @ Client / Audiovisuals, Bugfix, One approval

#9335 Improvements to CMakeLists
  src/CMakeLists.txt
Labels: @ Build, Maintenance, One approval

#9284 Settings: Add get_flags API for mapgen flags (mg_flags, mgv6_spflags, ...)
  doc/lua_api.txt
  src/defaultsettings.cpp
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
  src/mapgen/mapgen_carpathian.cpp
  src/mapgen/mapgen_carpathian.h
  src/mapgen/mapgen_flat.cpp
  src/mapgen/mapgen_flat.h
  src/mapgen/mapgen_fractal.cpp
  src/mapgen/mapgen_fractal.h
  src/mapgen/mapgen_v5.cpp
  src/mapgen/mapgen_v5.h
  src/mapgen/mapgen_v6.cpp
  src/mapgen/mapgen_v6.h
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_v7.h
  src/mapgen/mapgen_valleys.cpp
  src/mapgen/mapgen_valleys.h
  src/script/lua_api/l_settings.cpp
  src/script/lua_api/l_settings.h
  src/settings.cpp
  src/settings.h
  src/unittest/test_settings.cpp
Labels: @ Mapgen, @ Script API, Feature, One approval

#9290 Add 9-slice background support to button formspec elements
  doc/lua_api.txt
  games/minimal/mods/test/formspec.lua
  games/minimal/mods/test/textures/test_bg_9slice.png
  games/minimal/mods/test/textures/test_bg_9slice_hovered.png
  games/minimal/mods/test/textures/test_bg_9slice_pressed.png
  src/gui/StyleSpec.h
  src/gui/guiButton.cpp
  src/gui/guiButton.h
  util/travis/clang-format-whitelist.txt
Labels: >= Two approvals, @ Client / Audiovisuals, Feature, Formspec

#9327 Collision temporary fix for issue #6886
  src/collision.cpp
Labels: >= Two approvals, @ Server / Client / Env., Bugfix
