Repository luanti-org/luanti, pull requests merged in 2020-05, with the labels that each got.

#8691 Give the online lua mainmenu also the client_list and mods
  doc/menu_lua_api.txt
  src/script/lua_api/l_mainmenu.cpp
Labels: >= Two approvals, @ Mainmenu, Feature

#9739 Allow connection info to be missing from minetest.get_player_information
  doc/lua_api.txt
  src/network/connection.h
  src/script/lua_api/l_server.cpp
Labels: Bugfix, One approval

#9705 set_fov: Add support for time-based transitions
  doc/lua_api.txt
  src/client/camera.cpp
  src/client/camera.h
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/player.h
  src/script/lua_api/l_object.cpp
  src/server.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, @ Script API, Feature

#9774 ci: Update Github Actions workflows
  .github/workflows/build.yml
  .github/workflows/cpp_lint.yml
  .github/workflows/lua_lint.yml
  util/ci/build.sh
  util/ci/clang-tidy.sh
  util/ci/common.sh
Labels: @ Build, Maintenance

#8770 Auto delete MetaData when = 0
  src/script/lua_api/l_metadata.cpp
Labels: @ Script API, One approval

#9701 Add a convention about z_index
  doc/lua_api.txt
Labels: @ Client / Audiovisuals, @ Documentation, @ Script API, One approval

#9661 Add 'content_offset' and 'padding' style properties for buttons
  doc/lua_api.txt
  games/minimal/mods/test/formspec.lua
  src/gui/StyleSpec.h
  src/gui/guiButton.cpp
  src/gui/guiButton.h
Labels: >= Two approvals, Bugfix, Feature, Formspec

#9779 Change default keys for cam/minimap to C/V
  README.md
  builtin/settingtypes.txt
  src/defaultsettings.cpp
Labels: >= Two approvals, @ Client / Controls / Input

#9760 Android: some java-part improvements
  build/android/app/build.gradle
  build/android/app/src/main/AndroidManifest.xml
  build/android/app/src/main/java/net/minetest/minetest/CopyZipTask.java
  build/android/app/src/main/java/net/minetest/minetest/MainActivity.java
  build/android/app/src/main/java/net/minetest/minetest/UnzipService.java
  build/android/native/build.gradle
Labels: >= Two approvals, Android, Bugfix, Maintenance

#9813 Fix small typo
  doc/client_lua_api.txt
Labels: @ Documentation, Trivial

#9804 Fix broken client if openal cannot be opened
  src/client/clientlauncher.cpp
  src/client/game.cpp
  src/client/sound_openal.cpp
  src/gui/guiEngine.cpp
Labels: Bugfix, One approval, Sounds

#9740 Add MSVC build
  .github/workflows/build.yml
Labels: >= Two approvals, @ Build, Windows

#9820 Server: Improve some log messages
  src/network/serverpackethandler.cpp
  src/server/player_sao.cpp
Labels: @ Server / Client / Env., One approval, Trivial

#9687 Android: porting_android.cpp refactoring
  src/porting_android.cpp
  src/porting_android.h
Labels: >= Two approvals, Android, Code quality

#9718 FormSpec: Add universal style selector `*`
  doc/lua_api.txt
  src/gui/guiFormSpecMenu.cpp
Labels: >= Two approvals, Feature, Formspec

#8821 Replace non-ASCII characters in gameui debug display code
  src/client/gameui.cpp
Labels: Maintenance, Trivial

#9769 Server class code cleanups
  src/client/game.cpp
  src/main.cpp
  src/network/serverpackethandler.cpp
  src/script/lua_api/l_base.cpp
  src/script/lua_api/l_base.h
  src/script/lua_api/l_inventory.cpp
  src/script/lua_api/l_object.cpp
  src/server.cpp
  src/server.h
  src/server/CMakeLists.txt
  src/server/serverinventorymgr.cpp
  src/server/serverinventorymgr.h
Labels: @ Server / Client / Env., Code quality, Maintenance, One approval

#9319 Always use same default tabheader height
  src/gui/guiFormSpecMenu.cpp
Labels: >= Two approvals, Bugfix, Formspec, Trivial

#9502 Color gradient for default and 'regular' type sky
  src/client/sky.cpp
  src/skyparams.h
Labels: >= Two approvals, @ Client / Audiovisuals, Feature

#9827 Request the dedicated GPU when starting Minetest from the `.desktop` file
  misc/net.minetest.minetest.desktop
Labels: Linux, One approval, Trivial

#9462 Add support for statbar “off state” icons
  builtin/game/statbars.lua
  doc/lua_api.txt
  doc/texture_packs.txt
  src/client/clientevent.h
  src/client/game.cpp
  src/client/hud.cpp
  src/client/hud.h
  src/hud.cpp
  src/hud.h
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/script/common/c_content.cpp
  src/server.cpp
  textures/base/pack/bubble_gone.png
  textures/base/pack/heart_gone.png
Labels: >= Two approvals, @ Client / Audiovisuals, @ Script API, Feature

#9833 Damage texture modifier
  doc/lua_api.txt
  src/client/content_cao.cpp
  src/object_properties.cpp
  src/object_properties.h
  src/script/common/c_content.cpp
Labels: >= Two approvals, Feature

#9254 Add mapgen settings in world creation dialog
  builtin/mainmenu/dlg_create_world.lua
  doc/lua_api.txt
Labels: >= Two approvals, @ Mainmenu, @ Mapgen, @ Startup / Config / Util, Feature

#9789 Inf value documented in rollback commands
  builtin/game/chat.lua
Labels: @ Documentation, Trivial

#9859 Allow placing auto-rotating nodes on other nodes in on_rightclick
  builtin/common/misc_helpers.lua
Labels: Bugfix, One approval, Trivial

#9797 ItemEntity: Add message to moveresult assertion
  builtin/game/item_entity.lua
Labels: @ Builtin, One approval, Trivial

#9223 Add chat_log_level setting
  builtin/settingtypes.txt
  src/client/game.cpp
  src/defaultsettings.cpp
  src/log.cpp
  src/log.h
Labels: @ Client / Audiovisuals, Feature, One approval

#9764 Collision detection - #9343 follow-up
  src/collision.cpp
Labels: >= Two approvals, @ Server / Client / Env., Bugfix

#9858 CSM: Bugfixes to camera:get_pos() and camera:get_fov()
  clientmods/preview/init.lua
  doc/client_lua_api.txt
  src/client/camera.cpp
  src/script/lua_api/l_camera.cpp
  src/script/lua_api/l_env.cpp
Labels: @ Client Script API, Bugfix, One approval

#9860 network: Replace a fatal_error with just error logging
  src/network/connectionthreads.cpp
Labels: Bugfix, One approval

#9296 Add new Mapgen V7 floatland implementation
  builtin/settingtypes.txt
  src/mapgen/mapgen_v7.cpp
  src/mapgen/mapgen_v7.h
Labels: >= Two approvals, @ Mapgen, Feature

#9824 Error msg if trying to teleport attached player
  builtin/game/chat.lua
Labels: >= Two approvals, @ Builtin, Maintenance

#8468 Make automatic_rotate relative, allow setting rotation
  doc/lua_api.txt
  src/client/content_cao.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Feature

#8592 Add core.open_url() to main menu API
  build/android/app/src/main/java/net/minetest/minetest/GameActivity.java
  builtin/mainmenu/dlg_contentstore.lua
  builtin/mainmenu/tab_credits.lua
  doc/menu_lua_api.txt
  src/porting.cpp
  src/porting.h
  src/porting_android.cpp
  src/porting_android.h
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
Labels: @ Content/PkgMgr, @ Mainmenu, Feature, One approval

#9814 Add ability to scale HUD text
  doc/lua_api.txt
  src/client/hud.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, @ Script API, Feature

#9852 Rework functionality of leveled nodes
  builtin/game/falling.lua
  doc/lua_api.txt
  src/mapnode.cpp
  src/mapnode.h
  src/nodedef.cpp
  src/nodedef.h
  src/script/common/c_content.cpp
  src/script/lua_api/l_env.cpp
Labels: >= Two approvals, @ Builtin, @ Server / Client / Env., Bugfix

#9894 Stop wasting memory on identical textures when texture filtering is disabled
  src/client/tile.cpp
Labels: Bugfix, One approval, Performance

#9855 Allow more than 255 biomes
  doc/lua_api.txt
  src/mapgen/cavegen.cpp
  src/mapgen/cavegen.h
  src/mapgen/mapgen.h
  src/mapgen/mg_biome.h
  src/mapgen/mg_decoration.cpp
  src/mapgen/mg_decoration.h
  src/mapgen/mg_ore.cpp
  src/mapgen/mg_ore.h
  src/script/lua_api/l_mapgen.cpp
  src/script/lua_api/l_mapgen.h
Labels: @ Mapgen, Feature, One approval

#8053 Cache liquid alternative IDs
  src/client/content_mapblock.cpp
  src/map.cpp
  src/mapnode.cpp
  src/nodedef.cpp
  src/nodedef.h
  src/server.cpp
Labels: >= Two approvals, @ Server / Client / Env., Maintenance, Performance

#9910 Various documentation fixes in settingtypes.txt
  builtin/settingtypes.txt
Labels: @ Documentation, Trivial

#9893 Cleanup of particle & particlespawner structures and code
  src/CMakeLists.txt
  src/client/clientevent.h
  src/client/particles.cpp
  src/client/particles.h
  src/network/clientpackethandler.cpp
  src/particles.cpp
  src/particles.h
  src/script/lua_api/l_particles.cpp
  src/script/lua_api/l_particles_local.cpp
  src/server.cpp
  src/server.h
Labels: @ Client / Audiovisuals, Code quality, One approval, Particles

#9898 Modernize include guards and add missing ones
  src/client/hud.h
  src/client/render/factory.h
  src/gui/guiButtonImage.h
  src/gui/guiButtonItemImage.h
  src/hud.h
  src/script/lua_api/l_particles_local.h
  src/util/md32_common.h
Labels: >= Two approvals, Maintenance

#9917 lua_api.txt: Fix minor typo
  doc/lua_api.txt
Labels: @ Documentation, One approval, Trivial

#9920 Fix two bugs in content_cao
  src/client/content_cao.cpp
Labels: Bugfix, Trivial

#9736 Add chat_font_size setting
  builtin/settingtypes.txt
  src/client/gameui.cpp
  src/defaultsettings.cpp
  src/gui/guiChatConsole.cpp
Labels: @ Client / Audiovisuals, Feature, One approval

#9890 Add engine version string to ContentDB API request
  builtin/mainmenu/dlg_contentstore.lua
Labels: >= Two approvals, @ Content/PkgMgr, Maintenance, Trivial

#9931 L-System trees: Remove hardcoded use of 'mapgen_dirt' alias
  src/mapgen/treegen.cpp
Labels: @ Mapgen, Bugfix, One approval

#9937 Devtest: Fix crash in player unittest
  games/devtest/mods/unittests/player.lua
Labels: Bugfix, Devtest game, One approval

#9936 Devtest: Update biome registrations
  games/devtest/mods/mapgen/init.lua
Labels: @ Mapgen, Devtest game, One approval

#9874 Fix liquids refusing to flow in X+ or Z+ in some cases
  src/map.cpp
Labels: @ Server / Client / Env., Bugfix, One approval

#9948 Make ContentDB downloads not block the UI
  builtin/mainmenu/dlg_contentstore.lua
Labels: @ Content/PkgMgr, @ Mainmenu, Feature, One approval

#9940 Value copy / allocation optimizations mostly in server, SAO and serialize code
  src/client/game.cpp
  src/client/sky.cpp
  src/client/sky.h
  src/content/mods.cpp
  src/content/mods.h
  src/script/cpp_api/s_node.cpp
  src/script/cpp_api/s_node.h
  src/server.cpp
  src/server/luaentity_sao.cpp
  src/server/player_sao.cpp
  src/server/serveractiveobject.cpp
  src/server/serverinventorymgr.h
  src/serverenvironment.cpp
  src/serverenvironment.h
  src/tool.cpp
  src/util/serialize.cpp
Labels: Maintenance, One approval, Performance

#9949 Update ContentDB dialog
  LICENSE.txt
  builtin/mainmenu/dlg_contentstore.lua
  textures/base/pack/end_icon.png
  textures/base/pack/next_icon.png
  textures/base/pack/prev_icon.png
  textures/base/pack/start_icon.png
Labels: @ Content/PkgMgr, @ Mainmenu, Maintenance, One approval

#9770 Add minetest.is_creative_enabled
  builtin/common/misc_helpers.lua
  builtin/game/item.lua
  builtin/game/misc.lua
  doc/lua_api.txt
  games/devtest/mods/util_commands/init.lua
Labels: >= Two approvals, @ Builtin, Feature

#9935 [NO SQUASH] content_cao: Don't expire visuals when unnecessary + nametag cleanups
  src/activeobject.h
  src/client/content_cao.cpp
  src/client/content_cao.h
  src/server/player_sao.cpp
  src/server/serveractiveobject.cpp
Labels: @ Client / Audiovisuals, Bugfix, Maintenance, One approval

#9955 Devtest: Fix missing liquid properties causing crash
  games/devtest/mods/testnodes/drawtypes.lua
  games/devtest/mods/testnodes/textures.lua
Labels: Bugfix, Devtest game, One approval, Trivial
