Repository luanti-org/luanti, pull requests merged in 2021-11, with the labels that each got.

#11495 Localize error messages in mainmenu
  builtin/fstk/ui.lua
  src/client/camera.cpp
  src/client/camera.h
  src/client/game.cpp
  src/gettext.h
  src/unittest/CMakeLists.txt
  src/unittest/test_gettext.cpp
  util/updatepo.sh
Labels: @ Translation, >= Two approvals, Feature

#9638 Lua API: Add `rmdir`, `cpdir` and `mvdir`
  doc/lua_api.txt
  src/script/lua_api/l_util.cpp
  src/script/lua_api/l_util.h
Labels: @ Script API, >= Two approvals, Feature

#11764 Fix compiler detection in buildbot
  util/buildbot/buildwin32.sh
  util/buildbot/buildwin64.sh
Labels: Trivial, Bugfix

#11772 Fix local digging animation
  src/client/content_cao.cpp
Labels: Trivial, >= Two approvals, Bugfix

#11757 Add macOS build docs
  README.md
Labels: @ Documentation, macOS, >= Two approvals

#11241 Allow for Game-Specific Menu Music
  builtin/mainmenu/dlg_create_world.lua
  builtin/mainmenu/game_theme.lua
  builtin/mainmenu/init.lua
  builtin/mainmenu/tab_local.lua
  builtin/mainmenu/tab_settings.lua
  doc/lua_api.txt
  src/gui/guiEngine.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Feature, @ Mainmenu

#11766 Add backwards-compatible behaviour if too few CAO textures specified
  doc/lua_api.txt
  src/client/content_cao.cpp
Labels: @ Client / Audiovisuals, One approval, Feature

#9249 Minimap: gamma-correct average texture colour calculation
  src/client/tile.cpp
Labels: @ Client / Audiovisuals, Roadmap, >= Two approvals, Feature

#9847 Add bitop library
  CMakeLists.txt
  doc/lua_api.txt
  lib/bitop/CMakeLists.txt
  lib/bitop/bit.c
  lib/bitop/bit.h
  src/CMakeLists.txt
  src/script/cpp_api/s_base.cpp
  src/script/cpp_api/s_security.cpp
Labels: @ Script API, >= Two approvals, Feature

#11770 Fix find_nodes_in_area misbehaving with out-of-map coordinates
  src/script/lua_api/l_env.cpp
  src/unittest/test_voxelarea.cpp
Labels: @ Script API, >= Two approvals, Bugfix

#11793 Remove unused error when attempting to enable shaders with Direct3D video driver selected
  builtin/mainmenu/tab_settings.lua
Labels: Maintenance, Trivial, One approval, @ Mainmenu

#10492 Implemented disconnect_player
  builtin/game/misc.lua
  doc/lua_api.txt
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
Labels: @ Script API, >= Two approvals, Feature

#11746 Update to Android target SDK 30
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/net/minetest/minetest/MainActivity.java
  android/app/src/main/java/net/minetest/minetest/UnzipService.java
  android/native/build.gradle
Labels: Maintenance, Android, >= Two approvals
