Repository luanti-org/luanti, pull requests merged in 2021-07, with the labels that each got.

#11412 Add .editorconfig
  .editorconfig
Labels: >= Two approvals, Maintenance, Trivial

#11405 Add API for mods to hook liquid transformation events
  builtin/game/register.lua
  doc/lua_api.txt
  src/map.cpp
  src/script/cpp_api/s_env.cpp
  src/script/cpp_api/s_env.h
Labels: @ Script API, Feature, One approval

#11408 Use `persistence` instead of `persist` in NoiseParams examples.
  doc/lua_api.txt
Labels: @ Documentation, @ Script API, Maintenance, One approval

#11439 Fix typo in lua_api.txt
  doc/lua_api.txt
Labels: @ Documentation, Trivial

#11413 Refactor video driver name retrieval
  src/client/renderingengine.cpp
  src/client/renderingengine.h
  src/script/lua_api/l_mainmenu.cpp
Labels: >= Two approvals, Code quality, Maintenance

#11385 Improve shadow rendering with non-default camera FOV
  client/shaders/nodes_shader/opengl_fragment.glsl
  src/client/shader.cpp
  src/client/shadows/dynamicshadows.cpp
  src/util/numeric.cpp
Labels: >= Two approvals, Bugfix, Shaders

#11393 Avoid draw list and shadow map update in the same frame to reduce dtime jitter
  src/client/game.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Performance, Roadmap

#11409 Fix revoke debug privs not reliably turn off stuff
  src/client/game.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix

#11443 Remove hardcoded "You died." message in chat
  builtin/client/death_formspec.lua
Labels: One approval, Trivial

#11447 Fix documented default colors for set_sky
  doc/lua_api.txt
Labels: @ Documentation, One approval, Trivial

#11379 Add wallmounted support for plantlike and plantlike_rooted nodes
  builtin/game/falling.lua
  doc/lua_api.txt
  games/devtest/mods/testnodes/drawtypes.lua
  games/devtest/mods/testnodes/textures/testnodes_plantlike_rooted_base_side_wallmounted.png
  games/devtest/mods/testnodes/textures/testnodes_plantlike_rooted_wallmounted.png
  games/devtest/mods/testnodes/textures/testnodes_plantlike_wallmounted.png
  src/client/content_mapblock.cpp
  src/client/content_mapblock.h
  src/mapnode.cpp
Labels: >= Two approvals, @ Script API, Feature, Supported by core dev

#11475 Remove unused header includes
  src/client/renderingengine.cpp
  src/gui/guiScene.cpp
  src/gui/touchscreengui.cpp
Labels: Maintenance, Trivial

#11476 Remove unused ITextSceneNode header
  src/client/content_cao.cpp
Labels: Code quality, Maintenance

#11479 Document glasslikeliquidlevel merge bits
  doc/lua_api.txt
Labels: @ Documentation, One approval, Trivial

#11430 Add smooth light-shadow transition at noon
  client/shaders/nodes_shader/opengl_fragment.glsl
Labels: Feature, One approval, Shaders, Trivial

#11422 Distribute shadow map update over multiple frames to reduce stutter
  builtin/settingtypes.txt
  client/shaders/nodes_shader/opengl_fragment.glsl
  src/client/clientmap.cpp
  src/client/clientmap.h
  src/client/game.cpp
  src/client/shadows/dynamicshadows.cpp
  src/client/shadows/dynamicshadows.h
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/shadows/dynamicshadowsrender.h
  src/defaultsettings.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Bugfix, Performance

#10876 ContentDB: Add reason to downloads
  builtin/mainmenu/dlg_contentstore.lua
Labels: @ Content/PkgMgr, @ Mainmenu, Feature, Low priority, One approval

#11128 Improve documentation of tools
  doc/lua_api.txt
Labels: >= Two approvals, @ Documentation

#11478 Add bold, italic and monospace font styling for HUD text elements
  doc/client_lua_api.txt
  doc/lua_api.txt
  games/devtest/mods/testhud/init.lua
  games/devtest/mods/testhud/mod.conf
  src/client/clientevent.h
  src/client/game.cpp
  src/client/hud.cpp
  src/hud.cpp
  src/hud.h
  src/network/clientpackethandler.cpp
  src/script/common/c_content.cpp
  src/server.cpp
Labels: @ Script API, Feature, One approval

#11485 Add a simple PNG image encoder with Lua API
  .gitignore
  builtin/game/misc.lua
  doc/lua_api.txt
  games/devtest/mods/testnodes/textures.lua
  src/script/lua_api/l_util.cpp
  src/script/lua_api/l_util.h
  src/util/CMakeLists.txt
  src/util/png.cpp
  src/util/png.h
Labels: @ Builtin, Feature, One approval, Textures

#11461 Fix /emergeblocks crashing in debug builds
  builtin/settingtypes.txt
  src/emerge.cpp
  src/emerge.h
  src/settings.cpp
  src/settings.h
Labels: >= Two approvals, @ Server / Client / Env., Bugfix

#11503 Mods: Combine mod loading checks and deprection logging
  src/client/client.cpp
  src/content/mods.cpp
  src/content/mods.h
  src/server/mods.cpp
Labels: @ Server / Client / Env., One approval
