Repository luanti-org/luanti, pull requests merged in 2021-10, with the labels that each got.

#10810 Split liquid_viscosity to liquid_viscosity and move_resistance
  doc/client_lua_api.txt
  doc/lua_api.txt
  games/devtest/mods/testnodes/liquids.lua
  games/devtest/mods/testnodes/properties.lua
  games/devtest/mods/testnodes/textures/testnodes_climbable_resistance_side.png
  games/devtest/mods/testnodes/textures/testnodes_move_resistance.png
  src/client/clientenvironment.cpp
  src/client/localplayer.cpp
  src/client/localplayer.h
  src/nodedef.cpp
  src/nodedef.h
  src/script/common/c_content.cpp
  src/script/cpp_api/s_node.h
  src/script/lua_api/l_localplayer.cpp
  src/script/lua_api/l_localplayer.h
Labels: @ Script API, >= Two approvals, Feature

#11516 Improvements to colored shadows
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/shadow_shaders/pass1_trans_fragment.glsl
  client/shaders/shadow_shaders/pass1_trans_vertex.glsl
  src/client/clientmap.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix

#11615 [MANUAL MERGE] Add an option `-t` to force text output in /help
  builtin/common/chatcommands.lua
  builtin/common/information_formspecs.lua
Labels: >= Two approvals, Feature, @ Builtin

#11671 Add minetest.get_server_max_lag()
  doc/lua_api.txt
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
Labels: @ Script API, One approval, Feature

#11666 Make MetaDataRef:get() return nil instead of nothing
  src/script/lua_api/l_metadata.cpp
Labels: @ Script API, Trivial, One approval, Bugfix

#11668 Reduce shadow jitter
  src/client/shadows/dynamicshadows.cpp
Labels: @ Client / Audiovisuals, Trivial, One approval

#11467 Add joystick layout for DragonRise GameCube controller
  builtin/settingtypes.txt
  src/client/joystick_controller.cpp
Labels: >= Two approvals, Feature, @ Client / Controls / Input, Roadmap: Needs approval

#11722 Apply shadow only to the naturally lit part of the fragment color
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/shadow_shaders/pass1_trans_fragment.glsl
Labels: >= Two approvals, Bugfix, Shaders

#11690 Update Android to new dependency repo
  .github/workflows/android.yml
  android/app/build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/native/build.gradle
  android/native/jni/Android.mk
  android/native/jni/Application.mk
Labels: @ Build, Android, One approval

#11656 Add variable to use existing IrrlichtMt build
  CMakeLists.txt
  README.md
Labels: @ Build, >= Two approvals

#11110 Fix number of tool uses being off by 1..32767
  builtin/game/item.lua
  doc/lua_api.txt
  games/devtest/mods/basetools/init.lua
  games/devtest/mods/basetools/textures/basetools_dirtpick.png
  games/devtest/mods/util_commands/init.lua
  src/client/content_cao.cpp
  src/client/game.cpp
  src/network/serverpackethandler.cpp
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_util.cpp
  src/script/lua_api/l_util.h
  src/server/luaentity_sao.cpp
  src/server/luaentity_sao.h
  src/server/player_sao.cpp
  src/server/player_sao.h
  src/server/serveractiveobject.h
  src/tool.cpp
  src/tool.h
Labels: >= Two approvals, Bugfix
