Repository luanti-org/luanti, pull requests merged in 2021-02, with the labels that each got.

#10886 Revise dynamic_add_media API to better accomodate future changes
  builtin/game/misc.lua
  doc/lua_api.txt
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
  src/server.cpp
  src/server.h
Labels: @ Script API, Bugfix, Maintenance, One approval

#10869 Fix list spacing and size (again)
  games/devtest/mods/testformspec/formspec.lua
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiInventoryList.cpp
Labels: >= Two approvals, Bugfix, Formspec

#10896 Fix memory leak detected by address sanitizer
  src/client/renderingengine.cpp
  src/gui/guiEngine.cpp
  src/irrlicht_changes/CGUITTFont.cpp
  src/irrlicht_changes/CGUITTFont.h
Labels: >= Two approvals, @ Client rendering engine, Bugfix

#10913 Fix documentation of formspec sound style
  doc/lua_api.txt
Labels: >= Two approvals, @ Documentation

#10902 Devtest: Remove bumpmap/parallax occl. test nodes
  games/devtest/mods/testnodes/textures.lua
  games/devtest/mods/testnodes/textures/testnodes_height_pyramid.png
  games/devtest/mods/testnodes/textures/testnodes_height_pyramid_normal.png
  games/devtest/mods/testnodes/textures/testnodes_parallax_extruded.png
  games/devtest/mods/testnodes/textures/testnodes_parallax_extruded_normal.png
Labels: Devtest game, Maintenance, One approval, Trivial

#10921 Reduce ore noise_parms error to deprecation warning
  src/script/lua_api/l_mapgen.cpp
Labels: @ Script API, Trivial

#10922 Fall back to default when rendering mode (3d_mode) is set invalid
  src/client/render/factory.cpp
Labels: @ Client rendering engine, Bugfix, One approval

#10636 Improve touch event handling
  src/gui/modalMenu.cpp
  src/gui/modalMenu.h
Labels: Android, Bugfix, One approval

#10892 Use consistent temp folder path
  builtin/mainmenu/common.lua
  doc/menu_lua_api.txt
  src/defaultsettings.cpp
  src/filesys.cpp
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
Labels: @ Mainmenu, Android, Bugfix, Maintenance, One approval, Testing needed, Windows

#10923 Update URLs to HTTPS
  README.md
Labels: >= Two approvals, @ Documentation, Trivial

#10235 Send attachments instantly before set_pos
  src/server.cpp
  src/server/luaentity_sao.cpp
Labels: @ Server / Client / Env., Bugfix, One approval

#10952 Server-side authority for attached players
  src/network/serverpackethandler.cpp
  src/server/luaentity_sao.cpp
  src/server/player_sao.cpp
Labels: >= Two approvals, Bugfix

#10943 Fix short_description fallback order
  builtin/game/register.lua
  doc/lua_api.txt
  games/devtest/mods/unittests/itemdescription.lua
  src/script/common/c_content.cpp
Labels: @ Script API, Bugfix, One approval

#10937 Add nametag background setting and object property
  .clang-format
  builtin/settingtypes.txt
  doc/lua_api.txt
  games/devtest/mods/testentities/visuals.lua
  src/activeobjectmgr.h
  src/client/camera.cpp
  src/client/camera.h
  src/client/content_cao.cpp
  src/defaultsettings.cpp
  src/object_properties.cpp
  src/object_properties.h
  src/script/common/c_content.cpp
  src/script/common/helper.cpp
  src/script/common/helper.h
  src/script/lua_api/l_object.cpp
  src/util/Optional.h
  src/util/serialize.h
Labels: @ Client / Audiovisuals, @ Script API, Feature, Maintenance, One approval

#10968 Replace deprecated call to add_player_velocity in builtin
  builtin/game/knockback.lua
Labels: Maintenance, Trivial

#10742 Fix world-aligned node rendering at bottom
  src/client/mapblock_mesh.cpp
Labels: >= Two approvals, Bugfix

#10938 Fail gracefully if main_menu_script has bad value
  builtin/init.lua
Labels: @ Mainmenu, Bugfix, One approval

#10930 Fix wrong reported item counts for inventory actions caused by move somewhere
  games/devtest/mods/chest/init.lua
  src/inventorymanager.cpp
Labels: >= Two approvals, Bugfix

#10990 Fix wrong number of items in allow_metadata_inventory_put/take callbacks
  src/inventorymanager.cpp
Labels: >= Two approvals, Bugfix, High priority

#10752 Allow overwriting media files of dependencies
  doc/lua_api.txt
  games/devtest/mods/basenodes/textures/default_dirt.png
  games/devtest/mods/basenodes/textures/dirt_with_grass/info.txt
  games/devtest/mods/basenodes/textures/info.txt
  games/devtest/mods/unittests/mod.conf
  games/devtest/mods/unittests/textures/default_dirt.png
  src/server/mods.cpp
  src/server/mods.h
Labels: >= Two approvals, @ Script API, Textures

#10992 Fix keyWasDown in input handler
  src/client/inputhandler.cpp
  src/client/inputhandler.h
Labels: Bugfix, Trivial

#9417 Use "Aux" key name consistently
  README.md
  build/android/icons/aux1_btn.svg
  build/android/icons/aux_btn.svg
  builtin/settingtypes.txt
  src/client/game.cpp
  src/client/inputhandler.cpp
  src/client/joystick_controller.cpp
  src/client/keys.h
  src/defaultsettings.cpp
  src/gui/guiKeyChangeMenu.cpp
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
  textures/base/pack/aux1_btn.png
  textures/base/pack/aux_btn.png
Labels: @ Client / Controls / Input, Maintenance, One approval

#9706 Restructure teleport command code
  builtin/game/chat.lua
Labels: Bugfix, Code quality, One approval

#10753 Deprecate not providing mod.conf
  src/content/mods.cpp
Labels: @ Script API, Feature, Maintenance, One approval

#10851 Allow toggling of texture pack by double clicking
  builtin/mainmenu/tab_content.lua
Labels: @ Content/PkgMgr, @ Mainmenu, Feature, Formspec, One approval

#10984 porting: Slap u64 on everything time-y
  doc/lua_api.txt
  src/porting.h
Labels: >= Two approvals, Bugfix

#10997 Fix hud_change and hud_remove after hud_add
  src/client/client.h
  src/client/game.cpp
  src/network/clientpackethandler.cpp
Labels: Bugfix, One approval

#10714 Keep mapblocks in memory if they're in range
  src/client/clientmap.cpp
  src/util/numeric.cpp
  src/util/numeric.h
Labels: Bugfix, One approval, Performance
