Repository luanti-org/luanti, pull requests merged in 2021-12, with the labels that each got.

#11642 Network: Delete copy constructor and use std::move instead
  src/client/client.cpp
  src/network/connection.cpp
  src/network/connection.h
  src/network/connectionthreads.cpp
  src/network/connectionthreads.h
  src/unittest/test_connection.cpp
  src/util/pointer.h
Labels: @ Network, One approval, Code quality

#11796 Improve error message if using "/help --"
  builtin/common/chatcommands.lua
Labels: Trivial, One approval, Bugfix, @ Builtin

#11826 Fix wireshark packet dissector wrong coordinates
  util/wireshark/minetest.lua
Labels: Trivial, One approval, Bugfix

#11815 Fix various warnings & correctness issues
  CMakeLists.txt
  src/client/content_cao.cpp
  src/client/game.cpp
  src/gettext.h
  src/server.cpp
  src/settings.cpp
  src/unittest/test_gettext.cpp
  src/unittest/test_utilities.cpp
Labels: Maintenance, Bugfix

#9853 pauloue's ItemStack example
  doc/lua_api.txt
Labels: @ Documentation, Trivial, >= Two approvals

#11670 Remove creative/damage info in Esc/Pause menu
  src/client/game.cpp
Labels: >= Two approvals, Bugfix

#11814 Fix URL escaping in content store
  builtin/mainmenu/dlg_contentstore.lua
Labels: >= Two approvals, Bugfix, @ Content/PkgMgr

#11827 Disable inventory if player's inventory formspec is blank
  doc/lua_api.txt
  src/client/game.cpp
Labels: Roadmap, >= Two approvals, Feature

#11860 Fix some issues with buildbot scripts
  util/buildbot/buildwin32.sh
  util/buildbot/buildwin64.sh
Labels: @ Build, Windows, Bugfix

#11859 Restructure devtest's unittests and run them in CI
  .github/workflows/build.yml
  games/devtest/mods/unittests/crafting.lua
  games/devtest/mods/unittests/init.lua
  games/devtest/mods/unittests/itemdescription.lua
  games/devtest/mods/unittests/misc.lua
  games/devtest/mods/unittests/player.lua
  games/devtest/mods/unittests/random.lua
  src/script/cpp_api/s_base.h
  src/script/cpp_api/s_server.cpp
  src/script/cpp_api/s_server.h
  src/script/lua_api/l_server.cpp
  util/test_multiplayer.sh
Labels: @ Script API, One approval, Devtest game

#11868 Protect font initialization with mutex
  src/client/fontengine.cpp
  src/client/fontengine.h
Labels: @ Client / Audiovisuals, One approval, Bugfix

#11869 Use defined evaluation order in profiler
  builtin/profiler/instrumentation.lua
Labels: Trivial, Bugfix, @ Builtin

#11778 Restore GCC 5 compatibility
  src/client/client.h
  src/network/clientpackethandler.cpp
  src/util/png.cpp
Labels: @ Build, >= Two approvals, Bugfix

#11853 Automatically use SSE registers for FP operations on i386
  CMakeLists.txt
  src/CMakeLists.txt
Labels: @ Build, >= Two approvals, Bugfix

#11873 Don't allow to join a singleplayer session
  src/network/serverpackethandler.cpp
Labels: Trivial, Bugfix

#6765 Add more neighbors on mesh update
  builtin/settingtypes.txt
  src/client/client.cpp
  src/client/mesh_generator_thread.cpp
  src/client/mesh_generator_thread.h
  src/defaultsettings.cpp
Labels: @ Client / Audiovisuals, Roadmap, >= Two approvals, Bugfix

#11881 Remove unused (de)serializeAttributes() methods
  src/gui/guiButton.cpp
  src/gui/guiButton.h
  src/gui/guiEditBox.cpp
  src/gui/guiEditBox.h
  src/gui/guiEditBoxWithScrollbar.cpp
  src/gui/guiEditBoxWithScrollbar.h
  src/gui/guiSkin.cpp
  src/gui/guiSkin.h
  src/irrlicht_changes/static_text.cpp
  src/irrlicht_changes/static_text.h
Labels: Maintenance, >= Two approvals

#11903 Socket-related cleanups
  src/client/game.cpp
  src/filesys.cpp
  src/network/address.cpp
  src/network/address.h
  src/network/socket.cpp
  src/network/socket.h
  src/server.cpp
  src/unittest/test_socket.cpp
Labels: Windows, One approval, Bugfix, Code quality

#11851 Formspec: Unify argument checks
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: One approval, Code quality, Formspec

#11848 Improve TTF support for pixel-style fonts
  builtin/settingtypes.txt
  minetest.conf.example
  src/client/fontengine.cpp
  src/defaultsettings.cpp
Labels: One approval, Feature

#11821 Add padding[] element to formspecs
  doc/lua_api.txt
  games/devtest/mods/testformspec/formspec.lua
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: Roadmap, One approval, Feature, Formspec
