Repository luanti-org/luanti, pull requests merged in 2021-06, with the labels that each got.

#11039 Add metatables to lua vectors
  builtin/client/init.lua
  builtin/common/misc_helpers.lua
  builtin/common/tests/misc_helpers_spec.lua
  builtin/common/tests/serialize_spec.lua
  builtin/common/tests/vector_spec.lua
  builtin/common/vector.lua
  builtin/game/chat.lua
  builtin/game/falling.lua
  builtin/game/init.lua
  builtin/game/item.lua
  builtin/game/misc.lua
  builtin/game/voxelarea.lua
  builtin/init.lua
  builtin/mainmenu/tests/serverlistmgr_spec.lua
  doc/lua_api.txt
  src/script/common/c_converter.cpp
Labels: >= Two approvals

#11298 Android: Do not submit text after pressing Enter key for multi-line text
  build/android/app/src/main/java/net/minetest/minetest/GameActivity.java
  build/android/app/src/main/res/values/strings.xml
Labels: >= Two approvals, Android, Bugfix

#11244 Shadow mapping render pass
  builtin/mainmenu/tab_settings.lua
  builtin/settingtypes.txt
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  client/shaders/shadow_shaders/pass1_fragment.glsl
  client/shaders/shadow_shaders/pass1_trans_fragment.glsl
  client/shaders/shadow_shaders/pass1_trans_vertex.glsl
  client/shaders/shadow_shaders/pass1_vertex.glsl
  client/shaders/shadow_shaders/pass2_fragment.glsl
  client/shaders/shadow_shaders/pass2_vertex.glsl
  src/client/CMakeLists.txt
  src/client/clientmap.cpp
  src/client/clientmap.h
  src/client/content_cao.cpp
  src/client/game.cpp
  src/client/mapblock_mesh.cpp
  src/client/render/core.cpp
  src/client/render/core.h
  src/client/renderingengine.h
  src/client/shader.cpp
  src/client/shadows/dynamicshadows.cpp
  src/client/shadows/dynamicshadows.h
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/shadows/dynamicshadowsrender.h
  src/client/shadows/shadowsScreenQuad.cpp
  src/client/shadows/shadowsScreenQuad.h
  src/client/shadows/shadowsshadercallbacks.cpp
  src/client/shadows/shadowsshadercallbacks.h
  src/client/sky.cpp
  src/client/sky.h
  src/client/wieldmesh.cpp
  src/client/wieldmesh.h
  src/defaultsettings.cpp
Labels: >= Two approvals, @ Client / Audiovisuals, Feature, Non-trivial, Shaders

#11307 falling.lua - Fix Meshnodes Being Too Big
  builtin/game/falling.lua
Labels: @ Builtin, One approval, Trivial

#11149 Message for empty list output in /haspriv and /mods
  builtin/game/chat.lua
Labels: @ Builtin, Low priority, One approval, Trivial

#11350 Drop --videomodes, fullscreen_bpp and high_precision_fpu settings
  builtin/settingtypes.txt
  src/client/clientlauncher.cpp
  src/client/clientlauncher.h
  src/client/renderingengine.cpp
  src/client/renderingengine.h
  src/defaultsettings.cpp
  src/main.cpp
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
Labels: @ Client rendering engine, Maintenance, One approval

#10536 Add roadmap
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  doc/direction.md
Labels: @ Documentation, Maintenance, Roadmap

#11092 Make chat web links clickable
  builtin/settingtypes.txt
  minetest.conf.example
  po/minetest.pot
  src/chat.cpp
  src/chat.h
  src/defaultsettings.cpp
  src/gui/guiChatConsole.cpp
  src/gui/guiChatConsole.h
Labels: >= Two approvals, Feature

#11333 Add min_y and max_y checks for Active Block Modifiers (ABM)
  builtin/game/features.lua
  doc/lua_api.txt
  src/script/cpp_api/s_env.cpp
  src/script/lua_api/l_env.h
  src/serverenvironment.cpp
  src/serverenvironment.h
Labels: >= Two approvals, @ Server / Client / Env., Feature

#11368 Inventory: show error on invalid list names
  src/inventory.h
  src/script/common/c_content.cpp
Labels: @ Script API, Bugfix, One approval

#11370 Fix some typos in builtin
  builtin/mainmenu/dlg_settings_advanced.lua
  builtin/settingtypes.txt
Labels: @ Builtin, @ Documentation, One approval, Trivial

#11313 Update Dockerfile and improve build speed
  Dockerfile
Labels: >= Two approvals, @ Build

#11338 Strip carriage returns from lines in settingtypes.txt
  builtin/mainmenu/dlg_settings_advanced.lua
Labels: >= Two approvals, @ Builtin, Bugfix, Trivial

#11371 Update builtin locale
  builtin/locale/__builtin.de.tr
  builtin/locale/__builtin.it.tr
  builtin/locale/template.txt
Labels: >= Two approvals, @ Builtin, @ Translation, Trivial

#11283 Move build/android directory to root of project
  .github/workflows/android.yml
  .gitignore
  android/.gitignore
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/net/minetest/minetest/CopyZipTask.java
  android/app/src/main/java/net/minetest/minetest/CustomEditText.java
  android/app/src/main/java/net/minetest/minetest/GameActivity.java
  android/app/src/main/java/net/minetest/minetest/MainActivity.java
  android/app/src/main/java/net/minetest/minetest/UnzipService.java
  android/app/src/main/res/drawable/background.png
  android/app/src/main/res/drawable/bg.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/mipmap/ic_launcher.png
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/icons/aux1_btn.svg
  android/icons/camera_btn.svg
  android/icons/chat_btn.svg
  android/icons/chat_hide_btn.svg
  android/icons/chat_show_btn.svg
  android/icons/checkbox_tick.svg
  android/icons/debug_btn.svg
  android/icons/down.svg
  android/icons/drop_btn.svg
  android/icons/fast_btn.svg
  android/icons/fly_btn.svg
  android/icons/gear_icon.svg
  android/icons/inventory_btn.svg
  android/icons/joystick_bg.svg
  android/icons/joystick_center.svg
  android/icons/joystick_off.svg
  android/icons/jump_btn.svg
  android/icons/minimap_btn.svg
  android/icons/noclip_btn.svg
  android/icons/rangeview_btn.svg
  android/icons/rare_controls.svg
  android/icons/zoom.svg
  android/keystore-minetest.jks
  android/native/build.gradle
  android/native/jni/Android.mk
  android/native/jni/Application.mk
  android/native/src/main/AndroidManifest.xml
  android/settings.gradle
  build/android/native/jni/Android.mk
  doc/README.android
  util/bump_version.sh
Labels: >= Two approvals, @ Build, Android

#11374 Document hypertext escaping
  doc/lua_api.txt
Labels: @ Documentation, @ Script API, Maintenance

#11355 Buildbot: Use posix on Win64 builds while running from Ubuntu based distributions
  util/buildbot/buildwin64.sh
  util/buildbot/toolchain_x86_64-w64-mingw32-posix.cmake
Labels: >= Two approvals, @ Build, Bugfix

#11375 Perform some quality assurance for translation strings
  src/client/clientlauncher.cpp
  src/gui/guiVolumeChange.cpp
Labels: >= Two approvals, @ Translation, Maintenance

#9315 Require 'basic_debug' priv to view gameplay-relevant debug info (2nd try), require 'debug' priv to view wireframe
  builtin/game/privileges.lua
  src/client/game.cpp
  src/client/gameui.cpp
  src/client/gameui.h
  src/client/hud.cpp
  src/client/hud.h
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
Labels: @ Client / Audiovisuals, Feature, One approval

#11276 Use user provided lib/irrlichtmt if available
  .gitignore
  CMakeLists.txt
  README.md
Labels: @ Build, Feature, One approval

#11382 Inventory: Make addList() consistent
  src/inventory.cpp
  src/inventory.h
  src/script/common/c_content.cpp
Labels: Bugfix, One approval

#11387 run on_grant and on_revoke callbacks after privs change
  builtin/game/auth.lua
  builtin/game/chat.lua
Labels: >= Two approvals, @ Script API, Bugfix

#11395 Remove unsupported video drivers
  builtin/settingtypes.txt
  src/client/renderingengine.cpp
Labels: >= Two approvals, @ Client rendering engine, @ Mainmenu, @ Startup / Config / Util, Maintenance, Roadmap

#11398 Auth API: Error when accessed prior to ServerEnv init
  src/script/lua_api/l_auth.cpp
Labels: @ Script API, Trivial
