Repository luanti-org/luanti, pull requests merged in 2022-03, with the labels that each got.

#11963 Make get_sky return a table
  builtin/game/features.lua
  doc/lua_api.txt
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
Labels: @ Script API, Roadmap, >= Two approvals, Feature

#12020 Debug HUD flag
  doc/lua_api.txt
  src/client/game.cpp
  src/hud.cpp
  src/hud.h
  src/player.cpp
  src/script/lua_api/l_object.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Supported by core dev

#12120 Fix memory leak from SpatialAreaStore
  src/util/areastore.cpp
Labels: >= Two approvals, Bugfix

#12125 Fix undefined behavior in TileLayer
  src/client/tile.h
Labels: One approval, Bugfix

#12129 Fix memory leak in EmergeManager
  src/emerge.cpp
Labels: Trivial, >= Two approvals, Bugfix

#12090 Improve lua vector helper class doumentation
  doc/lua_api.txt
Labels: @ Script API, @ Documentation, One approval

#11944 Proposal: API to control shadow intensity from the game/mod
  builtin/settingtypes.txt
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  doc/lua_api.txt
  games/devtest/mods/experimental/init.lua
  games/devtest/mods/experimental/lighting.lua
  src/client/client.h
  src/client/game.cpp
  src/client/localplayer.h
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/shadows/dynamicshadowsrender.h
  src/client/sky.h
  src/defaultsettings.cpp
  src/lighting.h
  src/network/clientopcodes.cpp
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/remoteplayer.h
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
  src/server.cpp
  src/server.h
Labels: @ Script API, Roadmap, One approval, Discussion

#12150 Fix the documentation of InvRef:get_lists() and clean up code
  doc/lua_api.txt
  src/database/database-postgresql.cpp
  src/database/database-sqlite3.cpp
  src/inventory.cpp
  src/inventory.h
  src/script/common/c_content.cpp
  src/script/common/c_content.h
  src/script/cpp_api/s_client.cpp
  src/script/lua_api/l_inventory.cpp
  src/script/lua_api/l_nodemeta.cpp
Labels: >= Two approvals, Code quality

#12146 Tune shadow perspective distortion
  builtin/mainmenu/tab_settings.lua
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  client/shaders/shadow_shaders/pass1_trans_vertex.glsl
  client/shaders/shadow_shaders/pass1_vertex.glsl
  src/client/shader.cpp
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/shadows/dynamicshadowsrender.h
  src/client/shadows/shadowsshadercallbacks.cpp
  src/client/shadows/shadowsshadercallbacks.h
Labels: @ Client / Audiovisuals, Performance, >= Two approvals, Code quality

#12158 Limit dynamic shadows to the viewing range
  src/client/shadows/dynamicshadows.cpp
Labels: @ Client / Audiovisuals, Trivial, Roadmap, >= Two approvals
