Repository luanti-org/luanti, pull requests merged in 2022-05, with the labels that each got.

#12254 Initialize wield mesh colors when changing item.
  src/client/wieldmesh.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix

#12161 Add German translation to AppData
  misc/net.minetest.minetest.appdata.xml
Labels: @ Translation, >= Two approvals

#11920 Add vector.combine
  builtin/common/tests/vector_spec.lua
  builtin/common/vector.lua
  doc/client_lua_api.txt
  doc/lua_api.txt
Labels: @ Script API, >= Two approvals, Feature, Supported by core dev

#12256 guiScalingFilter: Fix most memory leaks
  src/client/client.cpp
  src/client/guiscalingfilter.cpp
Labels: One approval, Bugfix, @ Client rendering engine

#12215 hud_get: Return precision field for waypoints
  src/script/common/c_content.cpp
Labels: @ Script API, >= Two approvals, Bugfix

#12262 Avoid rendering invisible faces of simple nodeboxes
  src/client/content_mapblock.cpp
  src/client/content_mapblock.h
Labels: @ Client / Audiovisuals, Roadmap, Performance, One approval

#11176 Fix Windows Visual Studio actions
  .github/workflows/build.yml
  src/CMakeLists.txt
Labels: Windows, >= Two approvals, Bugfix

#12255 Sort out some issues with our CI setup
  .github/workflows/android.yml
  .github/workflows/build.yml
  .github/workflows/cpp_lint.yml
  .github/workflows/lua.yml
  .github/workflows/macos.yml
  README.md
  util/ci/common.sh
Labels: @ Build, Maintenance, One approval

#12115 Enable chat clickable weblinks by default
  builtin/settingtypes.txt
  minetest.conf.example
  src/defaultsettings.cpp
Labels: >= Two approvals, Feature, Supported by core dev

#12258 Add benchmarks for json string serialize/deserialize
  CMakeLists.txt
  README.md
  lib/catch2/CMakeLists.txt
  lib/catch2/catch.hpp
  src/CMakeLists.txt
  src/benchmark/CMakeLists.txt
  src/benchmark/benchmark.cpp
  src/benchmark/benchmark.h
  src/benchmark/benchmark_serialize.cpp
  src/benchmark/benchmark_setup.h
  src/cmake_config.h.in
  src/main.cpp
  util/ci/build.sh
  util/ci/common.sh
Labels: >= Two approvals, Feature

#12253 Fix enabling of dependencies with identical names
  builtin/mainmenu/pkgmgr.lua
Labels: Trivial, One approval, Bugfix, @ Mainmenu

#12202 Enable dependencies when enabling modpacks
  builtin/mainmenu/pkgmgr.lua
Labels: Trivial, One approval, Bugfix, @ Content/PkgMgr

#12288 strict.lua: remove unused variable WARN_INIT
  builtin/common/strict.lua
Labels: Trivial, @ Builtin, Code quality

#12283 Fix mapblock geometry optimisation not working
  src/client/tile.h
Labels: Trivial, One approval, Bugfix

#12239 Docs: Recommend `entity.name`
  doc/lua_api.txt
Labels: @ Documentation, >= Two approvals

#12241 Fix Minetest blaming the wrong mod for errors
  builtin/client/register.lua
  builtin/game/item.lua
  builtin/game/register.lua
Labels: >= Two approvals, Bugfix

#12270 HUD: Update selection mesh every frame
  src/client/game.cpp
Labels: >= Two approvals, Bugfix, @ Client rendering engine

#12274 Add more Prometheus metrics
  src/emerge.cpp
  src/emerge.h
  src/map.cpp
  src/map.h
  src/server.cpp
  src/server.h
  src/serverenvironment.cpp
  src/serverenvironment.h
  src/util/metricsbackend.cpp
  src/util/metricsbackend.h
Labels: @ Server / Client / Env., One approval, Feature

#12297 Fix possible unreliable behavior due to uninitialized variables
  src/rollback.cpp
Labels: Maintenance, Trivial, One approval, Code quality

#12152 Add doc to list breaking changes for the next major release
  doc/breakages.md
Labels: @ Documentation, Maintenance, One approval, Supported by core dev

#12310 Fix cooking and fuel crafts with aliases
  games/devtest/mods/unittests/crafting_prepare.lua
  src/craftdef.cpp
Labels: Trivial, One approval, Bugfix

#12289 Support packing arbitrary graphs
  games/devtest/mods/unittests/async_env.lua
  src/script/common/c_packer.cpp
  src/script/common/c_packer.h
Labels: @ Script API, >= Two approvals, Bugfix, Feature

#12309 Use native packer to transfer globals into async env(s)
  builtin/async/game.lua
  builtin/game/misc.lua
  src/script/common/c_packer.h
  src/script/scripting_server.cpp
  src/server.cpp
  src/server.h
Labels: Trivial, Bugfix

#12328 DevTest: Fix broken PNG textures
  games/devtest/mods/basetools/textures/basetools_bloodsword.png
  games/devtest/mods/basetools/textures/basetools_elementalsword.png
  games/devtest/mods/basetools/textures/basetools_firesword.png
  games/devtest/mods/basetools/textures/basetools_healdagger.png
  games/devtest/mods/basetools/textures/basetools_healsword.png
  games/devtest/mods/basetools/textures/basetools_icesword.png
  games/devtest/mods/basetools/textures/basetools_mesepick.png
  games/devtest/mods/basetools/textures/basetools_mesesword.png
  games/devtest/mods/basetools/textures/basetools_superhealsword.png
  games/devtest/mods/basetools/textures/basetools_titaniumsword.png
  games/devtest/mods/basetools/textures/basetools_usespick.png
  games/devtest/mods/basetools/textures/basetools_usessword.png
  games/devtest/mods/basetools/textures/basetools_wooddagger.png
Labels: Maintenance, One approval, Bugfix, Textures, @ Devtest Game

#12326 Add vcs-browser and contribute URLs to Appdata
  misc/net.minetest.minetest.appdata.xml
Labels: Maintenance, One approval

#12301 Use std::map instead of core::map
  src/client/mesh.cpp
  src/irrlicht_changes/CGUITTFont.cpp
  src/irrlicht_changes/CGUITTFont.h
  src/unittest/test.cpp
Labels: Performance, One approval, Code quality

#12341 Fix lighting of the wield mesh
  src/client/camera.cpp
  src/client/camera.h
  src/client/clientenvironment.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix

#12336 Fix lighting of upright_sprite entities
  src/client/content_cao.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix

#12195 Improve shadow filters
  builtin/settingtypes.txt
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  src/client/clientmap.cpp
  src/client/shader.cpp
  src/client/shadows/dynamicshadowsrender.cpp
  src/defaultsettings.cpp
Labels: @ Client / Audiovisuals, Roadmap, One approval, Shaders

#12030 Deprecate game.conf name, use title instead
  builtin/mainmenu/dlg_contentstore.lua
  builtin/mainmenu/pkgmgr.lua
  builtin/mainmenu/tab_local.lua
  doc/lua_api.txt
  doc/menu_lua_api.txt
  games/devtest/game.conf
  src/content/content.cpp
  src/content/content.h
  src/content/subgames.cpp
  src/content/subgames.h
  src/script/lua_api/l_mainmenu.cpp
  src/server.cpp
Labels: @ Script API, Maintenance, >= Two approvals, Supported by core dev, Code quality

#12347 Patch built-in Lua to bypass Android miscompile
  lib/lua/src/lgc.c
Labels: @ Build, Android, >= Two approvals, Bugfix

#12346 Make no_screenshot image more clear
  LICENSE.txt
  textures/base/pack/no_screenshot.png
Labels: >= Two approvals, @ Mainmenu, @ Content/PkgMgr

#12263 Fixes needed to use irrArray backed by std::vector
  src/client/clientmap.cpp
  src/client/clientmap.h
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
  src/irrlicht_changes/CGUITTFont.cpp
  src/irrlicht_changes/CGUITTFont.h
Labels: Maintenance, Performance, >= Two approvals, Code quality

#12313 Replace all uses of core::list with std::list
  src/gui/guiConfirmRegistration.cpp
  src/gui/guiConfirmRegistration.h
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiKeyChangeMenu.cpp
  src/gui/guiKeyChangeMenu.h
  src/gui/guiPasswordChange.cpp
  src/gui/guiPasswordChange.h
  src/gui/guiPathSelectMenu.cpp
  src/gui/guiScrollContainer.cpp
  src/gui/guiVolumeChange.cpp
  src/gui/guiVolumeChange.h
  src/gui/mainmenumanager.h
  src/gui/modalMenu.cpp
  src/gui/modalMenu.h
  src/unittest/test.cpp
Labels: Maintenance, >= Two approvals, Code quality

#9588 Add relative numbers for commands by prepending ~
  builtin/common/misc_helpers.lua
  builtin/common/tests/misc_helpers_spec.lua
  builtin/game/chat.lua
  doc/lua_api.txt
Labels: >= Two approvals, Feature, @ Builtin, Supported by core dev

#12339 Add missing comma in example in lua_api.txt
  doc/lua_api.txt
Labels: @ Documentation, Trivial, >= Two approvals, Bugfix

#12343 Docs: clarify spawn_by
  doc/lua_api.txt
Labels: @ Documentation, Trivial, One approval

#12329 Fix no_texture.png being shown (instead of unknown_node.png) for unknown nodes w/ content ID < 125
  src/nodedef.h
Labels: @ Client / Audiovisuals, One approval, Bugfix, Textures

#12321 unordered_map instead of map for MapSectors
  src/map.cpp
  src/map.h
Labels: @ Mapgen, Performance, >= Two approvals

#12357 Quantize light frustum calculations
  src/client/shadows/dynamicshadows.cpp
Labels: @ Client / Audiovisuals, Roadmap, One approval, Discussion

#12364 Force-update shadows when the world is changed
  src/client/client.cpp
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/shadows/dynamicshadowsrender.h
Labels: @ Client / Audiovisuals, Roadmap, >= Two approvals, Discussion

#12304 DevTest: Add nodes and items for testing overlays
  games/devtest/mods/testitems/init.lua
  games/devtest/mods/testitems/mod.conf
  games/devtest/mods/testitems/textures/testitems_overlay_base.png
  games/devtest/mods/testitems/textures/testitems_overlay_overlay.png
  games/devtest/mods/testnodes/init.lua
  games/devtest/mods/testnodes/overlays.lua
  games/devtest/mods/testnodes/textures/testnodes_overlay.png
  games/devtest/mods/testnodes/textures/testnodes_overlayable.png
Labels: Maintenance, >= Two approvals, Feature, Supported by core dev, @ Devtest Game

#12377 Optimize misc helpers
  builtin/common/information_formspecs.lua
  builtin/common/misc_helpers.lua
  builtin/common/tests/misc_helpers_spec.lua
Labels: Performance, >= Two approvals, @ Builtin, Code quality

#12381 Lua workflow: Use Leafo's Luarocks action
  .github/workflows/lua.yml
Labels: @ Build, Trivial, One approval, Bugfix

#12359 Default settings, presets and configuration for dynamic shadows
  builtin/mainmenu/tab_settings.lua
Labels: @ Client / Audiovisuals, Roadmap, >= Two approvals, @ Builtin
