Repository luanti-org/luanti, pull requests merged in 2022-09, with the labels that each got.

#12732 Fix incorrectly placed label in tab_online
  builtin/mainmenu/tab_online.lua
Labels: Trivial, >= Two approvals, Bugfix, @ Mainmenu

#12465 Implement rendering pipeline and post-processing
  client/shaders/default_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/second_stage/opengl_fragment.glsl
  client/shaders/second_stage/opengl_vertex.glsl
  client/shaders/selection_shader/opengl_fragment.glsl
  src/client/CMakeLists.txt
  src/client/camera.cpp
  src/client/hud.cpp
  src/client/render/anaglyph.cpp
  src/client/render/anaglyph.h
  src/client/render/core.cpp
  src/client/render/core.h
  src/client/render/factory.cpp
  src/client/render/interlaced.cpp
  src/client/render/interlaced.h
  src/client/render/pageflip.cpp
  src/client/render/pipeline.cpp
  src/client/render/pipeline.h
  src/client/render/plain.cpp
  src/client/render/plain.h
  src/client/render/secondstage.cpp
  src/client/render/secondstage.h
  src/client/render/sidebyside.cpp
  src/client/render/sidebyside.h
  src/client/render/stereo.cpp
  src/client/render/stereo.h
  src/client/shader.cpp
  src/client/shader.h
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/shadows/dynamicshadowsrender.h
Labels: Roadmap, >= Two approvals, Feature, @ Client rendering engine

#12704 Code optimizations / refactor
  src/client/camera.cpp
  src/client/clientlauncher.cpp
  src/client/clientmap.cpp
  src/client/game.cpp
  src/client/hud.cpp
  src/client/imagefilters.cpp
  src/client/keycode.cpp
  src/client/minimap.cpp
  src/client/minimap.h
  src/client/shader.cpp
  src/client/sound_openal.cpp
  src/client/tile.cpp
  src/content/mod_configuration.cpp
  src/database/database-dummy.cpp
  src/database/database-files.cpp
  src/filesys.cpp
  src/gui/guiButton.cpp
  src/gui/guiEngine.cpp
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiScene.cpp
  src/itemdef.cpp
  src/main.cpp
  src/map.cpp
  src/mapgen/mg_schematic.cpp
  src/network/clientpackethandler.cpp
  src/network/connection.cpp
  src/nodedef.cpp
  src/nodetimer.h
  src/script/common/c_content.cpp
  src/script/cpp_api/s_base.cpp
  src/script/lua_api/l_client.cpp
  src/script/lua_api/l_item.cpp
  src/server.cpp
  src/tool.cpp
  src/unittest/test_filepath.cpp
  src/unittest/test_modmetadatadatabase.cpp
  src/util/quicktune_shortcutter.h
  src/util/string.h
Labels: >= Two approvals, Code quality

#12145 Add documentation of sun/moon orientation/scale differences
  doc/lua_api.txt
  src/client/sky.cpp
  src/client/sky.h
Labels: @ Script API, @ Documentation, Low priority, >= Two approvals

#12727 Fix texture pack sorting in content tab
  builtin/mainmenu/pkgmgr.lua
Labels: Trivial, Bugfix, @ Mainmenu, @ Content/PkgMgr, UI/UX

#12730 chat weblink: remove comma as delim
  src/chat.cpp
Labels: Trivial, Bugfix

#12740 Allow looped animation to be used safely with old clients
  src/client/particles.cpp
  src/particles.cpp
  src/tileanimation.cpp
  src/tileanimation.h
Labels: One approval, Bugfix

#12729 Fix potential use-after-free with item metadata
  src/script/lua_api/l_item.cpp
  src/script/lua_api/l_item.h
  src/script/lua_api/l_itemstackmeta.cpp
  src/script/lua_api/l_itemstackmeta.h
  src/util/pointer.h
Labels: @ Script API, >= Two approvals, Bugfix

#12758 Mainmenu: Properly sort mods and games
  builtin/common/misc_helpers.lua
  builtin/mainmenu/dlg_config_world.lua
  builtin/mainmenu/dlg_contentstore.lua
  builtin/mainmenu/dlg_create_world.lua
  builtin/mainmenu/dlg_settings_advanced.lua
  builtin/mainmenu/pkgmgr.lua
  doc/menu_lua_api.txt
  src/script/lua_api/l_mainmenu.cpp
Labels: Maintenance, High priority, One approval, Bugfix, @ Mainmenu

#12760 Fix API documentation issue
  doc/lua_api.txt
Labels: @ Documentation, Trivial

#12761 Content tab: Change uninstall icon to trash bin
  LICENSE.txt
  textures/base/pack/cdb_clear.png
Labels: One approval, Textures, @ Mainmenu

#12747 Fix tooltips for dropdown, scrollbar and more
  src/gui/guiFormSpecMenu.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix, Formspec

#11431 Add paramtype2s for 4 horizontal rotations and 64 colors
  builtin/game/falling.lua
  builtin/game/item.lua
  builtin/game/item_s.lua
  doc/lua_api.txt
  games/devtest/mods/testnodes/meshes.lua
  games/devtest/mods/testnodes/nodeboxes.lua
  games/devtest/mods/testnodes/param2.lua
  games/devtest/mods/testnodes/textures/testnodes_palette_4dir.png
  src/client/content_mapblock.cpp
  src/client/game.cpp
  src/mapnode.cpp
  src/nodedef.cpp
  src/nodedef.h
  src/script/common/c_content.cpp
  src/script/cpp_api/s_node.cpp
Labels: >= Two approvals, Feature, Supported by core dev

#12639 Add support for MINETEST_USERDATA environment variable
  README.md
  doc/minetest.6
  src/main.cpp
  src/porting.cpp
Labels: @ Startup / Config / Util, >= Two approvals, Feature, Supported by core dev

#12763 Fix UAF in craft recipes
  src/craftdef.cpp
Labels: @ Script API, >= Two approvals, Bugfix

#12710 Client mapblocks: do frustum culling via planes
  src/client/camera.cpp
  src/client/camera.h
  src/client/clientmap.cpp
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
  src/client/meshgen/collector.cpp
  src/client/meshgen/collector.h
  src/client/wieldmesh.cpp
Labels: Performance, >= Two approvals, @ Client rendering engine

#12776 Allow getmetatable in CSM
  src/script/cpp_api/s_security.cpp
Labels: >= Two approvals, Bugfix, @ Client Script API

#12444 Content ID caching in Lua
  builtin/async/game.lua
  builtin/common/item_s.lua
  builtin/game/init.lua
  games/devtest/mods/experimental/commands.lua
  games/devtest/mods/unittests/content_ids.lua
  games/devtest/mods/unittests/init.lua
Labels: @ Script API, Performance, One approval, Supported by core dev

#12576 Document minetest.parse_relative_number
  doc/lua_api.txt
Labels: @ Documentation, One approval

#12751 Replace XOR with complement for bitflip
  src/util/sha1.cpp
Labels: Low priority, Trivial, Code quality

#12781 Fix a trivial TODO in localplayer.h
  src/client/localplayer.cpp
  src/client/localplayer.h
Labels: Trivial, Code quality

#12353 Fix formula used for acceleration
  doc/breakages.md
  src/client/clientenvironment.cpp
  src/client/localplayer.cpp
  src/client/localplayer.h
  src/client/particles.cpp
  src/collision.cpp
  src/server/luaentity_sao.cpp
Labels: @ Server / Client / Env., >= Two approvals, Bugfix, Breaking Change

#11934 Briefly explain how facedir rotations work
  doc/lua_api.txt
Labels: @ Documentation, Trivial, >= Two approvals

#12794 Fix two spelling mistakes
  src/client/content_cao.cpp
  src/content/mod_configuration.h
Labels: @ Documentation, Trivial

#12804 Fix double escape in update checker dialog
  builtin/mainmenu/dlg_version_info.lua
Labels: Trivial, One approval, Bugfix

#12802 Add lighting test and benchmark
  src/benchmark/CMakeLists.txt
  src/benchmark/benchmark_lighting.cpp
  src/dummygamedef.h
  src/dummymap.h
  src/map.cpp
  src/map.h
  src/unittest/test.cpp
  src/unittest/test_voxelalgorithms.cpp
  src/voxelalgorithms.cpp
  src/voxelalgorithms.h
Labels: @ Startup / Config / Util, One approval

#12445 Modify PUC Lua to wrap C++ exceptions
  lib/lua/src/lapi.c
  lib/lua/src/ldo.c
  lib/lua/src/lstate.c
  lib/lua/src/lstate.h
  lib/lua/src/lua.h
  src/script/cpp_api/s_base.cpp
  src/unittest/test_lua.cpp
Labels: @ Script API, One approval, Bugfix

#12562 Avoid duplication of mod metadata in memory
  builtin/game/features.lua
  doc/lua_api.txt
  games/devtest/mods/unittests/init.lua
  games/devtest/mods/unittests/metadata.lua
  src/client/client.cpp
  src/client/client.h
  src/content/mods.cpp
  src/content/mods.h
  src/database/database-dummy.cpp
  src/database/database-dummy.h
  src/database/database-files.cpp
  src/database/database-files.h
  src/database/database-sqlite3.cpp
  src/database/database-sqlite3.h
  src/database/database.h
  src/dummygamedef.h
  src/gamedef.h
  src/itemstackmetadata.cpp
  src/itemstackmetadata.h
  src/metadata.cpp
  src/metadata.h
  src/nodemetadata.cpp
  src/nodemetadata.h
  src/script/lua_api/l_itemstackmeta.cpp
  src/script/lua_api/l_itemstackmeta.h
  src/script/lua_api/l_metadata.cpp
  src/script/lua_api/l_metadata.h
  src/script/lua_api/l_nodemeta.cpp
  src/script/lua_api/l_nodemeta.h
  src/script/lua_api/l_playermeta.cpp
  src/script/lua_api/l_playermeta.h
  src/script/lua_api/l_storage.cpp
  src/script/lua_api/l_storage.h
  src/server.cpp
  src/server.h
  src/server/player_sao.h
  src/unittest/test_modmetadatadatabase.cpp
Labels: @ Script API, Roadmap, One approval, Feature

#12807 Fix liquid drawtype faces sometimes not rendering
  src/client/mapblock_mesh.cpp
  src/nodedef.cpp
  src/nodedef.h
Labels: >= Two approvals, Bugfix, @ Client rendering engine

#11939 Restore and enhance bouncy behavior
  doc/lua_api.txt
  src/client/localplayer.cpp
Labels: >= Two approvals, Bugfix, @ Client / Controls / Input, Supported by core dev

#12766 Pause shader animation timer in singleplayer pause menu
  src/client/clientenvironment.cpp
  src/client/clientenvironment.h
  src/client/game.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix, Shaders

#12515 Add zstd minetest.compress support
  builtin/game/features.lua
  doc/client_lua_api.txt
  doc/lua_api.txt
  games/devtest/mods/unittests/misc.lua
  src/script/lua_api/l_util.cpp
Labels: @ Script API, >= Two approvals, Feature, Supported by core dev

#7865 Add crosshair support for Android
  builtin/mainmenu/tab_settings.lua
  builtin/settingtypes.txt
  src/client/game.cpp
  src/defaultsettings.cpp
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
Labels: Android, >= Two approvals, Feature, @ Client / Controls / Input, Supported by core dev

#12791 Bloom
  builtin/settingtypes.txt
  client/shaders/blur_h/opengl_fragment.glsl
  client/shaders/blur_h/opengl_vertex.glsl
  client/shaders/blur_v/opengl_fragment.glsl
  client/shaders/blur_v/opengl_vertex.glsl
  client/shaders/extract_bloom/opengl_fragment.glsl
  client/shaders/extract_bloom/opengl_vertex.glsl
  client/shaders/second_stage/opengl_fragment.glsl
  src/client/game.cpp
  src/client/render/pipeline.cpp
  src/client/render/pipeline.h
  src/client/render/secondstage.cpp
  src/client/render/secondstage.h
  src/client/renderingengine.h
  src/client/shader.cpp
  src/defaultsettings.cpp
Labels: @ Client / Audiovisuals, Roadmap, One approval, Feature

#12820 Fix error message appearing if crafting replacements drop on the floor
  src/inventorymanager.cpp
Labels: @ Server / Client / Env., >= Two approvals, Bugfix

#12819 Fix inconsistent craft replacements (#9250)
  src/craftdef.cpp
Labels: @ Server / Client / Env., Trivial, One approval, Bugfix

#12822 Avert collision static detection rounding error
  src/collision.cpp
Labels: Trivial, Bugfix

#12793 Improve double tap for jump detection
  src/client/game.cpp
Labels: Roadmap, One approval, Feature, @ Client / Controls / Input
