Repository luanti-org/luanti, pull requests merged in 2022-10, with the labels that each got.

#12806 Improve crafting recipe documentation
  doc/lua_api.txt
Labels: @ Documentation, >= Two approvals

#7712 Add an item pick up callback (2)
  LICENSE.txt
  builtin/game/item.lua
  builtin/game/item_entity.lua
  builtin/game/register.lua
  doc/lua_api.txt
  games/devtest/mods/testitems/init.lua
  games/devtest/mods/testitems/textures/testitems_callback_1.png
  games/devtest/mods/testitems/textures/testitems_callback_2.png
Labels: @ Script API, >= Two approvals, Feature, Supported by core dev

#12830 DevTest: Reject buggy "/hp inf" command
  games/devtest/mods/util_commands/init.lua
Labels: Trivial, One approval, Bugfix, @ Devtest Game

#12832 Disable -ffinite-math-only
  src/CMakeLists.txt
Labels: @ Build, Trivial, One approval, Bugfix

#12728 Consolidate API object code
  src/script/common/c_content.cpp
  src/script/lua_api/l_areastore.cpp
  src/script/lua_api/l_areastore.h
  src/script/lua_api/l_base.cpp
  src/script/lua_api/l_base.h
  src/script/lua_api/l_camera.cpp
  src/script/lua_api/l_camera.h
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_env.h
  src/script/lua_api/l_inventory.cpp
  src/script/lua_api/l_inventory.h
  src/script/lua_api/l_item.cpp
  src/script/lua_api/l_item.h
  src/script/lua_api/l_itemstackmeta.cpp
  src/script/lua_api/l_itemstackmeta.h
  src/script/lua_api/l_localplayer.cpp
  src/script/lua_api/l_localplayer.h
  src/script/lua_api/l_mapgen.cpp
  src/script/lua_api/l_metadata.cpp
  src/script/lua_api/l_metadata.h
  src/script/lua_api/l_minimap.cpp
  src/script/lua_api/l_minimap.h
  src/script/lua_api/l_modchannels.cpp
  src/script/lua_api/l_modchannels.h
  src/script/lua_api/l_nodemeta.cpp
  src/script/lua_api/l_nodemeta.h
  src/script/lua_api/l_nodetimer.cpp
  src/script/lua_api/l_nodetimer.h
  src/script/lua_api/l_noise.cpp
  src/script/lua_api/l_noise.h
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
  src/script/lua_api/l_particleparams.h
  src/script/lua_api/l_particles.cpp
  src/script/lua_api/l_playermeta.cpp
  src/script/lua_api/l_playermeta.h
  src/script/lua_api/l_settings.cpp
  src/script/lua_api/l_settings.h
  src/script/lua_api/l_storage.cpp
  src/script/lua_api/l_storage.h
  src/script/lua_api/l_vmanip.cpp
  src/script/lua_api/l_vmanip.h
Labels: @ Script API, One approval, Code quality

#12831 DevTest: Change texture for node-aligned node
  games/devtest/mods/tiled/init.lua
  games/devtest/mods/tiled/textures/tiled_tiled_node.png
Labels: >= Two approvals, Bugfix, @ Devtest Game

#12833 DevTest: Explain purpose of most items in tooltips
  games/devtest/mods/basenodes/init.lua
  games/devtest/mods/basetools/init.lua
  games/devtest/mods/chest_of_everything/init.lua
  games/devtest/mods/dignodes/init.lua
  games/devtest/mods/experimental/items.lua
  games/devtest/mods/soundstuff/init.lua
  games/devtest/mods/stairs/init.lua
  games/devtest/mods/testfood/init.lua
  games/devtest/mods/testitems/init.lua
  games/devtest/mods/testnodes/drawtypes.lua
  games/devtest/mods/testnodes/light.lua
  games/devtest/mods/testnodes/liquids.lua
  games/devtest/mods/testnodes/meshes.lua
  games/devtest/mods/testnodes/nodeboxes.lua
  games/devtest/mods/testnodes/param2.lua
  games/devtest/mods/testnodes/properties.lua
  games/devtest/mods/testnodes/textures.lua
  games/devtest/mods/tiled/init.lua
  games/devtest/mods/unittests/itemdescription.lua
Labels: Maintenance, >= Two approvals, @ Devtest Game

#12810 Improve documentation for `liquid_alternative_*`
  doc/lua_api.txt
Labels: @ Documentation, >= Two approvals

#12771 add an 'equals' method to ItemStack and compatibility w/ lua '=='
  doc/lua_api.txt
  games/devtest/mods/unittests/init.lua
  games/devtest/mods/unittests/itemstack_equals.lua
  src/script/lua_api/l_item.cpp
  src/script/lua_api/l_item.h
Labels: @ Script API, Roadmap, >= Two approvals, Feature

#12797 Optimize lighting calculation
  src/client/clientmap.cpp
  src/client/content_cso.cpp
  src/client/content_mapblock.cpp
  src/client/mapblock_mesh.cpp
  src/client/particles.cpp
  src/map.cpp
  src/mapblock.cpp
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen_singlenode.cpp
  src/mapnode.cpp
  src/mapnode.h
  src/nodedef.cpp
  src/nodedef.h
  src/script/lua_api/l_env.cpp
  src/unittest/test_mapnode.cpp
  src/unittest/test_voxelalgorithms.cpp
  src/voxel.cpp
  src/voxelalgorithms.cpp
Labels: Performance, One approval, @ Client rendering engine, Code quality

#12848 object ids are u16, not s16
  src/util/pointedthing.cpp
  src/util/pointedthing.h
Labels: @ Server / Client / Env., >= Two approvals, Bugfix

#12845 Speed up find_nodes_in_area
  src/map.h
  src/script/lua_api/l_env.cpp
  src/unittest/test_map.cpp
Labels: @ Script API, Performance, One approval

#12626 LocalPlayer: Fix sneaking on nodes with large collisionboxes
  src/client/localplayer.cpp
Labels: One approval, Bugfix, @ Client / Controls / Input

#12790 Take geographic distance into account for server list ordering
  builtin/mainmenu/common.lua
  builtin/mainmenu/serverlistmgr.lua
  builtin/mainmenu/tests/serverlistmgr_spec.lua
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
Labels: One approval, Feature, @ Mainmenu, Supported by core dev

#12869 [NO SQUASH] Fix lua_api.txt typos and en_US/en_GB inconsistency
  doc/lua_api.txt
Labels: @ Documentation, >= Two approvals, Bugfix

#12609 Implement vector and node conversion in Lua
  builtin/client/init.lua
  builtin/common/item_s.lua
  builtin/common/tests/misc_helpers_spec.lua
  builtin/common/tests/serialize_spec.lua
  builtin/common/tests/vector_spec.lua
  builtin/common/vector.lua
  builtin/mainmenu/tests/serverlistmgr_spec.lua
  src/client/client.cpp
  src/gui/guiEngine.cpp
  src/script/common/c_content.cpp
  src/script/common/c_content.h
  src/script/common/c_converter.cpp
  src/script/common/c_internal.h
  src/script/cpp_api/s_async.cpp
  src/script/cpp_api/s_base.cpp
  src/script/cpp_api/s_base.h
  src/script/cpp_api/s_client.cpp
  src/script/cpp_api/s_env.cpp
  src/script/cpp_api/s_node.cpp
  src/script/cpp_api/s_security.cpp
  src/script/lua_api/l_client.cpp
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_item.cpp
  src/script/lua_api/l_item.h
  src/script/lua_api/l_particles.cpp
  src/script/lua_api/l_particles_local.cpp
  src/script/lua_api/l_vmanip.cpp
  src/script/scripting_client.cpp
  src/server.cpp
Labels: @ Script API, Performance, One approval, Supported by core dev

#12862 Check for falling `float` nodes in liquid transform
  src/map.cpp
  src/nodedef.cpp
  src/nodedef.h
  src/script/cpp_api/s_env.cpp
  src/script/cpp_api/s_env.h
Labels: @ Server / Client / Env., One approval, Bugfix

#12789 Revise bump_version.sh script to address shortcomings
  CMakeLists.txt
  util/bump_version.sh
Labels: Maintenance, One approval

#12795 Fix formspec focus
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/util/Optional.h
Labels: >= Two approvals, Bugfix, Formspec, UI/UX

#12867 guiChatConsole: fix the unicode characters crowded together on prompt
  src/gui/guiChatConsole.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix

#12874 Fix use of unassigned global "check"
  games/devtest/mods/unittests/init.lua
Labels: Trivial, One approval, Bugfix, @ Devtest Game

#12882 Fix typos and en_US/en_GB inconsistency in files inside doc directory
  doc/builtin_entities.txt
  doc/client_lua_api.txt
  doc/direction.md
  doc/fst_api.txt
  doc/menu_lua_api.txt
  doc/texture_packs.txt
  doc/world_format.txt
Labels: @ Documentation, >= Two approvals

#12886 Add `VoxelArea()` constructor
  builtin/game/voxelarea.lua
  doc/lua_api.txt
Labels: @ Script API, >= Two approvals, Feature

#12889 Check `sizeof(int)` and `sizeof(size_t)`
  src/CMakeLists.txt
Labels: @ Build, Maintenance, >= Two approvals

#12891 Fix some outdated stuff about falling node docs
  doc/builtin_entities.txt
Labels: @ Documentation, Trivial, >= Two approvals

#12896 GUIInventoryList: Keep item size while moving
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiInventoryList.h
Labels: One approval, Bugfix

#12898 Shadow list improvements
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/wieldmesh.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix

#12895 Safety check the map's blocksize
  src/content/subgames.cpp
  src/serverenvironment.cpp
Labels: @ Server / Client / Env., Low priority, One approval

#12887 Fix incorrect culling introduced by #12710
  src/client/clientmap.cpp
Labels: One approval, Bugfix, @ Client rendering engine, Regression

#12379 Allow rotating entity selectionboxes
  doc/lua_api.txt
  games/devtest/mods/testentities/init.lua
  games/devtest/mods/testentities/selectionbox.lua
  src/client/clientenvironment.cpp
  src/client/game.cpp
  src/client/hud.cpp
  src/client/hud.h
  src/environment.cpp
  src/object_properties.cpp
  src/object_properties.h
  src/raycast.cpp
  src/raycast.h
  src/script/common/c_content.cpp
  src/server/luaentity_sao.cpp
  src/server/unit_sao.h
  src/serverenvironment.cpp
  src/util/pointedthing.cpp
  src/util/pointedthing.h
Labels: @ Client / Audiovisuals, >= Two approvals, Feature, Supported by core dev, UI/UX

#12720 Add a worlds_here.txt file in the worlds folder and update .gitignore
  .gitignore
  worlds/worlds_here.txt
Labels: @ Startup / Config / Util, >= Two approvals, Feature

#12904 Enable negative values for sun/moon orbit tilt (Northern hemisphere)
  builtin/settingtypes.txt
  src/client/sky.cpp
Labels: @ Client / Audiovisuals, Trivial, >= Two approvals

#12910 Send crosshair setting after the touch screen GUI has been initialized
  src/client/game.cpp
Labels: Android, Trivial, One approval, Bugfix, @ Client / Controls / Input, UI/UX

#12911 Android: Increase target/compiled SDK version to 32
  android/app/build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/native/build.gradle
Labels: @ Build, Android, >= Two approvals
