Repository luanti-org/luanti, pull requests merged in 2022-04, with the labels that each got.

#12160 Avoid negation of comparison operator (luacheck warning)
  builtin/game/chat.lua
Labels: Trivial, One approval, Bugfix

#11696 Depth sorting for node faces
  builtin/settingtypes.txt
  src/client/clientmap.cpp
  src/client/clientmap.h
  src/client/content_mapblock.cpp
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
  src/client/tile.h
  src/defaultsettings.cpp
Labels: Roadmap, >= Two approvals, Feature, @ Client rendering engine

#12157 Enable shadows by default in devtest
  games/devtest/mods/experimental/lighting.lua
  games/devtest/mods/util_commands/init.lua
Labels: One approval, Feature, Devtest game

#12148 Disentangle map implementations
  src/client/clientmap.h
  src/map.cpp
  src/map.h
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_vmanip.cpp
  src/server.cpp
Labels: Maintenance, >= Two approvals, Code quality

#12166 Adjust PSM distortion to use entire SM texture
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/shadow_shaders/pass1_trans_vertex.glsl
  client/shaders/shadow_shaders/pass1_vertex.glsl
  src/client/clientmap.cpp
  src/client/clientmap.h
  src/client/shader.cpp
  src/client/shadows/dynamicshadows.cpp
  src/client/shadows/dynamicshadows.h
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/shadows/shadowsshadercallbacks.cpp
  src/client/shadows/shadowsshadercallbacks.h
Labels: @ Client / Audiovisuals, Roadmap, >= Two approvals, Shaders

#12179 Remove unneeded setter return values
  doc/lua_api.txt
  src/script/lua_api/l_object.cpp
Labels: @ Script API, >= Two approvals, Bugfix

#12173 Fix item entity Z-fighting
  builtin/game/item_entity.lua
Labels: >= Two approvals, Bugfix, @ Builtin

#12191 Implement shadow offsets for the new SM distortion function
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  client/shaders/shadow_shaders/pass1_trans_vertex.glsl
  client/shaders/shadow_shaders/pass1_vertex.glsl
  src/client/render/core.cpp
  src/client/shadows/dynamicshadows.h
  src/client/shadows/dynamicshadowsrender.cpp
Labels: @ Client / Audiovisuals, Roadmap, One approval

#12194 upright_sprite: Fix walk animation in first person
  src/client/content_cao.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix

#12193 Send chat error when attemping to /set a secure setting
  builtin/game/chat.lua
Labels: >= Two approvals, Bugfix, Supported by core dev

#12187 Fix '[combine' for when EVDF_TEXTURE_NPOT is disabled
  src/client/tile.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix

#12203 Fix docs to reference CSS Color Module Level 3
  doc/lua_api.txt
Labels: @ Documentation, Trivial

#12205 Fix some debug info showing despite being disabled in the UI
  src/client/game.cpp
Labels: Trivial, Bugfix, @ Client / Controls / Input

#12143 Builtin: Allow to revoke unknown privileges
  builtin/game/chat.lua
Labels: One approval, Bugfix, @ Builtin

#12192 Use mod names/titles instead of technical names
  builtin/mainmenu/dlg_config_world.lua
  builtin/mainmenu/dlg_settings_advanced.lua
  builtin/mainmenu/pkgmgr.lua
  builtin/mainmenu/tab_content.lua
  builtin/settingtypes.txt
Labels: One approval, Feature, @ Mainmenu, Supported by core dev

#12207 Fix typo: `vector.check()` ought to be `vector.check(v)`
  doc/lua_api.txt
Labels: Trivial, Bugfix

#12210 Fix some textures not being sent correctly to older clients
  src/nodedef.cpp
Labels: >= Two approvals, Bugfix

#12213 Fix worldaligned textures
  src/client/content_mapblock.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix

#11870 DevTest: Add more test weapons and armorball modes
  games/devtest/mods/basetools/init.lua
  games/devtest/mods/basetools/textures/basetools_bloodsword.png
  games/devtest/mods/basetools/textures/basetools_elementalsword.png
  games/devtest/mods/basetools/textures/basetools_healdagger.png
  games/devtest/mods/basetools/textures/basetools_healsword.png
  games/devtest/mods/basetools/textures/basetools_mesesword.png
  games/devtest/mods/basetools/textures/basetools_superhealsword.png
  games/devtest/mods/basetools/textures/basetools_titaniumsword.png
  games/devtest/mods/basetools/textures/basetools_usespick.png
  games/devtest/mods/basetools/textures/basetools_usessword.png
  games/devtest/mods/basetools/textures/basetools_wooddagger.png
  games/devtest/mods/testentities/armor.lua
  games/devtest/mods/testentities/textures/testentities_armorball.png
  games/devtest/mods/unittests/itemdescription.lua
  games/devtest/mods/unittests/textures/unittests_description_test.png
Labels: >= Two approvals, Feature, Devtest game

#12218 Fix invalid queued package element and path
  builtin/mainmenu/dlg_contentstore.lua
Labels: Trivial, One approval, Bugfix, @ Content/PkgMgr

#12204 Support CSS Color Module Level 4
  doc/lua_api.txt
  src/util/string.cpp
Labels: @ Script API, Maintenance, Low priority, Trivial, One approval, Feature, Supported by core dev

#12228 DevTest: Fix armorball sprite
  games/devtest/mods/testentities/armor.lua
  games/devtest/mods/testentities/textures/testentities_armorball.png
Labels: Trivial, One approval, Bugfix, Devtest game

#12230 Show unknown node in debug screen
  src/client/gameui.cpp
Labels: >= Two approvals, Bugfix

#12232 Remove HW_buffer_counter after irrlichmt fix to remove HWBufferMap
  src/client/game.cpp
  src/client/mapblock_mesh.cpp
Labels: >= Two approvals, Bugfix

#12221 Refactor local time retrieval
  src/client/client.cpp
  src/gettime.h
Labels: @ Server / Client / Env., Maintenance, >= Two approvals

#12184 Run automated tests when lua files change
  .github/workflows/lua.yml
  .github/workflows/lua_lint.yml
  games/devtest/.luacheckrc
Labels: @ Build, Maintenance, One approval
