Repository luanti-org/luanti, pull requests merged in 2022-08, with the labels that each got.

#12131 Add `minetest.settings` to CSM API and allow CSMs to provide `settingtypes.txt`
  builtin/client/init.lua
  builtin/client/misc.lua
  builtin/mainmenu/dlg_settings_advanced.lua
  clientmods/preview/init.lua
  clientmods/preview/settingtypes.txt
  doc/client_lua_api.txt
  src/script/cpp_api/s_security.cpp
  src/script/lua_api/l_util.cpp
  src/script/scripting_client.cpp
Labels: >= Two approvals, @ Client Script API, Supported by core dev

#7629 Run Minetest update checker on startup
  CMakeLists.txt
  README.md
  android/build.gradle
  android/native/build.gradle
  android/native/jni/Android.mk
  builtin/mainmenu/dlg_version_info.lua
  builtin/mainmenu/init.lua
  builtin/settingtypes.txt
  doc/lua_api.txt
  src/cmake_config.h.in
  src/config.h
  src/defaultsettings.cpp
  src/gui/guiFormSpecMenu.cpp
  src/script/lua_api/l_util.cpp
  util/bump_version.sh
Labels: One approval, Feature, @ Mainmenu, Supported by core dev

#12637 Disable dynamic shadow dropdown on OGLES2
  builtin/mainmenu/tab_settings.lua
  src/client/render/core.cpp
Labels: >= Two approvals, Bugfix, @ Mainmenu, @ Client rendering engine

#12677 Fix crash when stars are reset
  src/script/lua_api/l_object.cpp
Labels: @ Script API, Trivial, Bugfix

#12665 Node vertex shader: Properly use the waved world position
  client/shaders/nodes_shader/opengl_vertex.glsl
Labels: >= Two approvals, Bugfix, Shaders

#12591 Physics overrides: Move values to a common struct
  doc/breakages.md
  src/client/clientenvironment.cpp
  src/client/content_cao.cpp
  src/client/localplayer.cpp
  src/client/localplayer.h
  src/client/particles.cpp
  src/player.h
  src/script/lua_api/l_localplayer.cpp
  src/script/lua_api/l_object.cpp
  src/server/player_sao.cpp
  src/server/player_sao.h
Labels: >= Two approvals, Code quality

#12685 Fix crash when crafting callbacks return strings
  builtin/game/register.lua
Labels: @ Script API, >= Two approvals, Bugfix

#12540 Textures: introduce world-align overrides
  doc/texture_packs.txt
  src/nodedef.cpp
  src/texture_override.cpp
  src/texture_override.h
Labels: One approval, Textures, Feature

#12632 Remove default keybind for range select
  builtin/settingtypes.txt
  src/defaultsettings.cpp
Labels: >= Two approvals, @ Client / Controls / Input

#12682 Allow buffer argument to VoxelManip:get_light_data
  builtin/game/features.lua
  doc/lua_api.txt
  src/script/lua_api/l_vmanip.cpp
Labels: @ Script API, Trivial, >= Two approvals, Feature

#12678 Reassure previous `nil` behaviour for `tiles` and `special_tiles`
  builtin/game/item.lua
Labels: >= Two approvals, Bugfix, @ Builtin, Regression

#12667 Check hp_max > 0 for entities
  src/script/common/c_content.cpp
Labels: >= Two approvals, Bugfix

#12679 Reduce the use of porting::getTimeMs() when rendering frames
  src/client/clientenvironment.cpp
  src/client/clientenvironment.h
  src/client/clientmap.cpp
  src/client/game.cpp
Labels: @ Client / Audiovisuals, Performance, One approval

#12616 Move some CI jobs to newer compiler versions
  .github/workflows/build.yml
  .github/workflows/macos.yml
  util/ci/common.sh
Labels: @ Build, Maintenance, One approval

#12417 Docs: add "flip moon texture" into breakage file
  doc/breakages.md
Labels: @ Documentation, >= Two approvals

#12641 Add handling of environment variables to control terminal/logging colors
  src/main.cpp
Labels: @ Startup / Config / Util, >= Two approvals, Feature, Supported by core dev

#12692 Limit force shadow update to urgent blocks
  src/client/client.cpp
  src/client/mesh_generator_thread.cpp
  src/client/mesh_generator_thread.h
Labels: @ Client / Audiovisuals, Performance, >= Two approvals

#12652 Remove resolution of appstream screenshots
  misc/net.minetest.minetest.appdata.xml
Labels: Trivial, One approval, Bugfix

#12695 Cut back on Gitlab-ci & misc. updates
  .gitlab-ci.yml
  doc/mkdocs/requirements.txt
  misc/AppImageBuilder.yml
  misc/debpkg-control
  util/ci/docker.sh
Labels: @ Build, Maintenance, One approval

#12703 [NoSquash] ContentDB: Fix crash when trying to overwrite a package
  builtin/mainmenu/pkgmgr.lua
  builtin/mainmenu/tests/pkgmgr_spec.lua
Labels: One approval, Bugfix, @ Mainmenu, @ Content/PkgMgr

#12693 Apply DPI Scaling to GUIModalMenu
  src/gui/modalMenu.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix

#12705 Add package title to ContentDB error messages
  builtin/mainmenu/dlg_contentstore.lua
Labels: Trivial, One approval, @ Mainmenu, @ Content/PkgMgr

#12701 Log sockets into tracestream instead of dstream
  src/network/socket.cpp
Labels: @ Network, Maintenance, One approval

#12662 Use sky API to obtain directional light source position
  src/client/game.cpp
  src/client/sky.cpp
  src/client/sky.h
Labels: @ Client / Audiovisuals, Maintenance, One approval, Bugfix

#12542 Prevent loading a world with unresolved dependencies
  src/client/client.cpp
  src/content/mod_configuration.cpp
  src/content/mod_configuration.h
  src/server.cpp
  src/server/mods.h
Labels: @ Server / Client / Env., One approval, UI/UX

#12723 Fix texture_min_size clamping
  src/nodedef.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix

#12700 Fix and enable x86 build for Android
  .github/workflows/android.yml
  android/app/build.gradle
  android/native/build.gradle
  android/native/jni/Android.mk
Labels: @ Build, Android, >= Two approvals, Bugfix
