Repository luanti-org/luanti, pull requests merged in 2022-12, with the labels that each got.

#12999 Add `minetest.get_mapgen_edges`
  doc/lua_api.txt
  games/devtest/mods/unittests/misc.lua
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
  src/script/lua_api/l_mapgen.cpp
  src/script/lua_api/l_mapgen.h
Labels: @ Script API, @ Mapgen, One approval, Feature

#13015 Fix Minetest startup after removing last used game
  builtin/mainmenu/init.lua
Labels: One approval, Bugfix, @ Mainmenu

#12914 Add missing optional dependencies to Container Image
  Dockerfile
Labels: @ Startup / Config / Util, >= Two approvals, Feature, Supported by core dev

#13009 Expose dtime_s to LBM handler
  doc/lua_api.txt
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_env.h
  src/serverenvironment.cpp
  src/serverenvironment.h
Labels: @ Script API, One approval, Feature

#13010 Remove Irrlicht documentation URL from key settings
  builtin/mainmenu/generate_from_settingtypes.lua
  builtin/settingtypes.txt
Labels: @ Startup / Config / Util, Maintenance, One approval

#13038 Avoid out-of-bounds memory access in attached node placement prediction
  src/client/game.cpp
Labels: @ Server / Client / Env., One approval, Bugfix

#13036 Prevent air acceleration with 0 jump speed
  src/client/localplayer.cpp
Labels: Trivial, One approval, Bugfix, @ Client / Controls / Input

#11913 Use a Lua error handler that calls tostring
  builtin/init.lua
  doc/lua_api.txt
  src/script/common/c_internal.cpp
  src/script/common/c_internal.h
  src/script/cpp_api/s_base.cpp
Labels: @ Script API, One approval, Feature, Supported by core dev

#13059 Document the gain of auto-selected dig sounds
  doc/lua_api.txt
Labels: @ Documentation, Trivial, Sounds

#12636 Set and unset relative mouse mode where necessary
  src/client/clientlauncher.cpp
  src/client/game.cpp
Labels: One approval, Bugfix, @ Client / Controls / Input

#13071 Store `MapEditEvent` blocks in a vector
  src/emerge.cpp
  src/map.cpp
  src/map.h
  src/mapgen/mg_schematic.cpp
  src/mapgen/treegen.cpp
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_vmanip.cpp
  src/server.cpp
Labels: @ Server / Client / Env., Performance, One approval

#13055 Fix progress bar look on HiDPI displays
  src/client/renderingengine.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix

#13073 Fix join game tab being slightly shorter than the others
  builtin/mainmenu/tab_online.lua
Labels: >= Two approvals, @ Mainmenu

#13074 Fully remove pageflip 3D mode
  builtin/settingtypes.txt
  src/client/game.cpp
  src/client/renderingengine.cpp
Labels: Maintenance, >= Two approvals, @ Client rendering engine

#13075 Allow saturation to be controlled by the server.
  builtin/settingtypes.txt
  doc/lua_api.txt
  games/devtest/mods/util_commands/init.lua
  src/client/game.cpp
  src/defaultsettings.cpp
  src/lighting.h
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/script/lua_api/l_object.cpp
  src/server.cpp
Labels: @ Script API, One approval, Feature

#13079 Lua API: Document shader dependencies of set_lighting()
  doc/lua_api.txt
  src/script/lua_api/l_object.cpp
Labels: @ Documentation, Trivial, >= Two approvals

#13062 Use multiple threads for mesh generation
  builtin/settingtypes.txt
  src/client/client.cpp
  src/client/client.h
  src/client/mesh_generator_thread.cpp
  src/client/mesh_generator_thread.h
  src/client/tile.cpp
  src/defaultsettings.cpp
  src/network/clientpackethandler.cpp
Labels: @ Client / Audiovisuals, Performance, >= Two approvals, Feature
