Repository luanti-org/luanti, pull requests merged in 2022-11, with the labels that each got.

#12916 Bloom 2
  builtin/settingtypes.txt
  client/shaders/bloom_downsample/opengl_fragment.glsl
  client/shaders/bloom_downsample/opengl_vertex.glsl
  client/shaders/bloom_upsample/opengl_fragment.glsl
  client/shaders/bloom_upsample/opengl_vertex.glsl
  client/shaders/blur_h/opengl_fragment.glsl
  client/shaders/blur_v/opengl_fragment.glsl
  client/shaders/extract_bloom/opengl_fragment.glsl
  client/shaders/second_stage/opengl_fragment.glsl
  src/client/game.cpp
  src/client/render/pipeline.h
  src/client/render/secondstage.cpp
  src/client/renderingengine.cpp
  src/client/renderingengine.h
  src/defaultsettings.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Feature

#12885 [NOSQUASH] Reduce exposure of various internals
  .gitignore
  src/client/clientmap.cpp
  src/client/clientmap.h
  src/client/content_cao.cpp
  src/client/shadows/dynamicshadowsrender.cpp
  src/client/shadows/dynamicshadowsrender.h
  src/environment.cpp
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/map.cpp
  src/mapblock.cpp
  src/mapblock.h
  src/server.cpp
  src/server.h
  src/serverenvironment.cpp
  src/staticobject.cpp
  src/staticobject.h
Labels: Maintenance, One approval, Code quality

#12930 Resize hotbar immediately before drawing
  src/client/game.cpp
  src/client/render/plain.cpp
Labels: @ Client / Audiovisuals, Trivial, One approval, Bugfix

#12940 Flip player_back.png
  textures/base/pack/player_back.png
Labels: @ Client / Audiovisuals, Trivial, One approval, Bugfix

#12945 Fix get_tool_wear_after_use for one use (insta-break)
  src/script/lua_api/l_util.cpp
Labels: @ Script API, Trivial, One approval, Bugfix

#12925 Alternative I: Reduce active mgmt interval for a bit when a player joins
  src/serverenvironment.cpp
  src/serverenvironment.h
Labels: @ Server / Client / Env., One approval, Bugfix

#12841 Add MetaDataRef:get_keys
  doc/lua_api.txt
  games/devtest/mods/unittests/metadata.lua
  src/content/mods.cpp
  src/content/mods.h
  src/database/database-dummy.cpp
  src/database/database-dummy.h
  src/database/database-files.cpp
  src/database/database-files.h
  src/database/database-sqlite3.cpp
  src/database/database-sqlite3.h
  src/database/database.h
  src/metadata.cpp
  src/metadata.h
  src/script/lua_api/l_itemstackmeta.cpp
  src/script/lua_api/l_metadata.cpp
  src/script/lua_api/l_metadata.h
  src/script/lua_api/l_nodemeta.cpp
  src/script/lua_api/l_playermeta.cpp
  src/script/lua_api/l_storage.cpp
  src/unittest/test_modmetadatadatabase.cpp
Labels: @ Script API, >= Two approvals, Feature

#12956 game.conf: Add setting to use volatile a map backend
  doc/lua_api.txt
  src/content/subgames.cpp
Labels: @ Startup / Config / Util, One approval, Feature

#12964 set_nametag_attributes: don't reset nametags if text param is not touched
  src/script/lua_api/l_object.cpp
Labels: @ Script API, Trivial, >= Two approvals, Bugfix

#12950 Added copy of LGPL-2.1
  COPYING.LESSER
Labels: @ Documentation, Trivial, One approval

#12967 Warn about potential infinite loop in on_construct
  doc/lua_api.txt
Labels: @ Documentation, Trivial, One approval

#12865 Add configurable saturation
  builtin/settingtypes.txt
  client/shaders/second_stage/opengl_fragment.glsl
  src/client/game.cpp
  src/defaultsettings.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Feature, Shaders

#12969 Improve ABM and LBM registration error handling
  builtin/game/register.lua
Labels: @ Script API, One approval, Bugfix

#12974 Object selection: Improve distance checks
  src/client/activeobjectmgr.cpp
  src/client/activeobjectmgr.h
  src/client/clientenvironment.cpp
Labels: @ Server / Client / Env., One approval, Bugfix

#12961 Avoid shadow flicker at certain angles
  src/client/shadows/dynamicshadows.cpp
  src/client/shadows/dynamicshadows.h
Labels: @ Client / Audiovisuals, One approval, Bugfix

#12980 Check specific outputs for `isatty`
  src/log.h
Labels: @ Startup / Config / Util, Trivial, One approval, Bugfix

#12985 Fix reading schematics after their resolution
  src/script/lua_api/l_mapgen.cpp
Labels: @ Script API, One approval, Bugfix

#12987 avoid `UnitSAO::clearChildAttachments` iterator invalidation
  src/server/unit_sao.cpp
Labels: @ Script API, One approval, Bugfix

#12906 Fix entity visiblity in bright artificial light (shaders=off)
  src/client/content_cao.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix

#11432 Add support for attached facedir/4dir nodes
  builtin/game/falling.lua
  builtin/game/item.lua
  doc/lua_api.txt
  games/devtest/mods/testnodes/properties.lua
  games/devtest/mods/testnodes/textures/testnodes_attached4_bottom.png
  games/devtest/mods/testnodes/textures/testnodes_attached4_side.png
  games/devtest/mods/testnodes/textures/testnodes_attached4_top.png
  games/devtest/mods/testnodes/textures/testnodes_attachedf_bottom.png
  games/devtest/mods/testnodes/textures/testnodes_attachedf_side.png
  games/devtest/mods/testnodes/textures/testnodes_attachedf_top.png
  src/client/game.cpp
  src/util/directiontables.cpp
  src/util/directiontables.h
Labels: @ Script API, >= Two approvals, Feature, Supported by core dev

#12970 Deprecate special handling of `${key}` syntax in metadata values
  builtin/common/misc_helpers.lua
  doc/breakages.md
  doc/lua_api.txt
  src/metadata.cpp
  src/metadata.h
  src/util/string.h
Labels: @ Script API, @ Documentation, One approval

#12993 Fix touchscreen crash due to missing rangeselect
  src/defaultsettings.cpp
Labels: Android, Bugfix, @ Client / Controls / Input

#12814 Fix broken fixed_virtual_joystick
  src/gui/touchscreengui.cpp
Labels: Android, >= Two approvals, Bugfix

#12998 Abort active ABM list iteration when content changes
  src/serverenvironment.cpp
Labels: @ Server / Client / Env., One approval, Bugfix

#12989 Add `minetest.get_game_info` and allow reading `game.conf`
  doc/lua_api.txt
  games/devtest/mods/unittests/misc.lua
  src/gamedef.h
  src/script/cpp_api/s_security.cpp
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
  src/server.h
Labels: @ Script API, One approval, Feature

#12978 Wrap debug text on screen
  src/client/gameui.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix, UI/UX

#13004 Have `minetest.debug` call `tostring`
  builtin/init.lua
Labels: @ Script API, Trivial, One approval, Feature

#13008 Fix `/help` privs checks
  builtin/common/information_formspecs.lua
Labels: Trivial, One approval, Bugfix, @ Builtin, Formspec

#13003 Avoid resetting music when dialog opens
  builtin/mainmenu/tab_local.lua
Labels: @ Client / Audiovisuals, One approval, Bugfix, Sounds, @ Mainmenu

#12984 Handle num lock in chat
  src/gui/guiChatConsole.cpp
  src/util/string.h
Labels: Linux, One approval, Bugfix, @ Client / Controls / Input

#12960 Android: Segmentation fault fix, PendingIntent flag, and other fixes
  android/app/src/main/java/net/minetest/minetest/GameActivity.java
  android/app/src/main/java/net/minetest/minetest/MainActivity.java
  android/app/src/main/java/net/minetest/minetest/UnzipService.java
  android/app/src/main/java/net/minetest/minetest/Utils.java
  src/client/game.cpp
Labels: Android, >= Two approvals, Bugfix

#12991 Remove shader-variable caching hack.
  src/client/shader.cpp
Labels: Maintenance, Trivial, One approval
