Repository luanti-org/luanti, pull requests merged in 2023-02, with the labels that each got.

#13176 Separate drawlist from non-rendered blocks.
  src/client/clientmap.cpp
  src/client/clientmap.h
Labels: Performance, One approval, @ Client rendering engine

#13179 Generalize mesh chunking, and make it configurable.
  builtin/settingtypes.txt
  src/client/client.cpp
  src/client/client.h
  src/client/clientmap.cpp
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
  src/client/mesh_generator_thread.cpp
  src/defaultsettings.cpp
  src/util/directiontables.cpp
  src/util/directiontables.h
  src/util/numeric.h
Labels: Performance, One approval, @ Client rendering engine

#13197 Fix no color values on bloom texture
  client/shaders/extract_bloom/opengl_fragment.glsl
  client/shaders/extract_bloom/opengl_vertex.glsl
  client/shaders/second_stage/opengl_fragment.glsl
  client/shaders/second_stage/opengl_vertex.glsl
Labels: @ Client / Audiovisuals, >= Two approvals, Bugfix

#13203 Add mesh-holding blocks to shadow drawlist.
  src/client/clientmap.cpp
Labels: One approval, Bugfix, @ Client rendering engine

#12514 Source image tracking in tile generation
  src/client/client.h
  src/client/tile.cpp
  src/network/clientpackethandler.cpp
Labels: @ Script API, >= Two approvals, Feature

#13205 Android: Increase minimum SDK version to 21
  android/app/build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/native/build.gradle
Labels: Maintenance, Android, >= Two approvals

#13156 Explain what a float range is
  doc/lua_api.txt
Labels: @ Documentation, Trivial, One approval

#13049 Say /setpassword is insecure
  builtin/game/chat.lua
Labels: @ Documentation, Trivial, @ Builtin

#13219 Remove dead code behind Irrlicht version checks
  src/client/game.cpp
  src/client/mapblock_mesh.cpp
  src/client/sky.cpp
  src/gui/guiButton.cpp
  src/gui/guiButton.h
  src/gui/guiChatConsole.cpp
  src/gui/guiEditBox.cpp
  src/irrlicht_changes/CGUITTFont.h
  src/irrlicht_changes/static_text.cpp
  src/irrlicht_changes/static_text.h
  src/irrlichttypes.h
Labels: Maintenance, One approval, Code quality

#13223 Fix typo and missing entry in serveropcodes
  src/network/serveropcodes.cpp
Labels: Trivial, Bugfix

#13191 Add jpeg and png libraries to the Fedora DNF install hint.
  README.md
Labels: @ Documentation, Trivial, >= Two approvals

#13189 Add chat HUD flag
  doc/lua_api.txt
  src/client/game.cpp
  src/client/gameui.cpp
  src/client/gameui.h
  src/hud.cpp
  src/hud.h
  src/player.cpp
Labels: @ Script API, >= Two approvals, @ Client / Controls / Input

#13237 Reduce client's packet processing budget per iteration from 100 to 10ms.
  src/client/client.cpp
Labels: Performance, One approval, @ Client rendering engine

#13241 Fix a -Wreorder warning
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
Labels: Trivial, One approval, Code quality

#13193 Sky: transmit body_orbit_tilt to client.
  builtin/settingtypes.txt
  doc/lua_api.txt
  minetest.conf.example
  src/client/game.cpp
  src/client/sky.cpp
  src/client/sky.h
  src/defaultsettings.cpp
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/script/lua_api/l_object.cpp
  src/server.cpp
  src/skyparams.h
Labels: @ Script API, @ Client / Audiovisuals, >= Two approvals, Feature

#13255 Don't expire blocks visible to the client.
  src/clientiface.cpp
Labels: @ Server / Client / Env., @ Network, Performance, One approval, Bugfix

#13256 Check if client has a block even if the server has unloaded it.
  src/clientiface.cpp
Labels: @ Server / Client / Env., @ Network, Bugfix

#12367 Add minetest.get_player_window_information()
  builtin/mainmenu/tab_about.lua
  doc/lua_api.txt
  doc/menu_lua_api.txt
  games/devtest/mods/testfullscreenfs/init.lua
  games/devtest/mods/testfullscreenfs/mod.conf
  src/client/client.cpp
  src/client/client.h
  src/client/game.cpp
  src/client/renderingengine.h
  src/clientdynamicinfo.h
  src/clientiface.h
  src/network/clientopcodes.cpp
  src/network/networkprotocol.h
  src/network/serveropcodes.cpp
  src/network/serverpackethandler.cpp
  src/script/common/c_converter.cpp
  src/script/common/c_converter.h
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
  src/server.cpp
  src/server.h
Labels: @ Script API, @ Client / Audiovisuals, Roadmap, One approval, Supported by core dev
