Repository luanti-org/luanti, pull requests merged in 2023-09, with the labels that each got.

#13774 send ParticleSpawners to all players when time = 0
  src/server.cpp
Labels: @ Network, Trivial, >= Two approvals, Bugfix

#13768 Rewrite the gamebar
  .luacheckrc
  builtin/fstk/buttonbar.lua
  builtin/mainmenu/tab_local.lua
  doc/fst_api.txt
Labels: One approval, Bugfix, Feature, @ Mainmenu, Formspec

#13779 Fix that negative integer values for float settings don't get a ".0" suffix
  builtin/mainmenu/settings/components.lua
Labels: Trivial, One approval, Bugfix, @ Mainmenu

#13780 Higher default graphics quality on Android
  src/defaultsettings.cpp
Labels: @ Startup / Config / Util, Android, One approval, Feature

#13772 Make the crosshair DPI-aware
  src/client/hud.cpp
Labels: One approval, Bugfix, @ Client rendering, UI/UX

#13787 Allow place_param2 = 0 node placement predictions
  src/client/game.cpp
  src/client/wieldmesh.cpp
  src/itemdef.cpp
  src/itemdef.h
  src/network/networkprotocol.h
  src/script/common/c_content.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix

#13783 Show better description to users when std::bad_alloc happens
  src/client/clientlauncher.cpp
  src/debug.cpp
  src/debug.h
  src/script/common/c_internal.cpp
Labels: @ Server / Client / Env., One approval

#11465 New physics overrides
  doc/lua_api.md
  src/client/clientenvironment.cpp
  src/client/content_cao.cpp
  src/client/localplayer.cpp
  src/player.h
  src/script/lua_api/l_localplayer.cpp
  src/script/lua_api/l_object.cpp
  src/server/player_sao.cpp
Labels: @ Script API, >= Two approvals, @ Client / Controls / Input, Supported by core dev

#13797 Settings GUI: Noise parameter setting fixes
  builtin/mainmenu/settings/components.lua
  builtin/mainmenu/settings/dlg_change_mapgen_flags.lua
  builtin/mainmenu/settings/init.lua
  builtin/mainmenu/settings/settingtypes.lua
Labels: One approval, Bugfix, @ Mainmenu, UI/UX

#13806 Two ContentDB GUI fixes
  builtin/mainmenu/dlg_contentstore.lua
Labels: >= Two approvals, Bugfix, @ Mainmenu, @ Content / PkgMgr, UI/UX

#13550 Improve UX when no game exists and drop `default_game`
  builtin/mainmenu/dlg_create_world.lua
  builtin/mainmenu/init.lua
  builtin/mainmenu/tab_content.lua
  builtin/mainmenu/tab_local.lua
  builtin/settingtypes.txt
  minetest.conf.example
  src/client/clientlauncher.cpp
  src/defaultsettings.cpp
  src/main.cpp
Labels: Roadmap, >= Two approvals, Feature, @ Mainmenu

#13500 Skip face culling in shadows for double-sided materials (e.g. plantlike)
  src/client/clientmap.cpp
Labels: @ Client / Audiovisuals, Testing needed, Trivial, >= Two approvals, Bugfix

#13675 Build MkDocs Lua API docs using GitHub CI, deploy to api.minetest.net
  .github/workflows/lua_api_deploy.yml
  CNAME
  doc/mkdocs/build.sh
  doc/mkdocs/lua_highlight.patch
  doc/mkdocs/requirements.txt
Labels: @ Documentation, One approval, Feature, Supported by core dev, Waiting (on dependency)

#13828 Improve readability and infos in verbose log
  src/client/client.cpp
  src/client/content_cao.cpp
  src/client/renderingengine.cpp
  src/client/shader.cpp
  src/clientiface.cpp
  src/itemdef.cpp
  src/main.cpp
  src/mapblock.cpp
  src/script/cpp_api/s_entity.cpp
  src/server/luaentity_sao.cpp
  src/serverenvironment.cpp
Labels: @ Server / Client / Env., Maintenance, One approval

#13827 doc: `animaition` -> `animation`
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval

#13773 Don't trigger a key event if a key with the same associated char was pressed
  src/client/keycode.h
  src/unittest/test_keycode.cpp
Labels: One approval, Bugfix, @ Client / Controls / Input

#13819 Escape package description in content tab
  builtin/mainmenu/tab_content.lua
Labels: Trivial, >= Two approvals, Bugfix, @ Mainmenu, @ Content / PkgMgr

#13829 Fix error when enabling texture packs in the "Content" tab
  builtin/mainmenu/tab_content.lua
Labels: Trivial, One approval, Bugfix, @ Mainmenu
