Repository luanti-org/luanti, pull requests merged in 2023-05, with the labels that each got.

#13481 Fix shadows dropdown and clean up shader settings
  builtin/mainmenu/settings/shader_component.lua
Labels: @ Startup / Config / Util, One approval, Bugfix, @ Mainmenu, Shaders

#13482 Add min/max protocol version to `minetest.get_version()`
  doc/lua_api.md
  games/devtest/mods/unittests/get_version.lua
  games/devtest/mods/unittests/init.lua
  src/script/lua_api/l_util.cpp
Labels: @ Script API, >= Two approvals, Feature

#13061 Document Android controls
  doc/README.android
  doc/android.md
Labels: @ Documentation, Android, One approval

#13432 Fix rotation of 4dir in schematic placement
  src/mapnode.cpp
Labels: Trivial, One approval, Bugfix

#13426 Disable vertical movement in free_move when both jump and sneak keys are pressed
  src/client/localplayer.cpp
Labels: >= Two approvals, @ Client / Controls / Input, Supported by core dev, UI/UX

#13489 Settings menu improvements regarding default values
  builtin/mainmenu/settings/components.lua
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/mainmenu/settings/settingtypes.lua
  doc/lua_api.md
  src/defaultsettings.cpp
  src/script/lua_api/l_settings.cpp
  src/script/lua_api/l_settings.h
Labels: >= Two approvals, @ Mainmenu, Supported by core dev, UI/UX

#13497 Inventory: Allow InvRef:set_list with new_size >= old_size
  src/inventory.cpp
Labels: >= Two approvals, Bugfix

#13505 Remove trailing whitespace
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  doc/world_format.txt
  games/devtest/mods/lighting/init.lua
  lib/jsoncpp/json/json-forwards.h
  lib/jsoncpp/json/json.h
  lib/jsoncpp/jsoncpp.cpp
  lib/lua/src/lapi.c
  lib/lua/src/ldblib.c
  lib/lua/src/ldebug.c
  lib/lua/src/ldo.c
  lib/lua/src/lgc.c
  lib/lua/src/llimits.h
  lib/lua/src/loadlib.c
  lib/lua/src/lobject.h
  lib/lua/src/lopcodes.h
  lib/lua/src/lstate.c
  lib/lua/src/lstrlib.c
  lib/lua/src/ltable.c
  lib/lua/src/lua.c
  lib/lua/src/lua.h
  lib/lua/src/lualib.h
  lib/lua/src/lvm.c
  mods/mods_here.txt
  src/client/hud.cpp
  src/client/mesh_generator_thread.cpp
  src/client/render/anaglyph.cpp
  src/client/render/anaglyph.h
  src/client/render/core.cpp
  src/client/render/core.h
  src/client/render/factory.cpp
  src/client/render/interlaced.cpp
  src/client/render/plain.h
  src/client/render/secondstage.h
  src/client/render/sidebyside.cpp
  src/client/shadows/dynamicshadows.cpp
  src/client/tile.cpp
  src/nodedef.h
  src/script/lua_api/l_object.h
  src/texture_override.cpp
  src/unittest/test_serialization.cpp
  src/util/numeric.h
  util/updatepo.sh
Labels: Maintenance, Trivial, One approval

#13524 Reset day/night ratio even when passing no arguments
  doc/lua_api.md
  src/script/lua_api/l_object.cpp
Labels: @ Script API, Trivial, Roadmap, >= Two approvals, Bugfix

#13525 Reset player lighting when passing no arguments
  doc/lua_api.md
  src/script/lua_api/l_object.cpp
Labels: @ Script API, Roadmap, >= Two approvals, Feature

#13514 Disable `desynchronize_mapblock_texture_animation` by default
  builtin/settingtypes.txt
  minetest.conf.example
  src/defaultsettings.cpp
Labels: @ Startup / Config / Util, >= Two approvals, Bugfix

#13506 Convert spaces to tabs
  src/client/render/plain.h
  src/database/database-postgresql.cpp
  src/filesys.h
  src/inventorymanager.h
  src/lighting.cpp
  src/lighting.h
  src/main.cpp
  src/map.cpp
  src/network/clientopcodes.h
  src/network/networkprotocol.h
  src/network/serveropcodes.h
  src/pathfinder.cpp
  src/porting.cpp
  src/script/cpp_api/s_player.cpp
  src/serialization.cpp
  src/server/player_sao.cpp
  src/server/player_sao.h
  src/unittest/test_map_settings_manager.cpp
  src/unittest/test_utilities.cpp
Labels: Maintenance, Trivial, One approval, Code quality

#13528 Android build via CMake
  CMakeLists.txt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/net/minetest/minetest/GameActivity.java
  android/build.gradle
  android/native/build.gradle
  android/native/jni/Android.mk
  android/native/jni/Application.mk
  cmake/Modules/MinetestAndroidLibs.cmake
  doc/compiling/README.md
  src/CMakeLists.txt
  src/config.h
  src/version.cpp
  util/bump_version.sh
Labels: @ Build, Maintenance, Android, One approval

#13513 Fix settings dialog not resetting filter when closed
  builtin/mainmenu/settings/dlg_settings.lua
Labels: Trivial, Bugfix, @ Mainmenu

#12439 Avoid jittering when player is attached
  src/activeobjectmgr.h
Labels: >= Two approvals, Bugfix

#13187 Place nodes with single tap on Android (+ bugfix)
  doc/android.md
  src/client/game.cpp
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
Labels: Android, >= Two approvals, Bugfix, @ Client / Controls / Input

#13431 Load blocks and objects behind player when in third-persion front-view
  src/client/client.cpp
  src/client/localplayer.h
  src/clientiface.cpp
  src/network/networkprotocol.h
  src/network/serverpackethandler.cpp
  src/server/player_sao.h
  src/serverenvironment.cpp
Labels: One approval, Bugfix

#10100 Additional texture modifiers
  doc/lua_api.md
  src/client/tile.cpp
Labels: @ Client / Audiovisuals, Roadmap, >= Two approvals, Feature
