Repository luanti-org/luanti, pull requests merged in 2023-04, with the labels that each got.

#13372 Do not rely on ZSTD_CLEVEL_DEFAULT define
  src/script/lua_api/l_util.cpp
Labels: Trivial, One approval, Bugfix

#13375 Corrections to loops and BFS cullers
  src/client/clientmap.cpp
Labels: One approval, Bugfix, @ Client rendering engine

#13383 [NO SQUASH] Revert "Add mesh-holding blocks to shadow drawlist. (#13203)"
  src/client/clientmap.cpp
Labels: @ Client / Audiovisuals, Performance

#13380 Limit formspec fields to 640K
  src/network/serverpackethandler.cpp
Labels: @ Server / Client / Env., >= Two approvals, Bugfix

#13337 Lua API: Catch serialization error for chat messages
  src/script/lua_api/l_server.cpp
Labels: @ Script API, One approval, Bugfix

#13216 Remove fast faces
  src/client/content_mapblock.cpp
  src/client/content_mapblock.h
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
  src/client/tile.h
Labels: Testing needed, >= Two approvals, @ Client rendering engine

#13273 Get rid of wgettext
  src/client/client.cpp
  src/client/clientlauncher.cpp
  src/client/game.cpp
  src/client/gameui.cpp
  src/gettext.h
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiKeyChangeMenu.cpp
  src/gui/guiKeyChangeMenu.h
  src/gui/guiPasswordChange.cpp
  src/gui/guiVolumeChange.cpp
  src/script/lua_api/l_client.cpp
  src/util/string.cpp
  src/util/string.h
Labels: Maintenance, One approval, Code quality

#13404 Add `progress_bar.png` and `progress_bar_bg.png` to license
  LICENSE.txt
Labels: @ Documentation, Trivial

#13342 Android: Minor Code Improvements
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/net/minetest/minetest/GameActivity.java
  android/app/src/main/java/net/minetest/minetest/UnzipService.java
  android/gradle.properties
Labels: Maintenance, Android, >= Two approvals

#13419 Remove formspec_default_bg_color/opacity settings
  builtin/settingtypes.txt
  minetest.conf.example
  src/defaultsettings.cpp
  src/gui/guiFormSpecMenu.cpp
Labels: @ Startup / Config / Util, One approval, Discussion, Formspec, UI/UX

#13390 Add `vector.in_area()` utility function
  builtin/common/tests/vector_spec.lua
  builtin/common/vector.lua
  doc/lua_api.txt
Labels: @ Script API, >= Two approvals, Feature, @ Builtin, Supported by core dev

#13336 Simulate all keys being released when when game loses focus
  src/client/game.cpp
  src/client/inputhandler.h
  src/client/joystick_controller.h
Labels: One approval, Bugfix, @ Client / Controls / Input

#13238 Clarify documentation of punch key
  README.md
  builtin/settingtypes.txt
  src/client/game.cpp
Labels: @ Documentation, Trivial, One approval

#13322 Fix black loading screen background if `menu_clouds = false`
  src/client/client.cpp
  src/client/game.cpp
  src/client/renderingengine.cpp
  src/client/renderingengine.h
  src/gui/guiEngine.cpp
Labels: >= Two approvals, Bugfix, @ Mainmenu

#13414 Add focused styling to buttons
  doc/lua_api.txt
  games/devtest/mods/testformspec/formspec.lua
  games/devtest/mods/testformspec/textures/testformspec_bg_9slice_focused.png
  games/devtest/mods/testformspec/textures/testformspec_bg_focused.png
  src/gui/StyleSpec.h
  src/gui/guiButton.cpp
  src/gui/guiButton.h
Labels: Feature, @ Client / Controls / Input, Formspec, UI/UX

#13078 AppImageBuilder.yml: add script section and update to Jammy
  .gitignore
  misc/AppImageBuilder.yml
Labels: @ Build, >= Two approvals, Bugfix

#12861 Store whether window is maximized
  builtin/settingtypes.txt
  src/client/game.cpp
  src/client/renderingengine.cpp
  src/client/renderingengine.h
  src/defaultsettings.cpp
  src/gui/guiEngine.cpp
Labels: @ Startup / Config / Util, One approval, Feature

#13429 Prevent installing mods when there is no base game
  builtin/mainmenu/dlg_contentstore.lua
Labels: Trivial, Bugfix, @ Mainmenu, @ Content / PkgMgr

#13428 Update settingtypes
  builtin/settingtypes.txt
  minetest.conf.example
  src/defaultsettings.cpp
  src/settings_translation_file.cpp
Labels: @ Startup / Config / Util, @ Documentation, Maintenance, Trivial, One approval

#12614 Add ability to override item images using meta
  doc/lua_api.md
  games/devtest/mods/testitems/init.lua
  games/devtest/mods/testitems/textures/testitems_overridden.png
  src/client/game.cpp
  src/client/hud.cpp
  src/client/wieldmesh.cpp
  src/inventory.cpp
  src/inventory.h
  src/itemdef.cpp
  src/itemdef.h
  src/settings.cpp
  src/util/string.cpp
  src/util/string.h
Labels: @ Script API, @ Client / Audiovisuals, One approval, Feature, Supported by core dev

#13360 InventoryManager: Disallow resizing or deleting inventory lists that are in use
  src/inventory.cpp
  src/inventory.h
  src/inventorymanager.cpp
Labels: @ Script API, One approval, Bugfix

#13457 Split compilation instructions from README.md
  README.md
  doc/compiling/README.md
  doc/compiling/linux.md
  doc/compiling/macos.md
  doc/compiling/windows.md
Labels: @ Documentation, Trivial, One approval

#13439 Use lua codeblocks in `lua_api.md`
  doc/client_lua_api.md
  doc/lua_api.md
  doc/menu_lua_api.md
Labels: @ Documentation, Trivial, >= Two approvals

#13468 Guarantee m_active_objects is not modified while iterating
  src/server/activeobjectmgr.cpp
Labels: >= Two approvals, Bugfix

#13470 Release invlist resizelock while doing the recursive callback in move_somewhere mode
  src/inventorymanager.cpp
Labels: One approval, Bugfix
