Repository luanti-org/luanti, pull requests merged in 2023-12, with the labels that each got.

#14021 Inventory: Add remaining items into the source slot directly
  src/gui/guiFormSpecMenu.cpp
Labels: One approval, Bugfix, @ Client / Controls / Input, Formspec

#14047 Document `minetest.get_gametime()` returning `nil` at init time
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval, Bugfix

#14055 Improve Irrlicht instructions
  CMakeLists.txt
  doc/compiling/linux.md
  doc/compiling/macos.md
  doc/compiling/windows.md
Labels: @ Documentation, >= Two approvals

#14057 Check if liquid can flow into empty node before picking it as source
  src/map.cpp
Labels: @ Server / Client / Env., >= Two approvals, Bugfix

#14067 Fix Devtest "get_version" unittest failure on release versions
  games/devtest/mods/unittests/get_version.lua
Labels: Trivial, >= Two approvals, Bugfix, @ Devtest Game

#14010 GUIFormspecMenu: Fix race condition between quit event and cleanup in Game
  src/client/game.cpp
  src/gui/guiFormSpecMenu.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix

#14083 Add sound volume when unfocused setting
  builtin/settingtypes.txt
  src/client/game.cpp
  src/client/sound.cpp
  src/client/sound.h
  src/defaultsettings.cpp
  src/gui/guiEngine.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Sounds, Feature, UI/UX

#13093 Avoid movement jitter while attached
  src/client/client.cpp
  src/collision.cpp
  src/constants.h
  src/server.cpp
Labels: @ Server / Client / Env., >= Two approvals, Bugfix

#14085 Try to fix safeWriteToFile producing empty files on Windows
  src/filesys.cpp
  src/unittest/CMakeLists.txt
  src/unittest/test_filesys.cpp
Labels: Windows, One approval, Bugfix, @ Engine Core

#13929 Remove use_texture_alpha compatibility code for nodeboxes & meshes
  doc/lua_api.md
  src/nodedef.cpp
  src/nodedef.h
Labels: @ Client / Audiovisuals, Maintenance, One approval

#13354 Warning: inform about entity name when bug detected about attachement
  src/server/luaentity_sao.cpp
Labels: @ Script API, Trivial

#14097 Reduce test framework macrosity
  src/unittest/test.cpp
  src/unittest/test.h
Labels: Maintenance, >= Two approvals, Code quality

#14079 delete clang-format files and comments
  .clang-format
  .github/CONTRIBUTING.md
  .github/workflows/cpp_lint.yml
  src/client/activeobjectmgr.cpp
  src/client/meshgen/collector.h
  src/content/mods.cpp
  src/gui/guiEditBox.cpp
  src/gui/guiPasswordChange.cpp
  src/gui/guiScrollBar.cpp
  src/gui/modalMenu.cpp
  src/irr_ptr.h
  src/script/lua_api/l_camera.cpp
  src/script/lua_api/l_modchannels.cpp
  src/script/lua_api/l_playermeta.cpp
  src/server/activeobjectmgr.cpp
  src/server/mods.cpp
  src/server/unit_sao.cpp
  src/texture_override.h
  src/util/ieee_float.cpp
  src/util/srp.cpp
  src/util/srp.h
  util/ci/clang-format-whitelist.txt
  util/ci/clang-format.sh
  util/fix_format.sh
Labels: Maintenance, >= Two approvals, Code quality

#14072 Inventory: prevent item loss when stacking oversized ItemStacks
  src/inventory.cpp
  src/unittest/helpers/helper_moveaction.lua
  src/unittest/test_moveaction.cpp
Labels: @ Server / Client / Env., One approval, Bugfix

#14106 Update porting.h to fix build errors on MacOS 14 / Xcode 15
  src/porting.h
Labels: macOS, Trivial, Bugfix

#14073 Allow cheaper culling checks at a distance
  builtin/settingtypes.txt
  src/clientiface.cpp
  src/clientiface.h
  src/defaultsettings.cpp
  src/map.cpp
  src/map.h
Labels: @ Server / Client / Env., Performance, One approval

#13967 Extract Game::drawScene from Game::updateFrame
  src/client/game.cpp
Labels: One approval, Code quality, @ Engine Core

#14092 Add `touch_controls` boolean to `get_player_window_information()`
  doc/lua_api.md
  doc/menu_lua_api.md
  games/devtest/mods/testfullscreenfs/init.lua
  src/client/client.cpp
  src/clientdynamicinfo.h
  src/network/serverpackethandler.cpp
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_server.cpp
Labels: @ Script API, Android, One approval, Feature

#14099 MinGW toolchain refresh
  .github/workflows/build.yml
  util/buildbot/buildwin32.sh
  util/buildbot/buildwin64.sh
  util/buildbot/common.sh
  util/buildbot/download_toolchain.sh
  util/buildbot/sha256sums.txt
Labels: @ Build, Maintenance, Windows, One approval

#9014 Add dithering
  builtin/settingtypes.txt
  client/shaders/second_stage/opengl_fragment.glsl
  src/client/shader.cpp
  src/defaultsettings.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Feature, Shaders, Supported by core dev

#14058 Android: Pause rendering while the app is paused
  src/client/game.cpp
  src/client/renderingengine.h
  src/gui/guiEngine.cpp
Labels: Android, >= Two approvals, Bugfix, Feature, @ Client rendering

#14121 Hand roll UTF-16 conversion in CGUITTFont
  src/irrlicht_changes/CGUITTFont.cpp
Labels: Windows, One approval, Bugfix

#12388 Extend bone override capabilities
  doc/lua_api.md
  src/activeobject.h
  src/client/content_cao.cpp
  src/client/content_cao.h
  src/network/networkprotocol.h
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
  src/server/luaentity_sao.cpp
  src/server/player_sao.cpp
  src/server/serveractiveobject.h
  src/server/unit_sao.cpp
  src/server/unit_sao.h
Labels: @ Script API, One approval, Feature, Supported by core dev

#14117 Fix touch input on Linux
  src/gui/modalMenu.cpp
Labels: One approval, Bugfix, @ Client / Controls / Input

#14127 Enable segment heap on Windows
  .github/workflows/build.yml
  misc/minetest.exe.manifest
Labels: Windows, Performance, One approval

#14128 Fix TouchScreenGUI ignoring server-sent pitch changes
  src/client/game.cpp
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
Labels: Android, One approval, Bugfix, @ Client / Controls / Input

#14054 Manually configurable minimum protocol version
  builtin/settingtypes.txt
  minetest.conf.example
  src/defaultsettings.cpp
  src/network/serverpackethandler.cpp
  src/server.cpp
  src/server.h
  src/serverlist.cpp
Labels: @ Server / Client / Env., >= Two approvals, Feature, Supported by core dev

#14137 Fix on_(grant|revoke) not being run by mods
  builtin/game/auth.lua
Labels: @ Script API, Trivial, Bugfix

#14139 Split windows from linux CI workflows
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: @ Build, Maintenance, Trivial

#14141 Fix set_bone_position regressions
  src/script/common/c_internal.cpp
  src/script/common/c_internal.h
  src/script/lua_api/l_object.cpp
Labels: @ Script API, Trivial, One approval, Bugfix

#14145 TouchScreenGUI: Make server-sent overrides of button textures work
  src/client/game.cpp
Labels: @ Client / Audiovisuals, Android, One approval, Bugfix

#14161 Remove non-existent textures from "texture_packs.md"
  doc/texture_packs.md
Labels: @ Documentation, Trivial

#14162 Make the loading screen progress bar respect "gui_scaling"
  src/client/renderingengine.cpp
Labels: Trivial, Bugfix, @ Client rendering

#14060 MacOS: Add codesigning instr to docs
  doc/compiling/macos.md
Labels: @ Build, macOS, One approval, Bugfix

#14020 Optimize and improve built-in PNG writer
  builtin/game/misc_s.lua
  doc/lua_api.md
  games/devtest/mods/testnodes/textures.lua
  src/util/png.cpp
Labels: @ Script API, Performance, One approval, Feature

#14160 Update CMakeLists.txt to fix MacOS build
  src/CMakeLists.txt
Labels: Blocker, @ Build, macOS, >= Two approvals, Bugfix, Regression

#14146 Support both mouse and touch input in GUIs in a single binary
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiHyperText.cpp
  src/gui/guiInventoryList.cpp
  src/gui/modalMenu.cpp
  src/gui/modalMenu.h
Labels: One approval, Feature, @ Client / Controls / Input, Formspec

#14175 Avoid short overflow with large viewing ranges
  src/clientiface.cpp
Labels: @ Server / Client / Env., Trivial, >= Two approvals, Bugfix

#14065 Rename `hud_elem_type` to `type`
  builtin/game/features.lua
  builtin/game/statbars.lua
  clientmods/preview/init.lua
  doc/client_lua_api.md
  doc/lua_api.md
  games/devtest/mods/testentities/selectionbox.lua
  games/devtest/mods/testhud/init.lua
  src/script/common/c_content.cpp
Labels: @ Script API, @ Documentation, One approval, Bugfix

#14182 Fix AsyncRunStep() skipping steps when dtime < 1 ms
  src/server.cpp
Labels: @ Server / Client / Env., One approval, Bugfix

#14148 Perform server occlusion check before a block is loaded or generated.
  src/clientiface.cpp
  src/map.cpp
  src/map.h
  src/mapblock.h
Labels: @ Server / Client / Env., Performance, One approval

#14152 Do not emerge blocks in the active_object_send_range_blocks range
  src/serverenvironment.cpp
  src/serverenvironment.h
Labels: @ Server / Client / Env., Performance, One approval

#14192 Add missing header for gcc-14
  src/client/sound/sound_data.cpp
Labels: Trivial, One approval, Bugfix
