Repository luanti-org/luanti, pull requests merged in 2023-10, with the labels that each got.

#13859 Misc. mainmenu fixes
  builtin/mainmenu/settings/components.lua
  builtin/mainmenu/tab_local.lua
  builtin/mainmenu/tab_online.lua
  builtin/settingtypes.txt
Labels: One approval, Bugfix, @ Mainmenu

#13836 Android: Add `field_enter_after_edit[]` formspec element
  builtin/mainmenu/dlg_contentstore.lua
  builtin/mainmenu/settings/components.lua
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/mainmenu/tab_online.lua
  doc/lua_api.md
  games/devtest/mods/chest_of_everything/init.lua
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/network/networkprotocol.h
Labels: Android, One approval, Feature, Formspec, UI/UX

#13775 Changed all core::unicode::ustring to std::u32string
  src/irrlicht_changes/CGUITTFont.cpp
  src/irrlicht_changes/CGUITTFont.h
Labels: Maintenance, >= Two approvals, Code quality

#13686 Allow setting custom third person front view camera offset
  doc/lua_api.md
  src/client/camera.cpp
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/player.h
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
  src/server.cpp
  src/server.h
Labels: @ Script API, One approval, Feature, Supported by core dev

#13792 Document air_equivalent as deprecated
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval

#13244 MapblockMeshGenerator: Use more verbose member names
  src/client/content_mapblock.cpp
  src/client/content_mapblock.h
Labels: Maintenance, One approval, Code quality

#13865 Move unsupported language list into a separate file
  android/app/build.gradle
  builtin/mainmenu/settings/dlg_settings.lua
  src/CMakeLists.txt
  src/unsupported_language_list.txt
Labels: @ Build, Android, @ Translation, >= Two approvals, Bugfix

#13855 Update range values of meta set functions in the documentation
  doc/lua_api.md
Labels: @ Script API, @ Documentation, One approval

#13861 Add advanced settings checkbox and hide advanced settings by default
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/settingtypes.txt
Labels: @ Startup / Config / Util, >= Two approvals, Feature, @ Mainmenu

#13850 Notify users that they need to reinstall MTG if they still want it
  builtin/fstk/dialog.lua
  builtin/mainmenu/dlg_contentstore.lua
  builtin/mainmenu/dlg_reinstall_mtg.lua
  builtin/mainmenu/init.lua
  builtin/settingtypes.txt
Labels: >= Two approvals, @ Mainmenu, @ Content / PkgMgr

#13739 Add script to update/generate mod translations
  doc/lua_api.md
  util/README_mtt_update.md
  util/mtt_update.py
Labels: @ Startup / Config / Util, @ Translation, >= Two approvals, Feature, Supported by core dev

#13871 build: Allow disabling documentation build + print more build flags
  CMakeLists.txt
  doc/compiling/README.md
Labels: @ Build, >= Two approvals

#13560 ActiveObjectMgr fixes
  src/activeobjectmgr.h
  src/client/activeobjectmgr.cpp
  src/client/activeobjectmgr.h
  src/client/clientenvironment.cpp
  src/client/clientenvironment.h
  src/client/clientobject.cpp
  src/client/clientobject.h
  src/client/content_cao.cpp
  src/client/content_cao.h
  src/script/lua_api/l_env.cpp
  src/server/activeobjectmgr.cpp
  src/server/activeobjectmgr.h
  src/server/serveractiveobject.h
  src/serverenvironment.cpp
  src/serverenvironment.h
  src/unittest/test_clientactiveobjectmgr.cpp
  src/unittest/test_serveractiveobjectmgr.cpp
Labels: Maintenance, One approval, Bugfix

#13876 Don't print ASCII art when using ncurses
  src/server.cpp
Labels: @ Startup / Config / Util, Trivial, One approval, Bugfix

#13870 Prevent early respawns caused by up/down button in the death screen
  src/client/game.cpp
Labels: One approval, Bugfix, @ Client / Controls / Input

#13889 Fix forgotten CLANG_MINIMUM_VERSION update
  CMakeLists.txt
Labels: @ Build, Trivial, One approval

#13891 Inventory: Fix picking up items via drop and pickup doubleclick
  src/gui/guiFormSpecMenu.cpp
Labels: >= Two approvals, Bugfix, @ Client / Controls / Input, Formspec, UI/UX

#13858 Make hypertext[] respect font size settings
  src/gui/guiHyperText.cpp
Labels: >= Two approvals, Bugfix, Formspec

#13895 Warn only once about positional stereo sounds
  src/client/sound/sound_manager.cpp
  src/client/sound/sound_manager.h
Labels: Trivial, >= Two approvals, Bugfix, Sounds

#13893 Extract updatePauseState from Game::run
  src/client/game.cpp
Labels: >= Two approvals, Code quality, @ Engine Core

#13885 Clean up and improve mainmenu theme / game theme code
  builtin/mainmenu/dlg_contentstore.lua
  builtin/mainmenu/dlg_reinstall_mtg.lua
  builtin/mainmenu/dlg_version_info.lua
  builtin/mainmenu/game_theme.lua
  builtin/mainmenu/init.lua
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/mainmenu/tab_about.lua
  builtin/mainmenu/tab_content.lua
  builtin/mainmenu/tab_local.lua
  builtin/mainmenu/tab_online.lua
Labels: Maintenance, One approval, Bugfix, @ Mainmenu, @ Builtin

#13883 Change some keys to be triggered once every key press
  src/client/game.cpp
Labels: >= Two approvals, Feature, @ Client / Controls / Input, UI/UX

#13877 Remove deprecation mark on TGA texture format in lua_api.md
  doc/lua_api.md
Labels: @ Documentation, >= Two approvals

#13894 Don't throw resize lock exception in destructor when removing nodemeta inventory
  src/nodemetadata.cpp
Labels: @ Script API, One approval, Bugfix

#13896 Add Russian translation of builtin
  builtin/locale/__builtin.ru.tr
Labels: @ Translation, >= Two approvals, @ Builtin

#13910 CSM: Fix duplicate player names
  src/chat.cpp
  src/chat.h
  src/client/client.h
  src/client/clientenvironment.h
  src/gui/guiChatConsole.cpp
  src/script/lua_api/l_client.cpp
  src/terminal_chat_console.cpp
  src/terminal_chat_console.h
Labels: One approval, Bugfix, @ Client Script API

#13911 GUI: Autofocus newly opened GUIModalMenu instances
  src/gui/guiChatConsole.cpp
  src/gui/mainmenumanager.h
  src/gui/modalMenu.cpp
Labels: Trivial, One approval, Bugfix, @ Mainmenu

#13914 Use hypertext[] for credits so that long lines are wrapped
  builtin/mainmenu/tab_about.lua
Labels: One approval, Bugfix, @ Mainmenu

#13793 Amend list of planned breakages
  doc/breakages.md
Labels: @ Documentation

#13915 Set color of scrollbar/dropdown button symbols and checkmarks to white
  builtin/mainmenu/dlg_config_world.lua
  src/client/clientlauncher.cpp
  textures/base/pack/checkbox_16.png
  textures/base/pack/checkbox_16_white.png
  textures/base/pack/checkbox_32.png
  textures/base/pack/checkbox_64.png
Labels: @ Client / Audiovisuals, Trivial, >= Two approvals, Formspec, UI/UX

#13922 Deprecate .bmp format
  doc/lua_api.md
  src/server.cpp
Labels: @ Client / Audiovisuals, Maintenance, One approval

#13930 Prevent Windows Defender warnings in singleplayer (Bind singleplayer server to 127.0.0.1)
  src/client/game.cpp
Labels: Windows, >= Two approvals, Bugfix

#13919 [NOSQUASH] Inventory: Release resizes-locked lists on all `on_`-callbacks, and fix `Inventory *` UaF
  src/inventorymanager.cpp
Labels: @ Script API, One approval, Bugfix

#13938 [no squash] Fix half-broken macOS CI
  .github/workflows/macos.yml
  util/ci/common.sh
Labels: Maintenance, Trivial, One approval

#13807 Add package update detection on Content tab
  LICENSE.txt
  builtin/fstk/tabview.lua
  builtin/mainmenu/content/dlg_contentstore.lua
  builtin/mainmenu/content/init.lua
  builtin/mainmenu/content/pkgmgr.lua
  builtin/mainmenu/content/tests/pkgmgr_spec.lua
  builtin/mainmenu/content/update_detector.lua
  builtin/mainmenu/init.lua
  builtin/mainmenu/tab_content.lua
  doc/client_lua_api.md
  doc/fst_api.txt
  doc/lua_api.md
  doc/menu_lua_api.md
  src/script/lua_api/l_util.cpp
  src/script/lua_api/l_util.h
  textures/base/pack/cdb_update_cropped.png
Labels: Roadmap, >= Two approvals, Feature, @ Mainmenu, @ Content / PkgMgr, UI/UX

#13940 Sounds: Don't pause new sounds when paused
  src/client/sound/sound_manager.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix, Sounds

#13913 Fix issues in Minetest's English texts
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/settingtypes.txt
  src/client/keycode.cpp
Labels: Maintenance, >= Two approvals, Bugfix, @ Builtin

#13943 Fix hypertext[] sometimes calculating incorrect scrollbar height
  src/gui/guiHyperText.cpp
Labels: >= Two approvals, Bugfix, Formspec

#13942 Revert "Don't trigger a key event if a key with the same associated char was pressed (#13773)"
  src/client/keycode.h
  src/unittest/test_keycode.cpp
Labels: >= Two approvals, Bugfix, @ Client / Controls / Input
