Repository luanti-org/luanti, pull requests merged in 2023-08, with the labels that each got.

#13713 Settings GUI: Move shadows dropdown to Shaders, remove Most Used
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/mainmenu/settings/shader_component.lua
  builtin/mainmenu/settings/shadows_component.lua
  builtin/settingtypes.txt
  minetest.conf.example
  src/defaultsettings.cpp
Labels: @ Startup / Config / Util, Roadmap, >= Two approvals, Feature, @ Mainmenu, Formspec, UI/UX

#13704 Settings GUI: Add setting dependencies
  .editorconfig
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/mainmenu/settings/settingtypes.lua
  builtin/settingtypes.txt
Labels: @ Startup / Config / Util, Roadmap, One approval, Feature, @ Mainmenu, Formspec, UI/UX

#13720 DOCS: state that get_wielded_item returns a copy of the item
  doc/lua_api.md
Labels: @ Documentation, Trivial

#13715 Settings GUI: Fix path settings on Windows
  builtin/mainmenu/settings/components.lua
Labels: @ Startup / Config / Util, Windows, Trivial, One approval, Bugfix, @ Mainmenu

#13711 Warn about unsupported file extensions for media
  doc/lua_api.md
  src/server.cpp
Labels: @ Script API, @ Documentation, Trivial, One approval, Bugfix

#9650 Add deprecation warning for initial properties directly inside definition
  src/script/common/c_content.cpp
  src/script/common/c_content.h
  src/script/common/c_internal.cpp
  src/script/common/c_internal.h
  src/script/cpp_api/s_entity.cpp
  src/script/cpp_api/s_entity.h
  src/server/luaentity_sao.cpp
Labels: @ Script API, Maintenance, One approval

#13719 Make content tab use real coordinates and minor cleanups
  builtin/mainmenu/tab_content.lua
Labels: >= Two approvals, @ Mainmenu, Code quality, Formspec

#13551 ContentDB GUI: Load package list asynchronously
  builtin/mainmenu/dlg_contentstore.lua
Labels: >= Two approvals, Bugfix, @ Mainmenu, @ Content / PkgMgr

#13731 Fix hypertext in the mainmenu
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiHyperText.cpp
  src/gui/guiHyperText.h
Labels: One approval, Bugfix, @ Mainmenu, Formspec

#13736 openSUSE Required Packages.
  doc/compiling/linux.md
Labels: @ Documentation, Trivial

#13685 Persist menu textinput
  builtin/mainmenu/tab_local.lua
Labels: One approval, Bugfix, @ Mainmenu

#13752 Settings GUI: Use language names rather than codes
  builtin/mainmenu/settings/components.lua
  builtin/mainmenu/settings/dlg_settings.lua
Labels: @ Startup / Config / Util, >= Two approvals, Feature, @ Mainmenu, Formspec

#13728 Set item description as infotext for item entities
  builtin/game/item_entity.lua
Labels: Trivial, One approval, Feature

#13729 Enabled shift-click crafting
  src/gui/guiFormSpecMenu.cpp
Labels: Trivial, One approval, Feature

#13683 Clean up texture filtering settings
  builtin/settingtypes.txt
  src/client/clientmap.cpp
  src/client/content_cao.cpp
  src/client/mesh.cpp
  src/client/mesh.h
  src/client/tile.cpp
  src/client/wieldmesh.cpp
  src/defaultsettings.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, Shaders

#13698 TouchScreenGUI: Fix only 9 hotbar slots being usable
  src/client/game.cpp
  src/client/hud.cpp
  src/client/hud.h
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
Labels: Android, One approval, Bugfix, @ Client / Controls / Input, UI/UX

#13637 Allow nodes to have their post_effect_color affected by lighting
  doc/lua_api.md
  games/devtest/mods/basenodes/init.lua
  games/devtest/mods/testnodes/properties.lua
  games/devtest/mods/testnodes/textures/testnodes_post_effect_color_shaded_false.png
  games/devtest/mods/testnodes/textures/testnodes_post_effect_color_shaded_true.png
  src/client/clientmap.cpp
  src/client/clientmap.h
  src/client/game.cpp
  src/nodedef.cpp
  src/nodedef.h
  src/script/common/c_content.cpp
Labels: @ Script API, @ Client / Audiovisuals, One approval, Feature, Supported by core dev

#13403 Do not render objects that are invisble into the shadow map
  src/client/shadows/dynamicshadowsrender.cpp
Labels: One approval, Bugfix, @ Client rendering

#13745 Fix freeze in core.check_for_falling
  builtin/game/falling.lua
Labels: >= Two approvals, Bugfix, @ Builtin

#13755 Small setting-related fixes
  builtin/settingtypes.txt
  src/client/renderingengine.cpp
  src/defaultsettings.cpp
  src/gui/touchscreengui.cpp
Labels: @ Startup / Config / Util, >= Two approvals, Bugfix, @ Mainmenu

#13761 Use formspec version 6 in the main menu
  builtin/fstk/buttonbar.lua
  builtin/fstk/tabview.lua
  builtin/mainmenu/init.lua
  builtin/mainmenu/tab_about.lua
  builtin/mainmenu/tab_content.lua
  builtin/mainmenu/tab_local.lua
  builtin/mainmenu/tab_online.lua
Labels: Maintenance, One approval, @ Mainmenu, Formspec

#13769 Restore the appearance of the "Start Game" tab after #13761
  builtin/mainmenu/tab_local.lua
Labels: >= Two approvals, Bugfix, @ Mainmenu, Formspec
