Repository luanti-org/luanti, pull requests merged in 2024-02, with the labels that each got.

#13328 Add wear bar color API
  doc/lua_api.md
  games/devtest/mods/basetools/init.lua
  games/devtest/mods/util_commands/init.lua
  src/client/hud.cpp
  src/inventory.h
  src/itemdef.cpp
  src/itemdef.h
  src/itemstackmetadata.cpp
  src/itemstackmetadata.h
  src/script/common/c_content.cpp
  src/script/common/c_content.h
  src/script/lua_api/l_item.cpp
  src/script/lua_api/l_item.h
  src/script/lua_api/l_itemstackmeta.cpp
  src/script/lua_api/l_itemstackmeta.h
  src/tool.cpp
  src/tool.h
  src/util/string.cpp
  src/util/string.h
Labels: @ Script API, >= Two approvals ✅ ✅, Feature ✨, Concept approved

#13937 Add help formspec for CSM commands
  builtin/client/init.lua
  builtin/common/chatcommands.lua
  builtin/common/information_formspecs.lua
Labels: Roadmap, >= Two approvals ✅ ✅, Feature ✨, @ Client Script API, UI/UX

#14339 Fix short raycasts missing large objects
  doc/lua_api.md
  src/serverenvironment.cpp
Labels: Trivial, One approval ✅ ◻️, Bugfix 🐛

#14335 Make the protocol dissector heuristic
  util/wireshark/minetest.lua
Labels: Trivial, One approval ✅ ◻️

#14311 Fix active object adding to not generated block
  doc/lua_api.md
  src/serverenvironment.cpp
Labels: @ Script API, >= Two approvals ✅ ✅, Bugfix 🐛

#13964 Add Lua API function to resolve node/collision/selection boxes
  doc/lua_api.md
  games/devtest/mods/testtools/init.lua
  games/devtest/mods/testtools/node_box_visualizer.lua
  games/devtest/mods/testtools/textures/testtools_node_box_visualizer.png
  games/devtest/mods/testtools/textures/testtools_visual_collision_box.png
  games/devtest/mods/testtools/textures/testtools_visual_node_box.png
  games/devtest/mods/testtools/textures/testtools_visual_selection_box.png
  src/script/common/c_content.cpp
  src/script/common/c_content.h
  src/script/common/c_converter.cpp
  src/script/common/c_converter.h
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_env.h
Labels: @ Script API, One approval ✅ ◻️, Feature ✨, Supported by core dev

#14071 Move hard coded minimap to builtin
  builtin/game/statbars.lua
  doc/lua_api.md
  src/client/client.cpp
  src/client/client.h
  src/client/game.cpp
  src/client/gameui.cpp
  src/client/gameui.h
  src/client/hud.cpp
  src/client/minimap.cpp
  src/client/minimap.h
  src/client/render/core.cpp
  src/client/render/core.h
  src/client/render/pipeline.h
  src/client/render/plain.cpp
  src/client/renderingengine.cpp
  src/client/renderingengine.h
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/script/lua_api/l_minimap.cpp
  src/unittest/test_gameui.cpp
Labels: @ Server / Client / Env., @ Script API, Maintenance, Roadmap, >= Two approvals ✅ ✅, Feature ✨

#14198 Enable IPO/LTO builds
  CMakeLists.txt
  doc/compiling/README.md
  src/client/particles.cpp
  src/gui/guiTable.cpp
  src/nodedef.cpp
  src/script/lua_api/l_server.cpp
  util/ci/build.sh
Labels: @ Build, Performance, >= Two approvals ✅ ✅

#13789 Fix liquid falling if in "float" group, fixes #13782
  builtin/game/falling.lua
  doc/lua_api.md
  games/devtest/mods/testnodes/liquids.lua
Labels: @ Script API, >= Two approvals ✅ ✅, Feature ✨, Supported by core dev

#13092 Lua on each mapgen thread
  .luacheckrc
  builtin/emerge/env.lua
  builtin/emerge/init.lua
  builtin/emerge/register.lua
  builtin/game/misc.lua
  builtin/init.lua
  doc/lua_api.md
  games/devtest/mods/unittests/inside_mapgen_env.lua
  games/devtest/mods/unittests/misc.lua
  src/emerge.cpp
  src/emerge.h
  src/emerge_internal.h
  src/mapgen/mapgen.cpp
  src/mapgen/mapgen.h
  src/mapgen/mg_decoration.cpp
  src/script/CMakeLists.txt
  src/script/cpp_api/CMakeLists.txt
  src/script/cpp_api/s_base.h
  src/script/cpp_api/s_mapgen.cpp
  src/script/cpp_api/s_mapgen.h
  src/script/lua_api/l_base.cpp
  src/script/lua_api/l_base.h
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_env.h
  src/script/lua_api/l_mapgen.cpp
  src/script/lua_api/l_mapgen.h
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
  src/script/lua_api/l_vmanip.cpp
  src/script/scripting_emerge.cpp
  src/script/scripting_emerge.h
  src/server.h
Labels: @ Script API, @ Mapgen, One approval ✅ ◻️, Feature ✨, Concept approved

#14365 Fix undefined behaviors
  src/mapgen/mg_biome.cpp
  src/nodedef.cpp
  src/tool.cpp
Labels: Maintenance, One approval ✅ ◻️, Code quality

#14338 Allow shaders with disabled post processing pipeline
  builtin/settingtypes.txt
  src/client/render/plain.cpp
  src/defaultsettings.cpp
Labels: @ Client / Audiovisuals, Performance, One approval ✅ ◻️

#14323 Inline g/setPixel in imageCleanTransparent
  src/client/imagefilters.cpp
Labels: Performance, One approval ✅ ◻️, Textures, @ Client rendering

#14349 Fix minimap textures overwrite
  src/client/minimap.cpp
  src/client/minimap.h
Labels: >= Two approvals ✅ ✅, Bugfix 🐛, Textures, @ Engine Core

#14329 Switch to LLVM-based MinGW toolchain
  .github/workflows/windows.yml
  src/main.cpp
  util/buildbot/buildwin32.sh
  util/buildbot/buildwin64.sh
  util/buildbot/common.sh
  util/buildbot/download_toolchain.sh
  util/buildbot/sha256sums.txt
  util/buildbot/toolchain_i686-w64-mingw32-posix.cmake
  util/buildbot/toolchain_i686-w64-mingw32.cmake
  util/buildbot/toolchain_x86_64-w64-mingw32-posix.cmake
  util/buildbot/toolchain_x86_64-w64-mingw32.cmake
Labels: @ Build, Maintenance, Windows, One approval ✅ ◻️, Bugfix 🐛

#14377 Upgrade actions in CI
  .github/workflows/android.yml
  .github/workflows/cpp_lint.yml
  .github/workflows/linux.yml
  .github/workflows/lua.yml
  .github/workflows/lua_api_deploy.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Labels: Maintenance, Trivial, >= Two approvals ✅ ✅

#14376 Don't use a reference for RaycastState::m_pointabilities
  src/raycast.h
Labels: Trivial, One approval ✅ ◻️, Bugfix 🐛

#14330 Support absent scene node names
  src/client/shadows/dynamicshadowsrender.cpp
Labels: Trivial, One approval ✅ ◻️

#14383 Irrlicht support changes
  src/client/clientlauncher.cpp
  src/client/game.cpp
  src/irrlicht_changes/CGUITTFont.cpp
  src/irrlicht_changes/CGUITTFont.h
  src/irrlichttypes.h
  src/network/networkprotocol.h
  src/script/lua_api/l_mainmenu.cpp
  src/server/player_sao.cpp
Labels: Maintenance, One approval ✅ ◻️

#14075 Allow toggling touchscreen mode at runtime
  .luacheckrc
  builtin/fstk/buttonbar.lua
  builtin/mainmenu/content/dlg_contentstore.lua
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/mainmenu/tab_local.lua
  builtin/settingtypes.txt
  doc/compiling/README.md
  src/CMakeLists.txt
  src/client/clientlauncher.cpp
  src/client/game.cpp
  src/client/hud.cpp
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/client/keycode.cpp
  src/client/keycode.h
  src/clientdynamicinfo.h
  src/defaultsettings.cpp
  src/gui/CMakeLists.txt
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiPasswordChange.cpp
  src/gui/modalMenu.cpp
  src/gui/touchscreengui.cpp
  src/main.cpp
  src/script/cpp_api/s_base.cpp
Labels: >= Two approvals ✅ ✅, Feature ✨, @ Client / Controls / Input, Concept approved

#14264 Detect air-only blocks instead of day/night differences
  builtin/settingtypes.txt
  src/map.cpp
  src/mapblock.cpp
  src/mapblock.h
  src/server/clientiface.cpp
Labels: @ Server / Client / Env., Performance, One approval ✅ ◻️, Bugfix 🐛

#14399 Use forward-slash (/) for path separator in translation files
  util/mod_translation_updater.py
Labels: @ Startup / Config / Util, @ Translation, Trivial, One approval ✅ ◻️, Bugfix 🐛

#14398 Make jpeg-turbo as the default library for compiling in macOS
  doc/compiling/macos.md
Labels: @ Documentation, Trivial

#14404 Fix compiler warnings
  src/client/imagefilters.cpp
  src/network/connection.h
  src/script/common/c_packer.cpp
  src/script/lua_api/l_minimap.cpp
  src/unittest/test_datastructures.cpp
  src/util/string.h
Labels: Trivial, Code quality

#14389 Restore pre-5.9.0-dev behavior of touch_use_crosshair=false shootline
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
Labels: Android, One approval ✅ ◻️, Bugfix 🐛, @ Client / Controls / Input

#12208 Add support for translating content titles and descriptions
  builtin/mainmenu/content/pkgmgr.lua
  builtin/mainmenu/tab_content.lua
  doc/lua_api.md
  doc/menu_lua_api.md
  doc/texture_packs.md
  src/content/content.cpp
  src/content/content.h
  src/gui/guiEngine.cpp
  src/gui/guiEngine.h
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
  src/translation.cpp
Labels: @ Translation, One approval ✅ ◻️, Feature ✨, @ Mainmenu, Supported by core dev

#14396 MetaData: restore undocumented set_string behaviour
  games/devtest/mods/unittests/metadata.lua
  src/script/lua_api/l_metadata.cpp
Labels: @ Script API, One approval ✅ ◻️, Bugfix 🐛

#14403 Expose SHA256 algorithm to Lua
  doc/lua_api.md
  games/devtest/mods/unittests/misc.lua
  src/script/lua_api/l_util.cpp
  src/script/lua_api/l_util.h
Labels: @ Script API, Feature ✨, Supported by core dev

#14407 Update LTO exclusion list
  CMakeLists.txt
  doc/compiling/README.md
Labels: @ Build, Trivial, Bugfix 🐛

#14410 Add support for ContentDB package translation
  builtin/mainmenu/content/dlg_contentstore.lua
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
Labels: @ Translation, Roadmap, One approval ✅ ◻️, Feature ✨, @ Mainmenu, @ Content / PkgMgr, UI/UX

#14408 Add padding to settings tab buttons
  builtin/mainmenu/settings/dlg_settings.lua
Labels: >= Two approvals ✅ ✅, @ Mainmenu, UI/UX

#14341 Remove sound attached to active object when active objects is removed
  src/client/client.cpp
  src/client/client.h
  src/network/clientpackethandler.cpp
  src/server.cpp
  src/server.h
  src/serverenvironment.cpp
  src/serverenvironment.h
Labels: @ Script API, >= Two approvals ✅ ✅, Bugfix 🐛, Sounds

#14378 Change how max_lag is calculated and reported
  builtin/settingtypes.txt
  src/client/game.cpp
  src/server.cpp
  src/server.h
  src/serverenvironment.h
  src/util/numeric.h
Labels: @ Server / Client / Env., One approval ✅ ◻️, Bugfix 🐛
