Repository luanti-org/luanti, pull requests merged in 2024-01, with the labels that each got.

#14126 Method add_pos for object/player
  doc/lua_api.md
  games/devtest/mods/unittests/player.lua
  src/client/client.h
  src/client/localplayer.h
  src/network/clientopcodes.cpp
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
  src/server.cpp
  src/server.h
  src/server/player_sao.cpp
  src/server/player_sao.h
  src/server/serveractiveobject.h
Labels: @ Script API, >= Two approvals, Feature, Supported by core dev

#14199 Comply with base64 library license terms
  src/util/base64.cpp
  src/util/base64.h
Labels: @ Documentation, >= Two approvals, Bugfix

#14109 [NOSQUASH] Fix tonemapping and apply saturation even if tonemapping is disabled
  client/shaders/second_stage/opengl_fragment.glsl
  doc/lua_api.md
Labels: One approval, Bugfix, @ Client rendering

#14142 Legible Lua profiler
  builtin/profiler/instrumentation.lua
  builtin/profiler/reporter.lua
Labels: Maintenance, One approval, @ Builtin, UI/UX

#14184 Replace clientmap's MeshBufListList with a hashmap
  src/client/clientmap.cpp
  src/client/clientmap.h
Labels: Performance, One approval, @ Client rendering

#14195 Use AL_SOFT_direct_channels_remix extension for non-positional stereo sounds
  builtin/settingtypes.txt
  src/client/CMakeLists.txt
  src/client/sound/al_extensions.cpp
  src/client/sound/al_extensions.h
  src/client/sound/al_helpers.cpp
  src/client/sound/al_helpers.h
  src/client/sound/ogg_file.cpp
  src/client/sound/ogg_file.h
  src/client/sound/playing_sound.cpp
  src/client/sound/playing_sound.h
  src/client/sound/proxy_sound_manager.cpp
  src/client/sound/proxy_sound_manager.h
  src/client/sound/sound_constants.h
  src/client/sound/sound_data.cpp
  src/client/sound/sound_data.h
  src/client/sound/sound_manager.cpp
  src/client/sound/sound_manager.h
  src/client/sound/sound_manager_messages.h
  src/client/sound/sound_openal.cpp
  src/client/sound/sound_singleton.cpp
  src/client/sound/sound_singleton.h
  src/defaultsettings.cpp
Labels: One approval, Sounds

#14206 Don't apply gui_scaling & DPI twice to table[] / textlist[] scrollbar
  src/gui/guiTable.cpp
Labels: @ Client / Audiovisuals, One approval, Bugfix, Formspec

#14082 Remove server's address and port from pause menu
  src/client/game.cpp
Labels: >= Two approvals, Feature, @ Builtin, UI/UX

#14187 Touchscreen: Recognize double-taps as double-clicks
  src/gui/modalMenu.cpp
  src/gui/modalMenu.h
Labels: Android, One approval, Bugfix, Feature, @ Client / Controls / Input, Formspec

#14197 Fix GameUI text staying visible during shutdown.
  src/client/game.cpp
  src/client/gameui.cpp
  src/client/gameui.h
Labels: >= Two approvals, Bugfix, UI/UX

#14214 Don't run CDB update_detector more than once
  builtin/mainmenu/content/update_detector.lua
  doc/menu_lua_api.md
Labels: >= Two approvals, Bugfix, @ Mainmenu

#13282 Remove controls listed in the pause menu (no touchscreen)
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/settingtypes.txt
  minetest.conf.example
  src/client/game.cpp
  src/settings_translation_file.cpp
Labels: @ Client / Audiovisuals, >= Two approvals, @ Builtin, Supported by core dev, UI/UX

#14220 Add "--needed" to Arch command to avoid reinstalling packages
  doc/compiling/linux.md
Labels: @ Documentation, Trivial, Bugfix

#14212 Ensure deterministic client occlusion culling and minor improvements
  builtin/settingtypes.txt
  src/defaultsettings.cpp
  src/map.cpp
  src/map.h
Labels: @ Server / Client / Env., Performance, One approval, Bugfix

#13814 Android: Add selection dialog (drop down/combo box)
  android/app/src/main/java/net/minetest/minetest/GameActivity.java
  src/client/game.cpp
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiPasswordChange.cpp
  src/gui/guiPasswordChange.h
  src/gui/modalMenu.cpp
  src/gui/modalMenu.h
  src/porting_android.cpp
  src/porting_android.h
Labels: Android, Roadmap, >= Two approvals, Feature, @ Client / Controls / Input, UI/UX

#14224 Fix dividing by zero crashes of texture modifiers
  src/client/tile.cpp
Labels: @ Script API, >= Two approvals, Bugfix

#14232 Allow unsafe access into MapSector::m_blocks
  src/client/clientmap.cpp
  src/mapsector.h
Labels: Performance, One approval, @ Engine Core

#14235 Fix HUD image (waypoint) docs
  doc/lua_api.md
  games/devtest/mods/testhud/init.lua
Labels: @ Documentation, Trivial, Bugfix

#14236 MSVC: Fix locale workaround code
  src/gettext.cpp
Labels: @ Build, Windows, Trivial, Bugfix

#14213 ContentCAO: Fix threshold of alpha channel textures
  src/client/content_cao.cpp
  src/client/content_cao.h
Labels: @ Client / Audiovisuals, One approval, Bugfix

#14227 Code style: Use non-static member initialisation instead of member initialiser lists for shader uniform names
  src/client/clientenvironment.cpp
  src/client/game.cpp
  src/client/shader.cpp
  src/client/shadows/shadowsScreenQuad.h
  src/client/shadows/shadowsshadercallbacks.h
Labels: Maintenance, >= Two approvals, Code quality

#14245 Remove redundant and/or outdated client API docs
  doc/client_lua_api.md
Labels: @ Documentation, Trivial, One approval

#14251 Slight optimizations in ClientMap
  src/client/clientmap.cpp
Labels: Maintenance, Trivial, Performance, One approval

#14185 Allow active blocks to be generated
  src/map.cpp
  src/map.h
  src/serverenvironment.cpp
Labels: @ Server / Client / Env., One approval, Bugfix

#14118 Don't enable relative mouse mode if in touchscreen mode
  src/client/clientlauncher.cpp
  src/client/game.cpp
Labels: One approval, Bugfix, @ Client / Controls / Input

#14209 Android: Use the correct value for notification
  android/app/src/main/java/net/minetest/minetest/MainActivity.java
  android/app/src/main/java/net/minetest/minetest/UnzipService.java
  android/app/src/main/res/values/strings.xml
Labels: @ Startup / Config / Util, Maintenance, Android, >= Two approvals, Bugfix, Code quality, UI/UX

#14247 Document settings API behavior regarding default values
  doc/lua_api.md
Labels: @ Script API, @ Documentation, >= Two approvals

#14042 Add function to get all hud elements
  doc/client_lua_api.md
  doc/lua_api.md
  games/devtest/mods/testhud/init.lua
  src/player.cpp
  src/player.h
  src/script/lua_api/l_localplayer.cpp
  src/script/lua_api/l_localplayer.h
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
Labels: @ Script API, >= Two approvals, Feature, Supported by core dev

#14048 Fix language setting description in `settingtypes.txt`
  builtin/settingtypes.txt
Labels: @ Documentation, Trivial, One approval, Bugfix, @ Mainmenu

#13321 Support OpenGL 3
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/settingtypes.txt
  client/shaders/blur_h/opengl_fragment.glsl
  client/shaders/blur_v/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  src/client/clientlauncher.cpp
  src/client/renderingengine.cpp
  src/client/shader.cpp
Labels: Roadmap, @ Client rendering

#14123 Add API for restoring Pseudorandom and PcgRandom state
  builtin/game/features.lua
  doc/lua_api.md
  games/devtest/.luacheckrc
  games/devtest/mods/unittests/misc.lua
  src/noise.cpp
  src/noise.h
  src/script/lua_api/l_noise.cpp
  src/script/lua_api/l_noise.h
  src/unittest/test_random.cpp
Labels: @ Script API, >= Two approvals, Feature, Supported by core dev

#13477 Reduce `minetest.after` time complexity and provide ordering guarantee
  builtin/common/after.lua
  builtin/common/tests/after_spec.lua
  builtin/game/features.lua
  doc/client_lua_api.md
  doc/lua_api.md
Labels: @ Script API, Performance, One approval, @ Builtin, Supported by core dev

#11073 Add rotation support for wallmounted nodes in 'ceiling' or 'floor' mode
  builtin/common/item_s.lua
  builtin/game/falling.lua
  builtin/game/features.lua
  builtin/game/item.lua
  doc/lua_api.md
  games/devtest/mods/testnodes/drawtypes.lua
  games/devtest/mods/testnodes/meshes.lua
  games/devtest/mods/testnodes/nodeboxes.lua
  games/devtest/mods/testnodes/param2.lua
  games/devtest/mods/testnodes/properties.lua
  games/devtest/mods/testnodes/textures/testnodes_attachedfr_bottom.png
  games/devtest/mods/testnodes/textures/testnodes_attachedfr_side.png
  games/devtest/mods/testnodes/textures/testnodes_attachedfr_top.png
  games/devtest/mods/testnodes/textures/testnodes_attachedwr_bottom.png
  games/devtest/mods/testnodes/textures/testnodes_attachedwr_side.png
  games/devtest/mods/testnodes/textures/testnodes_attachedwr_top.png
  games/devtest/mods/testnodes/textures/testnodes_sign3d.png
  src/client/content_mapblock.cpp
  src/client/game.cpp
  src/itemdef.cpp
  src/itemdef.h
  src/mapnode.cpp
  src/script/common/c_content.cpp
  src/util/directiontables.cpp
  src/util/directiontables.h
Labels: @ Script API, >= Two approvals, Feature, Supported by core dev

#13880 Use performant and safe data structure for active objects
  src/activeobjectmgr.h
  src/benchmark/CMakeLists.txt
  src/benchmark/benchmark_mapmodify.cpp
  src/client/activeobjectmgr.cpp
  src/server/activeobjectmgr.cpp
  src/util/container.h
Labels: @ Server / Client / Env., Performance, One approval

#14090 Fix out of range enum casts in deSerialize functions
  src/client/game.cpp
  src/hud.h
  src/itemdef.cpp
  src/itemdef.h
  src/map.cpp
  src/network/clientpackethandler.cpp
  src/nodedef.cpp
  src/nodedef.h
  src/particles.cpp
  src/particles.h
  src/script/common/c_content.cpp
  src/tileanimation.cpp
  src/tileanimation.h
  src/util/pointedthing.cpp
  src/util/pointedthing.h
Labels: Maintenance, One approval, Bugfix, Code quality, @ Engine Core

#14254 Fix multiple password changes in one session
  src/clientiface.cpp
  src/clientiface.h
  src/network/serverpackethandler.cpp
  src/server.cpp
Labels: @ Network, >= Two approvals, Bugfix

#14256 Return to the main menu if a shader compilation fails
  src/client/clientlauncher.cpp
  src/client/shader.cpp
  src/exceptions.h
Labels: >= Two approvals, Bugfix, @ Client rendering, UI/UX

#14277 Remove unused meshgen_block_cache_size setting
  builtin/settingtypes.txt
  src/client/mesh_generator_thread.cpp
  src/client/mesh_generator_thread.h
  src/defaultsettings.cpp
Labels: Maintenance, Trivial, One approval

#14274 Fix signed overflow UB in PseudoRandom::next()
  src/noise.h
Labels: Trivial, One approval, Bugfix, @ Engine Core

#14269 Define strlcpy only on platforms where it's not available
  src/CMakeLists.txt
  src/cmake_config.h.in
  src/porting.h
Labels: >= Two approvals, Bugfix

#14268 Use newer IrrlichtMt
  .github/workflows/windows.yml
  CMakeLists.txt
  doc/compiling/linux.md
  doc/compiling/windows.md
  misc/irrlichtmt_tag.txt
  src/gui/guiChatConsole.cpp
  src/gui/guiEditBox.cpp
  util/buildbot/buildwin32.sh
  util/buildbot/buildwin64.sh
  util/buildbot/sha256sums.txt
  util/ci/common.sh
Labels: One approval

#14279 Move check for strlcpy before config.h generation
  src/CMakeLists.txt
Labels: @ Build, Trivial, Bugfix

#14215 Add Esperanto builtin translation
  builtin/locale/__builtin.eo.tr
Labels: @ Translation, One approval, @ Builtin

#14280 Fix typo in minimap bumpmapping shader
  client/shaders/minimap_shader/opengl_fragment.glsl
Labels: @ Client / Audiovisuals, Trivial, >= Two approvals, Bugfix, @ Client rendering, Shaders

#14276 Fix bugs in ModifySafeMap
  src/unittest/CMakeLists.txt
  src/unittest/test_datastructures.cpp
  src/util/container.h
Labels: >= Two approvals, Bugfix

#14087 Touchscreen: Allow mods to swap the meaning of short and long taps
  doc/android.md
  doc/lua_api.md
  src/client/game.cpp
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
  src/itemdef.cpp
  src/itemdef.h
  src/script/common/c_content.cpp
  src/script/common/c_types.cpp
  src/script/common/c_types.h
Labels: Android, Roadmap, One approval, Feature, @ Client / Controls / Input

#14244 Fix waypoint precision wraparound, add bounds check
  src/client/hud.cpp
  src/script/common/c_content.cpp
Labels: @ Script API, Trivial, One approval, Bugfix

#13992 Tool specific pointing and blocking pointable type
  builtin/game/features.lua
  doc/lua_api.md
  games/devtest/mods/testentities/init.lua
  games/devtest/mods/testentities/pointable.lua
  games/devtest/mods/testnodes/properties.lua
  games/devtest/mods/testnodes/textures/testnodes_blocking_pointable.png
  games/devtest/mods/testnodes/textures/testnodes_not_pointable.png
  games/devtest/mods/testnodes/textures/testnodes_pointable.png
  games/devtest/mods/testtools/init.lua
  games/devtest/mods/testtools/textures/testtools_blocked_pointing_staff.png
  games/devtest/mods/testtools/textures/testtools_ultimate_pointing_staff.png
  src/client/clientenvironment.cpp
  src/client/clientenvironment.h
  src/client/content_cao.cpp
  src/client/content_cao.h
  src/client/game.cpp
  src/environment.cpp
  src/environment.h
  src/itemdef.cpp
  src/itemdef.h
  src/nodedef.cpp
  src/nodedef.h
  src/object_properties.cpp
  src/object_properties.h
  src/raycast.cpp
  src/raycast.h
  src/script/common/c_content.cpp
  src/script/common/c_content.h
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_env.h
  src/server/luaentity_sao.cpp
  src/server/player_sao.cpp
  src/serverenvironment.cpp
  src/serverenvironment.h
  src/util/CMakeLists.txt
  src/util/pointabilities.cpp
  src/util/pointabilities.h
  src/util/pointedthing.cpp
  src/util/pointedthing.h
Labels: @ Script API, >= Two approvals ✅ ✅, Feature ✨, Concept approved

#14297 Address `set_player_privs` footgun
  builtin/game/auth.lua
  doc/lua_api.md
Labels: @ Script API, @ Documentation, One approval ✅ ◻️

#14296 Allow fog color to be overriden (properly)
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  doc/lua_api.md
  src/client/clouds.cpp
  src/client/game.cpp
  src/client/renderingengine.h
  src/client/sky.h
  src/network/clientpackethandler.cpp
  src/script/lua_api/l_object.cpp
  src/server.cpp
  src/skyparams.h
Labels: @ Script API, @ Client / Audiovisuals, >= Two approvals ✅ ✅, Feature ✨, Supported by core dev

#14290 show more lines in chat scrollback buffer
  src/chat.cpp
Labels: >= Two approvals ✅ ✅, Feature ✨, @ Client / Controls / Input, UI/UX

#14302 Slight simplification of RemoteClient::getNextBlocks(...)
  src/clientiface.cpp
Labels: Maintenance, Trivial, One approval ✅ ◻️

#14303 Add markdown admonition extension
  doc/mkdocs/build.sh
  doc/mkdocs/requirements.txt
Labels: @ Build, @ Documentation, Trivial, One approval ✅ ◻️

#14305 Touchscreen: Abort ongoing short taps if mode changes
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
Labels: Android, One approval ✅ ◻️, Bugfix 🐛, @ Client / Controls / Input

#14211 Only pause rendering if the Android activity is stopped
  src/client/game.cpp
  src/client/renderingengine.h
  src/gui/guiEngine.cpp
Labels: Android, One approval ✅ ◻️, Bugfix 🐛, @ Client rendering

#14320 Fix missing limit check for block y pos
  src/map.cpp
  src/mapsector.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Engine Core

#14293 Add flag to control mgv6 temple generation
  builtin/mainmenu/dlg_create_world.lua
  builtin/settingtypes.txt
  src/mapgen/mapgen_v6.cpp
  src/mapgen/mapgen_v6.h
Labels: @ Mapgen, One approval ✅ ◻️, Feature ✨, Supported by core dev
