Repository luanti-org/luanti, pull requests merged in 2024-09, with the labels that each got.

#14557 Add static glTF support
  CMakeLists.txt
  doc/lua_api.md
  games/devtest/mods/gltf/LICENSE.md
  games/devtest/mods/gltf/init.lua
  games/devtest/mods/gltf/invalid/empty.gltf
  games/devtest/mods/gltf/invalid/invalid_bufferview_bounds.gltf
  games/devtest/mods/gltf/invalid/json_missing_brace.gltf
  games/devtest/mods/gltf/mod.conf
  games/devtest/mods/gltf/models/gltf_blender_cube.gltf
  games/devtest/mods/gltf/models/gltf_blender_cube_matrix_transform.gltf
  games/devtest/mods/gltf/models/gltf_blender_cube_scaled.gltf
  games/devtest/mods/gltf/models/gltf_frog.gltf
  games/devtest/mods/gltf/models/gltf_minimal_triangle.gltf
  games/devtest/mods/gltf/models/gltf_simple_sparse_accessor.gltf
  games/devtest/mods/gltf/models/gltf_snow_man.gltf
  games/devtest/mods/gltf/models/gltf_spider.gltf
  games/devtest/mods/gltf/models/gltf_triangle_with_vertex_stride.gltf
  games/devtest/mods/gltf/models/gltf_triangle_without_indices.gltf
  games/devtest/mods/gltf/textures/gltf_cube.png
  games/devtest/mods/gltf/textures/gltf_frog.png
  games/devtest/mods/gltf/textures/gltf_snow_man.png
  games/devtest/mods/gltf/textures/gltf_spider.png
  irr/include/IMesh.h
  irr/include/ISkinnedMesh.h
  irr/include/SMesh.h
  irr/include/SSkinMeshBuffer.h
  irr/include/irrArray.h
  irr/include/irrString.h
  irr/src/CGLTFMeshFileLoader.cpp
  irr/src/CGLTFMeshFileLoader.h
  irr/src/CMakeLists.txt
  irr/src/CSceneManager.cpp
  irr/src/CSkinnedMesh.cpp
  irr/src/CSkinnedMesh.h
  lib/tiniergltf/.gitignore
  lib/tiniergltf/CMakeLists.txt
  lib/tiniergltf/Readme.md
  lib/tiniergltf/tiniergltf.hpp
  src/client/client.cpp
  src/client/content_cao.cpp
  src/client/content_mapblock.cpp
  src/client/mesh.cpp
  src/gui/guiFormSpecMenu.cpp
  src/server.cpp
  src/unittest/CMakeLists.txt
  src/unittest/test_irr_gltf_mesh_loader.cpp
  src/unittest/test_servermodmanager.cpp
Labels: Roadmap, One approval ✅ ◻️, Feature ✨, @ Client rendering

#15096 Use std::string_view in logging code
  src/log.cpp
  src/log.h
  src/script/common/c_internal.cpp
  src/script/common/c_internal.h
  src/script/lua_api/l_util.cpp
  src/terminal_chat_console.h
  src/util/stream.h
Labels: Maintenance, One approval ✅ ◻️

#15099 Reduce include count in headers
  src/client/camera.h
  src/client/client.cpp
  src/client/client.h
  src/client/clientevent.h
  src/client/clientlauncher.cpp
  src/client/clientlauncher.h
  src/client/clientmap.h
  src/client/clientobject.h
  src/client/clouds.h
  src/client/content_cso.cpp
  src/client/content_cso.h
  src/client/filecache.cpp
  src/client/gameui.cpp
  src/client/gameui.h
  src/client/guiscalingfilter.cpp
  src/client/guiscalingfilter.h
  src/client/hud.h
  src/client/imagefilters.h
  src/client/inputhandler.h
  src/client/sky.h
  src/client/texturesource.h
  src/client/wieldmesh.h
  src/gui/StyleSpec.h
  src/gui/guiBackgroundImage.cpp
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiHyperText.cpp
  src/gui/guiItemImage.cpp
  src/gui/guiPathSelectMenu.cpp
  src/gui/guiPathSelectMenu.h
  src/hud.h
  src/itemdef.h
  src/mapnode.cpp
  src/nameidmapping.h
  src/network/peerhandler.h
  src/network/serveropcodes.h
  src/player.h
  src/remoteplayer.h
  src/script/lua_api/l_mainmenu.cpp
Labels: Maintenance, Trivial, One approval ✅ ◻️

#15101 Allow to disable transparency sorting entirely
  builtin/settingtypes.txt
  src/client/clientmap.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client rendering

#15075 Windows/vcpkg instructions: enable i18n by default
  doc/compiling/windows.md
Labels: @ Documentation, Windows, One approval ✅ ◻️, Bugfix 🐛

#15106 Simplify `TOSERVER_INIT` and `TOCLIENT_HELLO`
  src/client/client.cpp
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/network/serverpackethandler.cpp
  src/server/clientiface.h
Labels: @ Network, One approval ✅ ◻️, Code quality, 1 approval rule testing

#15100 TouchControls: Fix setUseCrosshair not being called
  src/client/game.cpp
Labels: Trivial, Bugfix 🐛, Regression

#15111 Fix duplicate positive / negative checkboxes in settings
  builtin/settingtypes.txt
Labels: Trivial, One approval ✅ ◻️, Bugfix 🐛

#15116 Refactor "Cavegen y biome check"
  src/mapgen/cavegen.cpp
  src/mapgen/mapgen.cpp
  src/mapgen/mg_biome.cpp
  src/mapgen/mg_biome.h
Labels: Maintenance, One approval ✅ ◻️, Code quality

#15122 Generate Minetest.app on MacOS 12, so at least MacOS 12 will be supported.
  .github/workflows/macos.yml
  src/util/numeric.h
Labels: @ Build, macOS, Trivial, One approval ✅ ◻️, Bugfix 🐛

#15108 [no-sq] SRP code cleanup
  src/util/srp.cpp
  src/util/srp.h
Labels: Maintenance, >= Two approvals ✅ ✅, Code quality

#15123 Fix upright sprite entities not animating
  src/client/content_cao.cpp
  src/client/mesh.cpp
  src/client/mesh.h
Labels: Trivial, One approval ✅ ◻️, Bugfix 🐛

#15131 Count global number of drawcalls too
  irr/include/IVideoDriver.h
  irr/src/CNullDriver.cpp
  src/client/game.cpp
Labels: @ Client rendering, 1 approval rule testing

#15128 MacOS: make mute sound actually work
  src/client/sound/sound_manager.cpp
Labels: macOS, Trivial, Bugfix 🐛, Sounds

#15136 Add SDL2 options to compiling README.
  README.md
  doc/compiling/README.md
Labels: @ Build, @ Documentation, Trivial, >= Two approvals ✅ ✅, Bugfix 🐛

#15098 Only apply "touch_punch_gesture" when item has no on_use callback
  doc/lua_api.md
  src/client/game.cpp
  src/itemdef.cpp
  src/itemdef.h
Labels: Android, >= Two approvals ✅ ✅, Bugfix 🐛, @ Client / Controls / Input

#15062 Document negative saturation
  doc/lua_api.md
Labels: @ Documentation, >= Two approvals ✅ ✅

#14971 Allow requesting reconnect when mods kick player
  builtin/game/misc.lua
  doc/lua_api.md
  src/network/clientpackethandler.cpp
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
  src/server.cpp
  src/server.h
Labels: @ Script API, >= Two approvals ✅ ✅, Feature ✨

#15162 Fix alignment in implicit client hotbar definition
  src/client/hud.cpp
Labels: @ Client / Audiovisuals, Trivial, >= Two approvals ✅ ✅, Bugfix 🐛, UI/UX

#15159 Move std::tie out of headers
  src/object_properties.cpp
  src/object_properties.h
  src/player.cpp
  src/player.h
Labels: Maintenance, Trivial, One approval ✅ ◻️

#15149 Refresh windows toolchain and libs
  util/buildbot/common.sh
  util/buildbot/download_toolchain.sh
  util/buildbot/sha256sums.txt
Labels: @ Build, Maintenance, Windows, One approval ✅ ◻️

#15113 Add support for Tracy profiler
  CMakeLists.txt
  doc/compiling/README.md
  doc/developing/misc.md
  doc/lua_api.md
  irr/src/CMakeLists.txt
  src/CMakeLists.txt
  src/client/clientlauncher.cpp
  src/client/clientmap.cpp
  src/client/content_mapblock.cpp
  src/client/game.cpp
  src/client/mapblock_mesh.cpp
  src/client/sound/sound_manager.cpp
  src/cmake_config.h.in
  src/gui/guiEngine.cpp
  src/porting.cpp
  src/script/cpp_api/s_base.cpp
  src/script/cpp_api/s_security.cpp
  src/server.cpp
  src/util/tracy_wrapper.h
Labels: @ Build, Performance, One approval ✅ ◻️, Feature ✨, Roadmap: supported by core dev

#15163 Avoid cloud jump when switching between mainmenu and loading screen
  src/client/clientlauncher.cpp
  src/client/clouds.cpp
  src/client/clouds.h
  src/gui/guiEngine.cpp
  src/gui/guiEngine.h
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Bugfix 🐛, @ Mainmenu

#15164 Don't use fixed pipeline lighting for stars
  src/client/sky.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client rendering

#15179 Fix TODO in joystick code
  src/client/joystick_controller.h
  src/gui/guiFormSpecMenu.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client / Controls / Input

#15165 Drop fixed pipeline lighting stuff
  client/shaders/cloud_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  client/shaders/stars_shader/opengl_fragment.glsl
  irr/include/EMaterialProps.h
  irr/include/SMaterial.h
  irr/include/SOverrideMaterial.h
  irr/src/CAnimatedMeshSceneNode.cpp
  irr/src/CB3DMeshFileLoader.cpp
  irr/src/CBillboardSceneNode.cpp
  irr/src/CMeshSceneNode.cpp
  irr/src/CNullDriver.cpp
  irr/src/COBJMeshFileLoader.cpp
  irr/src/COBJMeshFileLoader.h
  irr/src/COpenGLDriver.cpp
  irr/src/CXMeshFileLoader.cpp
  irr/src/OpenGL/Driver.cpp
  irr/src/OpenGL/FixedPipelineRenderer.cpp
  src/client/camera.cpp
  src/client/clientmap.cpp
  src/client/clouds.cpp
  src/client/content_cao.cpp
  src/client/content_cso.cpp
  src/client/hud.cpp
  src/client/mapblock_mesh.cpp
  src/client/mesh.cpp
  src/client/minimap.cpp
  src/client/particles.cpp
  src/client/shader.cpp
  src/client/shadows/shadowsScreenQuad.cpp
  src/client/sky.cpp
  src/client/wieldmesh.cpp
  src/client/wieldmesh.h
  src/gui/guiScene.cpp
  src/irrlicht_changes/CGUITTFont.cpp
Labels: Maintenance, One approval ✅ ◻️, @ Client rendering, Code quality

#15187 use env->getGameTimeF() instead of env->getGameTime() / 24000.f
  src/script/lua_api/l_env.cpp
Labels: @ Script API, Trivial, Code quality

#14610 Visual Effects Vol. 1
  builtin/settingtypes.txt
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/volumetric_light/opengl_fragment.glsl
  doc/lua_api.md
  src/client/clientevent.h
  src/client/clientmap.cpp
  src/client/clouds.cpp
  src/client/clouds.h
  src/client/content_mapblock.cpp
  src/client/content_mapblock.h
  src/client/game.cpp
  src/client/shader.cpp
  src/client/shadows/dynamicshadowsrender.h
  src/client/shadows/shadowsshadercallbacks.cpp
  src/client/shadows/shadowsshadercallbacks.h
  src/defaultsettings.cpp
  src/lighting.h
  src/network/clientpackethandler.cpp
  src/network/networkprotocol.h
  src/script/lua_api/l_object.cpp
  src/server.cpp
  src/skyparams.h
Labels: @ Script API, @ Client / Audiovisuals, Roadmap, >= Two approvals ✅ ✅, Feature ✨, Shaders

#15190 Fix -Winconsistent-missing-override in unit_sao.h
  src/server/unit_sao.h
Labels: Maintenance, Trivial, One approval ✅ ◻️, Bugfix 🐛

#14116 ABM without_neighbors
  builtin/game/features.lua
  doc/lua_api.md
  games/devtest/mods/testabms/README.md
  games/devtest/mods/testabms/after_node.lua
  games/devtest/mods/testabms/chances.lua
  games/devtest/mods/testabms/init.lua
  games/devtest/mods/testabms/intervals.lua
  games/devtest/mods/testabms/min_max.lua
  games/devtest/mods/testabms/mod.conf
  games/devtest/mods/testabms/neighbors.lua
  games/devtest/mods/testabms/textures/testabms_after_node.png
  games/devtest/mods/testabms/textures/testabms_wait_node.png
  src/script/cpp_api/s_env.cpp
  src/serverenvironment.cpp
  src/serverenvironment.h
  src/unittest/test_servermodmanager.cpp
Labels: @ Server / Client / Env., One approval ✅ ◻️, Feature ✨, Roadmap: supported by core dev

#15175 Allow Allfaces drawtypes to have 6 textures
  doc/lua_api.md
  games/devtest/mods/testnodes/drawtypes.lua
  src/client/content_mapblock.cpp
Labels: @ Script API, One approval ✅ ◻️, @ Client rendering, Concept approved

#15197 Fix uninitialized shadow tint regression from #14610
  src/lighting.h
  src/network/networkprotocol.h
Labels: >= Two approvals ✅ ✅, Bugfix 🐛, @ Client rendering

#15160 Allow detection of damage greater than HP
  doc/lua_api.md
  games/devtest/mods/unittests/player.lua
  src/server/player_sao.cpp
Labels: @ Script API, One approval ✅ ◻️, Bugfix 🐛

#15194 Minor improvements to metadata handling
  src/itemstackmetadata.cpp
  src/nodemetadata.cpp
  src/nodemetadata.h
  src/script/lua_api/l_itemstackmeta.cpp
  src/script/lua_api/l_nodemeta.cpp
  src/script/lua_api/l_playermeta.cpp
Labels: @ Script API, Bugfix 🐛, 1 approval rule testing

#15211 Fix deletePathFromFilename returning cutoff filenames
  irr/include/coreutil.h
  irr/src/CFileList.cpp
  irr/src/CZipReader.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛

#15210 Discourage disabling shaders
  builtin/settingtypes.txt
  src/client/shader.cpp
Labels: Maintenance, One approval ✅ ◻️, @ Client rendering

#15214 Add QT Creator and Windows dump files to .gitignore
  .gitignore
Labels: Maintenance, Trivial, One approval ✅ ◻️
