Repository luanti-org/luanti, pull requests merged in 2024-06, with the labels that each got.

#14720 Fix fog moon tint not working
  src/client/sky.cpp
Labels: Trivial, Bugfix 🐛

#14177 Allow game to specify first and last mod in mod loading order.
  doc/lua_api.md
  games/devtest/game.conf
  games/devtest/mods/first_mod/init.lua
  games/devtest/mods/first_mod/mod.conf
  games/devtest/mods/last_mod/init.lua
  games/devtest/mods/last_mod/mod.conf
  games/devtest/mods/unittests/mod.conf
  src/content/mod_configuration.cpp
  src/content/mod_configuration.h
  src/content/subgames.cpp
  src/content/subgames.h
  src/unittest/test_servermodmanager.cpp
Labels: @ Script API, >= Two approvals ✅ ✅, Feature ✨, Concept approved

#14716 Mainmenu: Unify gamedata.errormessage and messagebox formspecs
  builtin/fstk/dialog.lua
  builtin/fstk/ui.lua
  builtin/mainmenu/content/dlg_contentdb.lua
Labels: Maintenance, Trivial, One approval ✅ ◻️, @ Mainmenu, UI/UX

#14714 Allow toggling fullscreen without restart and add keybind
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/settingtypes.txt
  doc/menu_lua_api.md
  irr/include/IrrlichtDevice.h
  irr/src/CIrrDeviceSDL.cpp
  irr/src/CIrrDeviceSDL.h
  src/client/game.cpp
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/client/renderingengine.cpp
  src/client/renderingengine.h
  src/defaultsettings.cpp
  src/gui/guiEngine.cpp
  src/gui/guiEngine.h
Labels: One approval ✅ ◻️, Feature ✨, @ Client rendering, UI/UX

#14722 Document keymap_toggle_block_bounds, remove unimplemented BLOCK_BOUNDS_MAX
  builtin/settingtypes.txt
  src/client/game.cpp
  src/client/hud.cpp
  src/client/hud.h
Labels: @ Client / Audiovisuals, @ Documentation, Trivial, One approval ✅ ◻️, Bugfix 🐛

#14680 Fix and clarify skybox texture order documentation
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval ✅ ◻️

#14668 Update some workflows to newer Ubuntu versions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/lua.yml
  src/content/mod_configuration.cpp
  src/mapgen/mg_biome.cpp
  util/ci/build_luajit.sh
  util/ci/build_prometheus_cpp.sh
  util/ci/common.sh
  util/ci/docker.sh
Labels: @ Build, Maintenance, 1 approval rule testing

#14707 Call malloc_trim() regularly to improve deallocation behavior
  irr/include/IMeshBuffer.h
  src/CMakeLists.txt
  src/client/mapblock_mesh.cpp
  src/cmake_config.h.in
  src/mapblock.cpp
  src/mapgen/mg_schematic.cpp
  src/porting.cpp
  src/porting.h
  src/voxel.cpp
Labels: @ Server / Client / Env., Linux, Bugfix 🐛, 1 approval rule testing

#14740 Improve register_on_leaveplayer documentation
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval ✅ ◻️, Bugfix 🐛

#14743 Android: Fix back button sometimes not working as ESC
  irr/src/CIrrDeviceSDL.cpp
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/client/keycode.cpp
  src/client/keycode.h
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiOpenURL.cpp
  src/gui/guiPasswordChange.cpp
Labels: Android, One approval ✅ ◻️, Bugfix 🐛, @ Client / Controls / Input

#14748 Add zstd to Void Linux dependencies (fixes #14746)
  doc/compiling/linux.md
Labels: @ Build, One approval ✅ ◻️

#14750 Fix two problems with toggling fullscreen at runtime
  src/client/inputhandler.cpp
  src/client/renderingengine.cpp
Labels: @ Startup / Config / Util, One approval ✅ ◻️, Bugfix 🐛

#14739 Fix connected_players on_shutdown
  doc/lua_api.md
  games/devtest/mods/unittests/init.lua
  games/devtest/mods/unittests/on_shutdown.lua
  src/server.cpp
Labels: @ Script API, >= Two approvals ✅ ✅, Bugfix 🐛

#14703 SDL2: Support highdpi
  builtin/settingtypes.txt
  irr/include/IEventReceiver.h
  irr/src/CIrrDeviceSDL.cpp
  irr/src/CIrrDeviceSDL.h
  irr/src/CMakeLists.txt
  misc/minetest.exe.manifest
  src/client/clientlauncher.cpp
  src/client/fontengine.cpp
  src/client/hud.cpp
  src/client/inputhandler.cpp
  src/client/renderingengine.cpp
  src/defaultsettings.cpp
Labels: Windows, One approval ✅ ◻️, Bugfix 🐛, @ Engine Core

#14754 Fix broken default sneak keybind on macOS with SDL
  src/cmake_config.h.in
  src/defaultsettings.cpp
Labels: @ Startup / Config / Util, macOS, Trivial, Bugfix 🐛

#14744 Move malloc_trim invocations to background thread
  src/client/mesh_generator_thread.cpp
  src/emerge.cpp
  src/porting.cpp
  src/porting.h
Labels: >= Two approvals ✅ ✅, Bugfix 🐛

#14753 Disallow formspec debug if the player does not have the debug privilege
  src/client/game.cpp
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Feature ✨, Concept approved, Formspec

#14758 Fix API "dtime" not clarified
  doc/client_lua_api.md
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval ✅ ◻️, Bugfix 🐛

#14705 Fix unnecessary content refreshing
  builtin/mainmenu/content/contentdb.lua
  builtin/mainmenu/content/pkgmgr.lua
  builtin/mainmenu/content/tests/pkgmgr_spec.lua
  builtin/mainmenu/content/update_detector.lua
  builtin/mainmenu/dlg_delete_content.lua
  builtin/mainmenu/dlg_rename_modpack.lua
  builtin/mainmenu/settings/dlg_settings.lua
  builtin/mainmenu/settings/settingtypes.lua
  builtin/mainmenu/tab_content.lua
Labels: Performance, One approval ✅ ◻️, Bugfix 🐛, @ Content / PkgMgr

#14757 Fix math.round floating point bug
  builtin/common/misc_helpers.lua
  builtin/common/tests/misc_helpers_spec.lua
Labels: >= Two approvals ✅ ✅, Bugfix 🐛, @ Builtin

#14762 Document alternative 'persist' key in noise parameter table
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval ✅ ◻️

#14774 Properly escape Markdown markups at minetest.string_to_area
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval ✅ ◻️

#14772 Make button sprites (scrollbar arrows) DPI-aware
  irr/include/IGUIButton.h
  irr/include/IGUISkin.h
  irr/src/CGUIButton.cpp
  irr/src/CGUIButton.h
  irr/src/CGUISkin.h
  src/client/clientlauncher.cpp
  src/gui/guiButton.cpp
  src/gui/guiButton.h
  src/gui/guiSkin.h
Labels: Bugfix 🐛, @ Client rendering, Formspec, UI/UX

#14777 Restore old inconsistent minimum digging time behavior
  builtin/settingtypes.txt
  doc/lua_api.md
  games/devtest/mods/basetools/init.lua
  games/devtest/mods/basetools/textures/basetools_mesepick_no_delay.png
  src/client/game.cpp
  src/defaultsettings.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client / Controls / Input

#14800 Remove enable_touch special case for C++ menu scaling
  src/gui/modalMenu.cpp
Labels: Maintenance, Trivial, @ Client rendering
