Repository luanti-org/luanti, pull requests merged in 2024-03, with the labels that each got.

#14301 Touchscreen: Camera movement improvements
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
Labels: Android, Testing needed, One approval ✅ ◻️, Feature ✨, @ Client / Controls / Input, Supported by core dev

#14390 Allow setting "pointabilities" for Lua raycasts
  doc/lua_api.md
  games/devtest/mods/unittests/init.lua
  games/devtest/mods/unittests/raycast.lua
  src/script/lua_api/l_env.cpp
Labels: @ Script API, One approval ✅ ◻️, Feature ✨, Supported by core dev

#14384 Implement get_node with a get_node_raw
  builtin/game/item.lua
  games/devtest/mods/benchmarks/init.lua
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_env.h
Labels: @ Script API, Performance, >= Two approvals ✅ ✅

#14369 Try to preserve metatable when exchanging data with the async env
  builtin/common/metatable.lua
  builtin/game/init.lua
  builtin/init.lua
  doc/lua_api.md
  games/devtest/mods/unittests/async_env.lua
  games/devtest/mods/unittests/inside_async_env.lua
  src/script/common/c_packer.cpp
  src/script/common/c_packer.h
Labels: @ Script API, >= Two approvals ✅ ✅, Bugfix 🐛

#14436 Stop sounds if objects get out of range, but not if objects are removed
  doc/lua_api.md
  src/client/client.cpp
  src/client/client.h
  src/network/clientpackethandler.cpp
  src/server.cpp
  src/server.h
  src/serverenvironment.cpp
  src/serverenvironment.h
Labels: >= Two approvals ✅ ✅, Bugfix 🐛, Sounds

#14434 Reduce translations log spam
  src/translation.cpp
  src/translation.h
Labels: Trivial, Bugfix 🐛

#14444 Avoid packets getting sent to disconnected players
  src/network/serverpackethandler.cpp
  src/script/lua_api/l_env.cpp
  src/server.cpp
  src/server/serverinventorymgr.cpp
  src/serverenvironment.cpp
  src/serverenvironment.h
Labels: @ Script API, >= Two approvals ✅ ✅, Bugfix 🐛

#14412 Allow sync HTTP fetches to be interrupted to fix hanging
  src/gui/guiEngine.cpp
  src/httpfetch.cpp
  src/httpfetch.h
  src/script/lua_api/l_http.cpp
  src/threading/thread.cpp
  src/threading/thread.h
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Mainmenu

#14355 Add L-system trees as decorations
  builtin/game/features.lua
  doc/lua_api.md
  src/mapgen/mg_decoration.cpp
  src/mapgen/mg_decoration.h
  src/mapgen/treegen.cpp
  src/mapgen/treegen.h
  src/script/common/c_content.cpp
  src/script/common/c_content.h
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_mapgen.cpp
Labels: @ Mapgen, >= Two approvals ✅ ✅, Feature ✨, Concept approved

#14458 Create CACHEDIR.TAG in path_cache
  src/porting.cpp
  src/porting.h
Labels: @ Server / Client / Env., One approval ✅ ◻️, Feature ✨, Supported by core dev

#14466 Remove excessive touchscreengui.h includes
  src/CMakeLists.txt
  src/client/clientlauncher.cpp
  src/client/content_cso.cpp
  src/client/game.cpp
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/clientdynamicinfo.cpp
  src/clientdynamicinfo.h
Labels: Maintenance, Android, >= Two approvals ✅ ✅, @ Client / Controls / Input

#14347 Item meta pointing range
  builtin/game/features.lua
  doc/lua_api.md
  games/devtest/mods/testitems/init.lua
  games/devtest/mods/testitems/textures/testitems_telescope_stick.png
  src/client/game.cpp
  src/network/serverpackethandler.cpp
  src/tool.cpp
  src/tool.h
Labels: @ Script API, >= Two approvals ✅ ✅, Feature ✨, Concept approved

#14474 update Lua BitOp's stdint.h check for MSVC
  lib/bitop/bit.cpp
Labels: Maintenance, Trivial

#14448 Faster blit_with_alpha()
  games/devtest/mods/testnodes/textures.lua
  games/devtest/mods/testnodes/textures/testnodes_alpha_compositing_bottom.png
  games/devtest/mods/testnodes/textures/testnodes_alpha_compositing_top.png
  games/devtest/mods/testnodes/textures/testnodes_fill_positioning_reference.png
  src/client/texturesource.cpp
Labels: Roadmap, Performance, >= Two approvals ✅ ✅, @ Client rendering

#12315 Add world-independent storage directory for mods
  .gitignore
  doc/lua_api.md
  src/gamedef.h
  src/script/cpp_api/s_security.cpp
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
  src/server.cpp
  src/server.h
Labels: @ Script API, One approval ✅ ◻️, Feature ✨, Concept approved

#13825 Add button_url[] and hypertext element to allow mods to open web pages
  builtin/mainmenu/tab_about.lua
  doc/lua_api.md
  games/devtest/mods/testformspec/formspec.lua
  src/client/game.cpp
  src/gui/CMakeLists.txt
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiHyperText.cpp
  src/gui/guiOpenURL.cpp
  src/gui/guiOpenURL.h
  src/gui/mainmenumanager.h
  src/unittest/test_utilities.cpp
  src/util/CMakeLists.txt
  src/util/colorize.cpp
  src/util/colorize.h
  src/util/string.cpp
  src/util/string.h
Labels: @ Script API, One approval ✅ ◻️, Feature ✨, Formspec, Supported by core dev

#14230 Docker image workflow (publish on `ghcr.io`)
  .github/workflows/docker_image.yml
  .github/workflows/linux.yml
  README.md
  doc/docker_server.md
Labels: @ Build, >= Two approvals ✅ ✅, Bugfix 🐛, Concept approved

#14243 Update docs to allow non-liquid nodes to use "liquid" drawtype
  doc/lua_api.md
Labels: @ Documentation, >= Two approvals ✅ ✅

#14482 Replace antipattern translation example in lua_api.md
  doc/lua_api.md
Labels: @ Documentation, @ Translation, One approval ✅ ◻️, Bugfix 🐛

#14497 The first Irrlicht cleanup
  irr/include/IrrCompileConfig.h
  irr/include/IrrlichtDevice.h
  irr/include/SIrrCreationParameters.h
  irr/src/CIrrDeviceStub.cpp
  irr/src/CIrrDeviceStub.h
  irr/src/CMakeLists.txt
  src/client/clientlauncher.cpp
  src/client/game.cpp
  src/client/shader.cpp
  src/client/shadows/dynamicshadowsrender.cpp
  src/main.cpp
  src/script/lua_api/l_mainmenu.cpp
Labels: Trivial, One approval ✅ ◻️, Code quality

#14493 Disable default password check in single player
  src/network/serverpackethandler.cpp
Labels: @ Network, Trivial, >= Two approvals ✅ ✅, Bugfix 🐛

#14490 Fix tests that rely on UTF-8 literals
  src/filesys.cpp
  src/unittest/test_settings.cpp
  src/unittest/test_utilities.cpp
  src/util/string.h
Labels: Trivial, One approval ✅ ◻️, Bugfix 🐛

#14295 Add repeat_dig_time setting
  builtin/settingtypes.txt
  src/client/game.cpp
  src/defaultsettings.cpp
Labels: One approval ✅ ◻️, Feature ✨, @ Client / Controls / Input, Supported by core dev

#14433 Move values the mainmenu caches to dedicated file(s)
  builtin/mainmenu/common.lua
  builtin/mainmenu/content/update_detector.lua
  builtin/mainmenu/dlg_reinstall_mtg.lua
  builtin/mainmenu/dlg_version_info.lua
  builtin/mainmenu/init.lua
  builtin/mainmenu/misc.lua
  builtin/mainmenu/serverlistmgr.lua
  builtin/mainmenu/tests/serverlistmgr_spec.lua
  builtin/settingtypes.txt
  doc/menu_lua_api.md
  src/defaultsettings.cpp
  src/gui/guiEngine.cpp
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
  src/script/scripting_mainmenu.cpp
  src/script/scripting_mainmenu.h
Labels: Maintenance, One approval ✅ ◻️, Feature ✨, @ Mainmenu, Supported by core dev

#14487 Sanity-check reliable packet size at earlier point
  src/network/connection.cpp
  src/network/connectionthreads.cpp
  src/network/connectionthreads.h
Labels: @ Network, One approval ✅ ◻️, Code quality

#14501 Limit crosshair scaling to integer multiples to avoid distortion
  src/client/hud.cpp
  src/client/hud.h
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client rendering

#14503 Fix path splitting in translation updater script
  util/mod_translation_updater.py
Labels: @ Startup / Config / Util, @ Translation, Trivial, One approval ✅ ◻️, Bugfix 🐛
