Repository luanti-org/luanti, pull requests merged in 2024-04, with the labels that each got.

#14489 Batched rendering of particles
  src/client/particles.cpp
  src/client/particles.h
  src/tileanimation.h
Labels: @ Client / Audiovisuals, Roadmap, Performance, One approval ✅ ◻️

#14509 Misc. doc things
  doc/lua_api.md
Labels: @ Documentation, Trivial, Bugfix 🐛

#14516 Fix GLES shader precision issues
  client/shaders/cloud_shader/opengl_fragment.glsl
  client/shaders/cloud_shader/opengl_vertex.glsl
  client/shaders/nodes_shader/opengl_fragment.glsl
  client/shaders/nodes_shader/opengl_vertex.glsl
  client/shaders/object_shader/opengl_fragment.glsl
  client/shaders/object_shader/opengl_vertex.glsl
  client/shaders/stars_shader/opengl_fragment.glsl
  src/client/game.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, Shaders

#14511 Keep empty servers at bottom of list
  builtin/common/misc_helpers.lua
  builtin/mainmenu/serverlistmgr.lua
Labels: One approval ✅ ◻️, @ Mainmenu

#14505 Allow optional actor ObjectRef value in node interaction calls
  builtin/game/features.lua
  doc/lua_api.md
  src/script/lua_api/l_env.cpp
  src/script/lua_api/l_env.h
Labels: @ Script API, One approval ✅ ◻️, Feature ✨, Supported by core dev

#14521 Fix invisible crosshair with effective HUD scaling < 1
  src/client/hud.cpp
Labels: Trivial, Bugfix 🐛, @ Client rendering

#14525 Print filenames in irrlicht png warnings
  irr/src/CImageLoaderPNG.cpp
  irr/src/CImageWriterPNG.cpp
  irr/src/CNullDriver.cpp
  src/client/client.cpp
  src/client/imagesource.cpp
Labels: @ Documentation, Trivial, Textures, Code quality

#14515 Sounds: Queue more than two buffers if pitch is high
  src/client/sound/playing_sound.cpp
  src/client/sound/playing_sound.h
  src/client/sound/sound_constants.h
Labels: @ Client / Audiovisuals, Bugfix 🐛, Sounds, 1 approval rule testing

#14507 Refactor ContentDB integration
  builtin/mainmenu/content/contentdb.lua
  builtin/mainmenu/content/dlg_contentdb.lua
  builtin/mainmenu/content/dlg_contentstore.lua
  builtin/mainmenu/content/dlg_install.lua
  builtin/mainmenu/content/dlg_overwrite.lua
  builtin/mainmenu/content/init.lua
  builtin/mainmenu/content/screenshots.lua
  builtin/mainmenu/dlg_config_world.lua
  builtin/mainmenu/dlg_create_world.lua
  builtin/mainmenu/dlg_reinstall_mtg.lua
  builtin/mainmenu/tab_content.lua
  builtin/mainmenu/tab_local.lua
Labels: Maintenance, One approval ✅ ◻️, @ Mainmenu, @ Content / PkgMgr, Code quality

#14346 Refactor builtin HUD
  builtin/game/hud.lua
  builtin/game/init.lua
  builtin/game/statbars.lua
  src/server.cpp
Labels: @ Client / Audiovisuals, Maintenance, >= Two approvals ✅ ✅, @ Builtin

#14536 Pin cmake to 3.28 because of regression in 3.29.1
  .github/workflows/windows.yml
Labels: @ Build, Trivial, Bugfix 🐛

#14533 Fix 4dir nodebox sometimes not rendering face
  games/devtest/mods/testnodes/param2.lua
  src/client/content_mapblock.cpp
Labels: Trivial, One approval ✅ ◻️, Bugfix 🐛, @ Client rendering

#14541 lua_api: Clarify some environment API functions
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval ✅ ◻️

#14551 Hypertext: Fix missing space after single letter word
  games/devtest/mods/testformspec/formspec.lua
  src/gui/guiHyperText.cpp
Labels: @ Script API, @ Client / Audiovisuals, Trivial, Bugfix 🐛, Formspec

#14472 TouchScreenGUI dehardcoding refactor
  src/client/clientlauncher.cpp
  src/client/game.cpp
  src/gui/touchscreengui.cpp
  src/gui/touchscreengui.h
Labels: Maintenance, Android, Roadmap, @ Client / Controls / Input

#14555 Fix inconsistent rounding in VoxelLineIterator::VoxelLineIterator
  src/unittest/test_voxelalgorithms.cpp
  src/voxelalgorithms.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client / Controls / Input

#14567 Remove <ctgmath> include from particles.h
  src/particles.h
Labels: Trivial, One approval ✅ ◻️

#14558 HUD: Text element color support
  doc/lua_api.md
  games/devtest/mods/testhud/init.lua
  src/client/hud.cpp
  src/gui/guiFormSpecMenu.cpp
  src/util/enriched_string.cpp
  src/util/enriched_string.h
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Feature ✨

#14564 Do not link /latomic on MSVC
  src/CMakeLists.txt
Labels: @ Build, Trivial, One approval ✅ ◻️

#14400 Basic tablet/phone/watch autodetection
  android/native/build.gradle
  doc/compiling/README.md
  src/CMakeLists.txt
  src/defaultsettings.cpp
Labels: >= Two approvals ✅ ✅, Feature ✨, @ Client / Controls / Input, Supported by core dev

#14561 Fix some Game members not being freed after some startup errors (regression)
  src/client/clientlauncher.cpp
  src/client/game.cpp
Labels: @ Startup / Config / Util, One approval ✅ ◻️, Bugfix 🐛

#14576 Fix MSVC warning C4172 in ModifySafeMap::get
  src/util/container.h
Labels: Trivial, One approval ✅ ◻️, @ Engine Core

#14573 Do not make inventory_items_animations setting static thread_local
  src/client/hud.cpp
Labels: @ Startup / Config / Util, Trivial, Bugfix 🐛

#14581 Fix crash when player leaves before breath removal job
  builtin/game/hud.lua
Labels: Trivial, One approval ✅ ◻️, Bugfix 🐛, @ Builtin

#14594 Hide `*_raw` functions
  builtin/game/detached_inventory.lua
Labels: @ Script API, Maintenance, >= Two approvals ✅ ✅

#14500 Fix set_fov-induced grayscreen
  src/client/camera.cpp
  src/client/camera.h
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Bugfix 🐛

#14416 Translation updater: Add comment propagation
  util/README_mod_translation_updater.md
  util/mod_translation_updater.py
Labels: @ Startup / Config / Util, @ Translation, One approval ✅ ◻️, Feature ✨, Supported by core dev

#14591 Fix `InvRef` bugs and add unit tests
  doc/lua_api.md
  games/devtest/mods/unittests/init.lua
  games/devtest/mods/unittests/inventory.lua
  src/script/lua_api/l_inventory.cpp
Labels: @ Script API, >= Two approvals ✅ ✅, Bugfix 🐛

#14562 Smooth scrolling
  src/gui/guiEditBox.cpp
  src/gui/guiHyperText.cpp
  src/gui/guiScrollBar.cpp
  src/gui/guiScrollBar.h
  src/gui/guiTable.cpp
Labels: >= Two approvals ✅ ✅, Feature ✨, @ Client / Controls / Input, Formspec, UI/UX

#14586 Client: fix unknown texture upon shift-move to full inventory list
  src/inventory.cpp
  src/unittest/test_moveaction.cpp
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Bugfix 🐛

#14475 Add physics overrides for walk speed and Fast Mode (adoption)
  doc/client_lua_api.md
  doc/lua_api.md
  src/client/content_cao.cpp
  src/client/localplayer.cpp
  src/player.h
  src/script/lua_api/l_localplayer.cpp
  src/script/lua_api/l_object.cpp
  src/server/player_sao.cpp
Labels: @ Script API, Feature ✨, @ Client / Controls / Input, Supported by core dev

#14568 Add minetest.get_gen_notify to mapgen env
  src/script/lua_api/l_mapgen.cpp
Labels: @ Script API, One approval ✅ ◻️, Feature ✨

#14601 Document empty string as form name
  doc/lua_api.md
  src/script/lua_api/l_server.cpp
Labels: @ Documentation, Trivial, One approval ✅ ◻️
