Repository luanti-org/luanti, pull requests merged in 2025-07, with the labels that each got.

#16250 Add keybinding for world close key
  builtin/common/settings/components.lua
  builtin/settingtypes.txt
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/defaultsettings.cpp
Labels: >= Two approvals ✅ ✅, Bugfix 🐛, Feature ✨, @ Client / Controls / Input, UI/UX

#16300 Use unique_ptr for trivial ownership
  src/client/client.cpp
  src/client/client.h
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/map_settings_manager.cpp
  src/map_settings_manager.h
  src/network/clientpackethandler.cpp
  src/nodemetadata.cpp
  src/nodemetadata.h
  src/pathfinder.cpp
Labels: Maintenance, One approval ✅ ◻️, Code quality

#14135 Add persistent unique identifiers for objects
  builtin/game/features.lua
  doc/lua_api.md
  doc/world_format.md
  games/devtest/mods/unittests/entity.lua
  games/devtest/mods/unittests/player.lua
  src/benchmark/benchmark_activeobjectmgr.cpp
  src/script/cpp_api/s_base.cpp
  src/script/lua_api/l_object.cpp
  src/script/lua_api/l_object.h
  src/script/scripting_server.cpp
  src/server/luaentity_sao.cpp
  src/server/luaentity_sao.h
  src/server/player_sao.cpp
  src/server/player_sao.h
  src/server/serveractiveobject.h
  src/serverenvironment.h
  src/unittest/mock_serveractiveobject.h
  src/util/CMakeLists.txt
  src/util/guid.cpp
  src/util/guid.h
Labels: @ Script API, Roadmap, >= Two approvals ✅ ✅, Feature ✨

#16326 Fix downward shadows at time 12000
  irr/include/matrix4.h
  src/client/shadows/dynamicshadows.cpp
Labels: >= Two approvals ✅ ✅, Bugfix 🐛

#16297 Include Header files in project
  irr/src/CMakeLists.txt
  lib/bitop/CMakeLists.txt
  lib/catch2/CMakeLists.txt
  lib/gmp/CMakeLists.txt
  lib/jsoncpp/CMakeLists.txt
  lib/lua/src/CMakeLists.txt
  lib/sha256/CMakeLists.txt
  src/CMakeLists.txt
  src/benchmark/CMakeLists.txt
  src/client/CMakeLists.txt
  src/content/CMakeLists.txt
  src/database/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/irrlicht_changes/CMakeLists.txt
  src/mapgen/CMakeLists.txt
  src/network/CMakeLists.txt
  src/script/CMakeLists.txt
  src/script/common/CMakeLists.txt
  src/script/cpp_api/CMakeLists.txt
  src/script/lua_api/CMakeLists.txt
  src/server/CMakeLists.txt
  src/threading/CMakeLists.txt
  src/unittest/CMakeLists.txt
  src/util/CMakeLists.txt
Labels: @ Build, One approval ✅ ◻️

#16322 [no squash] Banish `copyToWithAlpha`
  irr/include/IImage.h
  irr/src/CBlit.h
  irr/src/CImage.cpp
  irr/src/CImage.h
  irr/src/SoftwareDriver2_helper.h
  src/client/imagesource.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client rendering

#16351 ParticleSpawner: Fix crash caused by empty texture
  src/client/particles.cpp
  src/noise.cpp
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Bugfix 🐛

#16349 Make `max_formspec_size` clearer
  doc/lua_api.md
Labels: @ Documentation, Trivial, One approval ✅ ◻️, Bugfix 🐛

#16357 Extend error case tests
  .github/workflows/linux.yml
  util/helper_mod/init.lua
  util/helper_mod/mapgen_error.lua
  util/test_error_cases.sh
Labels: @ Server / Client / Env., Maintenance, 1 approval rule

#16367 Fix flakey matrix rotation unit test for now
  src/unittest/test_irr_matrix4.cpp
Labels: Maintenance, Trivial, One approval ✅ ◻️, Bugfix 🐛, Unit tests
