Repository luanti-org/luanti, pull requests merged in 2025-04, with the labels that each got.

#15960 Slight fix to #15949 to handle emerge queue full
  src/server/clientiface.cpp
Labels: @ Server / Client / Env., One approval ✅ ◻️, Bugfix 🐛

#15950 Deprecate some legacy item registration logic
  builtin/game/register.lua
Labels: Maintenance, Trivial

#15966 docs: Max area volume is now 150 million
  doc/lua_api.md
Labels: @ Documentation, Trivial, Bugfix 🐛

#15965 ImageSource: restrict max dimensions to protect from integer overflows
  src/client/imagesource.cpp
  src/client/imagesource.h
Labels: @ Client / Audiovisuals, Bugfix 🐛, 1 approval rule, Security

#15956 lua_api.md: More info in LBM run_at_every_load documentation
  doc/lua_api.md
Labels: @ Script API, @ Documentation, One approval ✅ ◻️

#15972 lua_api.md: Mapblock-related and misc improvements
  doc/lua_api.md
Labels: @ Server / Client / Env., @ Script API, @ Documentation, >= Two approvals ✅ ✅

#15931 Add delay between punching and digging node
  src/client/game.cpp
Labels: Roadmap, >= Two approvals ✅ ✅, Feature ✨, @ Client / Controls / Input

#15930 Draw node animation for items
  src/client/camera.cpp
  src/client/content_cao.cpp
  src/client/mapblock_mesh.cpp
  src/client/mapblock_mesh.h
  src/client/tile.cpp
  src/client/tile.h
  src/client/wieldmesh.cpp
  src/client/wieldmesh.h
  src/gui/drawItemStack.cpp
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Feature ✨, Roadmap: supported by core dev

#15967 Move client code out of ItemDefManager
  src/client/CMakeLists.txt
  src/client/client.cpp
  src/client/client.h
  src/client/game.cpp
  src/client/item_visuals_manager.cpp
  src/client/item_visuals_manager.h
  src/client/wieldmesh.cpp
  src/gui/drawItemStack.cpp
  src/itemdef.cpp
  src/itemdef.h
Labels: One approval ✅ ◻️, Code quality

#15975 Break liquid reflow scan early for all-air blocks
  src/reflowscan.cpp
Labels: Performance, One approval ✅ ◻️

#15989 Fix class forward declaration
  src/client/item_visuals_manager.h
Labels: Trivial, Bugfix 🐛

#14631 Add spatial index for objects
  irr/include/vector3d.h
  src/activeobjectmgr.h
  src/benchmark/benchmark_activeobjectmgr.cpp
  src/collision.cpp
  src/server/activeobjectmgr.cpp
  src/server/activeobjectmgr.h
  src/server/luaentity_sao.cpp
  src/server/player_sao.cpp
  src/server/player_sao.h
  src/server/serveractiveobject.cpp
  src/server/serveractiveobject.h
  src/serverenvironment.cpp
  src/serverenvironment.h
  src/unittest/CMakeLists.txt
  src/unittest/test_k_d_tree.cpp
  src/unittest/test_serveractiveobjectmgr.cpp
  src/util/k_d_tree.h
Labels: Testing needed, Performance, One approval ✅ ◻️

#15990 Improve some warning messages
  builtin/game/register.lua
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_util.cpp
Labels: Maintenance, One approval ✅ ◻️, Bugfix 🐛

#15977 Fix operator[] for vector2d and vector3d being potentially UB
  irr/include/irrTypes.h
  irr/include/vector2d.h
  irr/include/vector3d.h
  irr/src/OpenGL/Driver.cpp
  irr/src/os.h
Labels: One approval ✅ ◻️, Bugfix 🐛

#15254 ContentDB: Add reviews tab
  LICENSE.txt
  builtin/async/mainmenu.lua
  builtin/mainmenu/content/contentdb.lua
  builtin/mainmenu/content/dlg_package.lua
  textures/base/pack/contentdb_neutral.png
  textures/base/pack/contentdb_thumb_down.png
  textures/base/pack/contentdb_thumb_up.png
Labels: Roadmap, >= Two approvals ✅ ✅, Feature ✨, @ Mainmenu, @ Content / PkgMgr

#16000 Optimize name-id-lookup for mapblock serialization
  src/mapblock.cpp
Labels: Performance, One approval ✅ ◻️

#16026 Expand usable range of decoration fill_ratio to etc 2.3e-10.
  src/mapgen/mg_decoration.cpp
Labels: @ Mapgen, Trivial, One approval ✅ ◻️, Bugfix 🐛, Feature ✨

#16028 Reuse some allocations in ClientMap rendering
  src/client/clientmap.cpp
Labels: Trivial, Performance, @ Client rendering

#15971 Add `allow_close[]` element to formspecs
  README.md
  doc/lua_api.md
  games/devtest/mods/testformspec/formspec.lua
  src/client/game.cpp
  src/client/game_formspec.cpp
  src/client/inputhandler.cpp
  src/gui/guiEngine.cpp
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: @ Script API, Roadmap, One approval ✅ ◻️, Feature ✨, Formspec, UI/UX

#16032 Warning fix in mg_decoration.cpp
  src/mapgen/mg_decoration.cpp
Labels: @ Server / Client / Env., @ Mapgen, Trivial, Bugfix 🐛

#16030 Fix cross-building by ensuring output path is set
  src/CMakeLists.txt
Labels: @ Build, Trivial, One approval ✅ ◻️, Bugfix 🐛

#15863 Add vcpkg.json
  .github/workflows/windows.yml
  vcpkg.json
Labels: @ Build, Windows, One approval ✅ ◻️, Feature ✨

#16046 Show SDL version in the About tab
  irr/include/IrrlichtDevice.h
  irr/src/CIrrDeviceSDL.h
  src/script/lua_api/l_mainmenu.cpp
Labels: Trivial, @ Mainmenu, 1 approval rule

#16025 SDL: Send events for X1 and X2 mouse buttons
  irr/src/CIrrDeviceSDL.cpp
Labels: One approval ✅ ◻️, Feature ✨, @ Client / Controls / Input, Roadmap: supported by core dev

#15791 Move keybinding settings to (Lua-based) setting menu
  .luacheckrc
  builtin/common/menu.lua
  builtin/common/settings/components.lua
  builtin/common/settings/dlg_settings.lua
  builtin/common/settings/settingtypes.lua
  builtin/mainmenu/init.lua
  builtin/pause_menu/init.lua
  builtin/settingtypes.txt
  doc/menu_lua_api.md
  src/client/game_formspec.cpp
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/gui/CMakeLists.txt
  src/gui/guiButtonKey.cpp
  src/gui/guiButtonKey.h
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiKeyChangeMenu.cpp
  src/gui/guiKeyChangeMenu.h
  src/gui/mainmenumanager.h
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
  src/script/lua_api/l_menu_common.cpp
  src/script/lua_api/l_menu_common.h
  src/script/lua_api/l_pause_menu.cpp
  src/script/lua_api/l_pause_menu.h
Labels: >= Two approvals ✅ ✅, Feature ✨, @ Mainmenu, @ Client / Controls / Input, UI/UX

#15872 Make it more convenient to implement item/player/entity abilities that modify node drops
  builtin/game/item.lua
  doc/lua_api.md
Labels: @ Script API, Roadmap, >= Two approvals ✅ ✅, Feature ✨

#16034 Handle texture filtering sanely to avoid blurriness
  builtin/settingtypes.txt
  doc/lua_api.md
  src/client/content_cao.cpp
  src/client/imagesource.cpp
  src/client/wieldmesh.cpp
  src/constants.h
  src/defaultsettings.cpp
  src/nodedef.cpp
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Bugfix 🐛, Textures, Feature ✨

#16037 Use map_compression_level_disk from minetest.conf in recompress_map_data
  src/main.cpp
Labels: @ Startup / Config / Util, >= Two approvals ✅ ✅, Bugfix 🐛

#16038 Client: protect against circular attachments
  src/client/content_cao.cpp
  src/server/unit_sao.cpp
Labels: @ Server / Client / Env., One approval ✅ ◻️, Bugfix 🐛

#16042 Fix scrollbar on ContentDB grid by adding an area label
  builtin/mainmenu/content/dlg_contentdb.lua
  doc/lua_api.md
  src/gui/guiFormSpecMenu.cpp
  src/network/networkprotocol.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, Feature ✨, @ Content / PkgMgr, Formspec, UI/UX

#16013 [no squash] Fix for blocks sometimes not being updated on the client plus some RemoteClient improvements
  src/map.h
  src/server.cpp
  src/server/clientiface.cpp
  src/server/clientiface.h
  src/servermap.cpp
Labels: @ Server / Client / Env., @ Network, Maintenance, Performance, One approval ✅ ◻️, Bugfix 🐛

#16058 Switch to smallint for position keys (x,y,z) in postgres backend
  src/database/database-postgresql.cpp
Labels: @ Server / Client / Env., Performance, One approval ✅ ◻️

#16056 Move profiler calls out of hot path in ClientMap
  src/client/clientmap.cpp
Labels: Trivial, Bugfix 🐛, @ Client rendering, Code quality

#16057 Deprecate function support in `core.[de]serialize`
  builtin/common/misc_helpers.lua
  builtin/common/serialize.lua
  builtin/common/tests/serialize_spec.lua
  doc/breakages.md
  doc/lua_api.md
Labels: @ Script API, Maintenance, One approval ✅ ◻️, @ Builtin

#16071 Change exit keybinding and fix bug in allow_close[]
  README.md
  src/client/inputhandler.cpp
  src/gui/guiFormSpecMenu.h
Labels: >= Two approvals ✅ ✅, Bugfix 🐛, @ Client / Controls / Input, Formspec

#16076 CI: Use gcc-9 and clang-11 with Ubuntu 22.04
  .github/workflows/linux.yml
Labels: @ Build, Maintenance, >= Two approvals ✅ ✅

#13125 Android: Persistent notification while ingame
  android/app/src/main/java/net/minetest/minetest/GameActivity.java
  android/app/src/main/java/net/minetest/minetest/MainActivity.java
  android/app/src/main/java/net/minetest/minetest/UnzipService.java
  android/app/src/main/res/values/strings.xml
  src/client/game.cpp
  src/porting_android.cpp
  src/porting_android.h
Labels: Android, >= Two approvals ✅ ✅, Feature ✨, Concept approved, UI/UX

#16078 Replace broken What is Minetest? link with archived copy
  doc/direction.md
Labels: @ Documentation, Trivial, One approval ✅ ◻️

#16072 Add how to run unit tests after compile instructions
  doc/compiling/linux.md
Labels: @ Documentation, Trivial, >= Two approvals ✅ ✅

#15206 Add testeditor to devtest for easier testing.
  games/devtest/mods/testeditor/init.lua
  games/devtest/mods/testeditor/mod.conf
  src/unittest/test_servermodmanager.cpp
Labels: >= Two approvals ✅ ✅, Feature ✨, @ Devtest Game, Roadmap: supported by core dev

#16086 [manual merge] glTF improvements
  irr/src/CGLTFMeshFileLoader.cpp
  src/unittest/test_irr_gltf_mesh_loader.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client rendering
