Repository luanti-org/luanti, pull requests merged in 2025-08, with the labels that each got.

#16368 Update credits for 5.13.0
  builtin/mainmenu/credits.json
  util/gather_git_credits.py
Labels: Maintenance, One approval ✅ ◻️

#16356 Add a bit of debug code around MapBlock refcounting
  src/client/clientmap.cpp
  src/client/clientmap.h
  src/map.cpp
  src/mapblock.h
  src/mapsector.cpp
  src/mapsector.h
Labels: @ Server / Client / Env., Maintenance, One approval ✅ ◻️

#16269 Android: open input dialog on double tap with physical keyboard.
  src/gui/modalMenu.cpp
Labels: Android, One approval ✅ ◻️, @ Client / Controls / Input

#16372 Update builtin locale files
  builtin/locale/__builtin.de.tr
  builtin/locale/__builtin.eo.tr
  builtin/locale/__builtin.fr.tr
  builtin/locale/__builtin.id.tr
  builtin/locale/__builtin.it.tr
  builtin/locale/__builtin.ms.tr
  builtin/locale/__builtin.pt_BR.tr
  builtin/locale/__builtin.ru.tr
  builtin/locale/template.txt
Labels: @ Translation, >= Two approvals ✅ ✅, @ Builtin

#16387 Add script to download and sign Android builds from GitHub Actions
  util/download_sign_android.sh
Labels: @ Build, Android

#16413 Issues: specify that LLM-generated wall of texts are not allowed
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: Trivial, @ Meta

#16283 GUIInventoryList: Override `isPointInside()`
  src/gui/guiInventoryList.cpp
  src/gui/guiInventoryList.h
Labels: Maintenance, One approval ✅ ◻️, Code quality, Formspec

#16442 Allow float values for HTTPRequest.timeout
  src/script/lua_api/l_http.cpp
Labels: @ Script API, >= Two approvals ✅ ✅, Feature ✨

#14602 Add API to cancel async jobs
  builtin/game/async.lua
  doc/lua_api.md
  games/devtest/mods/unittests/async_env.lua
  src/script/cpp_api/s_async.cpp
  src/script/cpp_api/s_async.h
  src/script/lua_api/CMakeLists.txt
  src/script/lua_api/l_async.cpp
  src/script/lua_api/l_async.h
  src/script/lua_api/l_server.cpp
  src/script/lua_api/l_server.h
  src/script/scripting_server.cpp
  src/script/scripting_server.h
Labels: @ Script API, >= Two approvals ✅ ✅, Feature ✨, Concept approved
