Repository luanti-org/luanti, pull requests merged in 2025-03, with the labels that each got.

#15848 Use fallback font correctly for fonts provided by the server
  src/client/fontengine.cpp
Labels: >= Two approvals ✅ ✅, Bugfix 🐛, @ Client rendering

#15850 Fix Microsoft Visual Studio error: string is not a member of std #15843
  src/script/common/c_converter.h
  src/script/common/c_internal.h
Labels: @ Build, Windows, Trivial, One approval ✅ ◻️

#15824 Centered title in README.md and added icon
  README.md
Labels: @ Documentation, Trivial, >= Two approvals ✅ ✅

#15853 Android: update SDL support code
  android/SDL_Java_RMB_fix.patch
  android/app/src/main/java/org/libsdl/app/SDLActivity.java
Labels: Maintenance, Trivial, One approval ✅ ◻️

#15860 Fix includes in skyparams.h
  src/skyparams.h
Labels: Maintenance, Trivial, >= Two approvals ✅ ✅, Code quality

#15859 Disable debug-breaking locale workaround when debugging
  src/gettext.cpp
Labels: @ Translation, >= Two approvals ✅ ✅

#15785 Make `Sneak` and `Aux1` optionally togglable
  builtin/settingtypes.txt
  src/client/game.cpp
  src/defaultsettings.cpp
Labels: >= Two approvals ✅ ✅, Feature ✨, @ Client / Controls / Input, Concept approved

#15681 Replace object visual by enum
  src/client/content_cao.cpp
  src/object_properties.cpp
  src/object_properties.h
  src/script/common/c_content.cpp
  src/server/player_sao.cpp
Labels: Maintenance, >= Two approvals ✅ ✅, Code quality

#15878 Client: Avoid touching all blocks in range every 0.2s
  src/client/game.cpp
Labels: Performance, One approval ✅ ◻️, @ Client rendering

#15887 Echo DMs sent with /msg
  builtin/game/chat.lua
Labels: Trivial, One approval ✅ ◻️, @ Builtin

#15868 Move drawItemStack out of hud.h/cpp
  src/client/hud.cpp
  src/client/hud.h
  src/gui/CMakeLists.txt
  src/gui/drawItemStack.cpp
  src/gui/drawItemStack.h
  src/gui/guiButtonItemImage.cpp
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiHyperText.cpp
  src/gui/guiInventoryList.cpp
  src/gui/guiItemImage.cpp
Labels: Maintenance, One approval ✅ ◻️, Code quality

#15890 Refresh win32 toolchain and libraries
  .github/workflows/windows.yml
  util/buildbot/common.sh
  util/buildbot/download_toolchain.sh
  util/buildbot/sha256sums.txt
Labels: @ Build, Windows, 1 approval rule testing

#15881 Clean up and compress some pre-join packets
  builtin/game/misc_s.lua
  games/devtest/mods/unittests/version.lua
  src/client/client.cpp
  src/network/clientpackethandler.cpp
  src/network/networkpacket.cpp
  src/network/networkpacket.h
  src/network/networkprotocol.cpp
  src/network/networkprotocol.h
  src/server.cpp
  src/server.h
  src/util/serialize.cpp
  src/util/serialize.h
Labels: @ Network, Performance, One approval ✅ ◻️

#15754 Add `table.copy_with_metatables`
  .luacheckrc
  builtin/common/misc_helpers.lua
  builtin/common/tests/misc_helpers_spec.lua
  doc/lua_api.md
Labels: @ Script API, One approval ✅ ◻️, Feature ✨

#15893 Improve robustness of GL object handling
  irr/src/COpenGLCoreCacheHandler.h
  irr/src/COpenGLCoreRenderTarget.h
  irr/src/COpenGLCoreTexture.h
  irr/src/OpenGL/Driver.cpp
Labels: Trivial, @ Client rendering

#15900 Reload font manager in main thread to avoid a crash
  src/client/fontengine.cpp
  src/client/fontengine.h
  src/client/game.cpp
  src/gui/guiEngine.cpp
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Bugfix 🐛

#15867 Mostly deal with problems caused by polygon offset
  src/client/tile.cpp
  src/client/tile.h
  src/nodedef.cpp
Labels: @ Client / Audiovisuals, One approval ✅ ◻️, Bugfix 🐛

#15773 Bump OARS content rating to 1.1
  misc/net.minetest.minetest.metainfo.xml
Labels: @ Documentation, One approval ✅ ◻️

#14964 SDL: Use scancodes for keybindings
  irr/include/IrrlichtDevice.h
  irr/include/Keycodes.h
  irr/src/CIrrDeviceSDL.cpp
  irr/src/CIrrDeviceSDL.h
  src/client/inputhandler.cpp
  src/client/keycode.cpp
  src/client/keycode.h
  src/defaultsettings.cpp
  src/gui/guiKeyChangeMenu.cpp
  src/gui/modalMenu.cpp
  src/gui/touchcontrols.cpp
  src/gui/touchcontrols.h
  src/unittest/test_keycode.cpp
Labels: High priority, Roadmap, One approval ✅ ◻️, Feature ✨, @ Client / Controls / Input

#15917 Do not discover mod directories that fail parsing
  src/content/mods.cpp
  src/content/mods.h
  src/script/lua_api/l_mainmenu.cpp
Labels: >= Two approvals ✅ ✅, Bugfix 🐛

#15912 [no sq] Increase strictness for item registration / overrides
  builtin/async/game.lua
  builtin/emerge/register.lua
  builtin/game/register.lua
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Builtin

#15885 Make remote media exclusively use GET for hash set
  src/client/clientmedia.cpp
  src/client/clientmedia.h
Labels: One approval ✅ ◻️, Feature ✨, Breaking Change

#15845 TouchControls: Implement an option for dig/place buttons
  LICENSE.txt
  android/icons/dig_btn.svg
  android/icons/place_btn.svg
  builtin/common/settings/dlg_settings.lua
  builtin/settingtypes.txt
  doc/texture_packs.md
  src/defaultsettings.cpp
  src/gui/touchcontrols.cpp
  src/gui/touchcontrols.h
  src/gui/touchscreeneditor.cpp
  src/gui/touchscreenlayout.cpp
  src/gui/touchscreenlayout.h
  src/migratesettings.h
  textures/base/pack/dig_btn.png
  textures/base/pack/place_btn.png
Labels: Android, One approval ✅ ◻️, Feature ✨, @ Client / Controls / Input, UI/UX

#15923 Improve KeyPress handling
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/client/keycode.cpp
  src/client/keycode.h
  src/gui/guiKeyChangeMenu.cpp
  src/gui/touchcontrols.cpp
  src/gui/touchcontrols.h
Labels: Maintenance, Bugfix 🐛, @ Client / Controls / Input

#15870 Fix logic inversion for dynamic media (server-side fix)
  src/server.cpp
Labels: @ Network, >= Two approvals ✅ ✅, Bugfix 🐛

#15941 Fix possible nullptr dereference in serverpackethandler.cpp
  src/network/serverpackethandler.cpp
Labels: Trivial, >= Two approvals ✅ ✅, Code quality

#15939 Mainmenu: Trim whitespace from player name, address, port
  src/script/lua_api/l_mainmenu.cpp
Labels: Trivial, One approval ✅ ◻️, @ Mainmenu, UI/UX

#15932 IrrlichtMt: Fix orientation of IRenderTarget-textures
  irr/src/OpenGL/Driver.cpp
Labels: One approval ✅ ◻️, Bugfix 🐛, @ Client rendering

#15925 Fix `core.get_content_info` docs and harden implementation
  doc/menu_lua_api.md
  src/script/lua_api/l_mainmenu.cpp
Labels: @ Documentation, >= Two approvals ✅ ✅, Bugfix 🐛, @ Engine Core

#15947 Restore behavior of emergequeue_limit_total
  src/emerge.cpp
Labels: @ Server / Client / Env., Trivial, One approval ✅ ◻️, Bugfix 🐛, Regression

#15936 TouchControls: Take FOV into account for camera movement
  src/client/game.cpp
Labels: Android, Trivial, Bugfix 🐛, @ Client / Controls / Input, UI/UX

#15949 Check if a block is already in the emege queue before checking occlusion culling and trying to reemerge
  src/server/clientiface.cpp
Labels: @ Server / Client / Env., Performance, One approval ✅ ◻️

#15958 [No squash] Improve hand override documentation and add special items documentation
  doc/lua_api.md
Labels: @ Documentation, One approval ✅ ◻️

#15897 Formspec: fix clamped scroll offset of 'scroll_container's larger than 1000 px
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiScrollBar.cpp
  src/gui/guiScrollBar.h
  src/gui/guiScrollContainer.cpp
  src/gui/guiScrollContainer.h
Labels: One approval ✅ ◻️, Bugfix 🐛, Formspec

#15933 Refactor input handler
  src/client/game.cpp
  src/client/game_formspec.cpp
  src/client/inputhandler.cpp
  src/client/inputhandler.h
  src/client/keycode.h
Labels: Maintenance, One approval ✅ ◻️, @ Client / Controls / Input

#15952 Refactor createShadowRenderer
  src/client/shadows/dynamicshadowsrender.cpp
Labels: Trivial, One approval ✅ ◻️, Code quality

#15954 Set StartupWMClass
  misc/net.minetest.minetest.desktop
Labels: Trivial, One approval ✅ ◻️
